<template>
  <div class="School">
    <section class="SectionHeader">
      <img src="@/assets/Photo/background_schoolsearch.jpg"/>
    </section>
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class School extends Vue {

  /* VUEX */

  /* INITIALIZATION */
  constructor() {
    super();
  }

  /* LIFECYCLE */
  /* METHOD */
}
</script>
