<template>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- Making stripe menu -->
  <nav class="st-nav navbar main-nav navigation fixed-top dark-link"
       id="main-nav">
    <div class="container">
      <ul class="st-nav-menu nav navbar-nav">
        <li class="st-nav-section nav-item">
          <router-link :to="{name : 'landing'}"
             class="navbar-brand">
            <img src="@/assets/Logo/career_support_logo_color.png"
                 alt="Career Support"
                 class="logo logo-sticky">
          </router-link>
        </li>
        <li class="st-nav-section st-nav-primary nav-item">
          <router-link class="st-root-link nav-link"
                       :to="{name: 'candidate'}">
            Pencari Kerja
          </router-link>
          <router-link class="st-root-link nav-link"
                       :to="{name: 'school'}">
            Pusat Karir
          </router-link>
          <router-link class="st-root-link nav-link"
                       :to="{name: 'company'}">
            Perusahaan
          </router-link>
        </li>
        <!--<li class="st-nav-section st-nav-secondary nav-item">
          <a class="btn btn-rounded btn-outline mr-3 px-3"
             href="login.html"
             target="_blank">
            <i class="fas fa-sign-in-alt d-none d-md-inline mr-md-0 mr-lg-2"></i>
            <span class="d-md-none d-lg-inline">Login</span>
          </a>
          <a class="btn btn-rounded btn-solid px-3"
             target="_blank">
            <i class="fas fa-user-plus d-none d-md-inline mr-md-0 mr-lg-2"></i>
            <span class="d-md-none d-lg-inline">Signup</span>
          </a>
        </li>-->
        <li class="st-nav-section st-nav-mobile nav-item">
          <button class="st-root-link navbar-toggler"
                  type="button"
                  @click="navbarToggler()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="st-popup">
            <div class="st-popup-container">
              <a class="st-popup-close-button"
                 @click="navbarToggler()">
                Close
              </a>
              <div class="st-dropdown-content-group">
                <h4 class="text-uppercase regular">Pages</h4>
                <router-link class="regular text-primary"
                             :to="{name: 'candidate'}">
                  <i class="far fa-building icon"></i> Pencari Kerja
                </router-link>
                <router-link class="regular text-success"
                             :to="{name: 'school'}">
                  <i class="far fa-envelope icon"></i> Sekolah
                </router-link>
                <router-link class="regular text-warning"
                             :to="{name: 'company'}">
                  <i class="fas fa-hand-holding-usd icon"></i> Perusahaan
                </router-link>
              </div>
              <!--<div class="st-dropdown-content-group bg-light b-t">
                <a href="login.html">
                  Sign in <i class="fas fa-arrow-right"></i>
                </a>
              </div>-->
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="st-dropdown-root">
      <div class="st-dropdown-bg">
        <div class="st-alt-bg"></div>
      </div>
      <div class="st-dropdown-arrow"></div>
      <div class="st-dropdown-container">
        <div class="st-dropdown-section" data-dropdown="blocks">
	  <div class="st-dropdown-content">
	    <div class="st-dropdown-content-group">

	    </div>
	  </div>
	</div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import $ from 'jquery';
import { Component, Prop, Vue } from 'vue-property-decorator';
import {
  CANDIDAT_SIGNUP, CANDIDAT_SIGNIN,
  SCHOOL_SIGNUP, SCHOOL_SIGNIN,
  COMPANY_SIGNUP, COMPANY_SIGNIN,
} from '@/constants/portal.constant';

@Component
export default class NavbarComponent extends Vue {

  /* PROP */

  @Prop({default: false})
  private logoColor: boolean;

  /* INITIALIZATION */

  private candidateSignup: string = CANDIDAT_SIGNUP;
  private candidateSignin: string = CANDIDAT_SIGNIN;

  private schoolSignup: string = SCHOOL_SIGNUP;
  private schoolSignin: string = SCHOOL_SIGNIN;

  private companySignup: string = COMPANY_SIGNUP;
  private companySignin: string = COMPANY_SIGNIN;

  constructor() {
    super();
  }
}
</script>
