.mockup img {
  max-width: 150px;
  margin: 15px auto;
}

.slider-testimonials .card-body {
  padding-top: 0;
  padding-bottom: 0;
}

.slider-testimonials .image-background {
  max-height: 650px;
}

.position-r1 {
  position: relative;
  z-index: 1;
}
