<i18n>
{
  "en": {
  "footer": "Copyright {year} by Career Support - All Rights Reserved"
  },
  "id": {
  "footer": "Hak Cipta {year} oleh Career Support – Hak Cipta dilindungi oleh Undang-Undang"
  }
}
</i18n>

<template>
  <div>
  <footer class="site-footer section text-center block bg-contrast">
    
		<nav class="nav social-icons justify-content-center mt-4">
      <a href="https://www.facebook.com/CareerSupport.id/" target="_blank" class="mr-3 font-regular text-secondary"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/careersupport.id/" target="_blank" class="mr-3 font-regular text-secondary"><i class="fab fa-instagram"></i></a>
    </nav>

		<div class="container pt-2">
			<div class="row align-items-center">
				<div class="col-md-5 text-center text-md-left">
					<nav class="nav justify-content-center justify-content-md-start" id="footer-nav">
          <router-link class="nav-item nav-link" :to="{name : 'about'}">Tentang Kami</router-link>
          <router-link class="nav-item nav-link" :to="{name : 'termandcondition'}">Syarat & Ketentuan</router-link> 
          <router-link class="nav-item nav-link" :to="{name : 'contactus'}">Pusat Bantuan</router-link></nav>
				</div>
        <div class="col-md-5 text-center text-md-left">
          <p class="small copyright text-secondary">© 2018 Career Support</p>
        </div>
				<div class="col-md-2 text-center"><img src="@/assets/Logo/career_support_logo_color.png" alt="" class="logo"></div>
			</div>
		</div>

	</footer>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
@Component
export default class FooterComponent extends Vue {
  constructor() {
    super();
  }
}
</script>

