<i18n>
{
  "en": {
    "candidate": "Candidate",
    "school": "School",
    "company": "Company",
    "signup": "Signup",
    "signin": "Signin",
    "as_candidate": "As Candidate",
    "as_school": "As School",
    "as_company": "As Company",
    "school_admin": "School Admin",
    "company_admin": "Company Admin"
  },
  "id": {
    "candidate": "Kandidat",
    "school": "Sekolah",
    "company": "Perusahaan",
    "signup": "Daftar",
    "signin": "Masuk",
    "as_candidate": "Kandidat",
    "as_school": "Admin Sekolah",
    "as_company": "Admin Perusahaan",
    "school_admin": "Admin Sekolah",
    "company_admin": "Admin Perusahaan"
  }
}
</i18n>
<template>
  
  <nav class="st-nav navbar main-nav navigation fixed-top "
       id="main-nav">
    <div class="container">
      <ul class="st-nav-menu nav navbar-nav">
        <li class="st-nav-section nav-item">
          <router-link class="navbar-brand"
                       :to="{name: 'landing'}">
            <img src="@/assets/Logo/career_support_logo_color.png"
                 alt="Career Support"
                 class="logo logo-sticky">
          </router-link>
        </li>
        <li class="st-nav-section st-nav-primary nav-item pl-5" style="color : #ffffff">
          
          <router-link class="st-root-link nav-link"
                       :to="{name: 'candidate'}">
            Pencari Kerja
          </router-link>
          <router-link class="st-root-link nav-link"
                       :to="{name: 'school'}">
            Pusat Karir
          </router-link>
          <router-link class="st-root-link nav-link"
                       :to="{name: 'company'}">
            Perusahaan
          </router-link>
        </li>
        <li v-if="showAuth" class="st-nav-section st-nav-secondary nav-item"><a class="btn btn-rounded btn-outline mr-3 px-3" :href="loginLink" target="_blank"><i class="fas fa-sign-in-alt d-none d-md-inline mr-md-0 mr-lg-2"></i> <span class="d-md-none d-lg-inline">Masuk</span> </a><a class="btn btn-rounded btn-solid px-3" :href="signupLink" target="_blank"><i class="fas fa-user-plus d-none d-md-inline mr-md-0 mr-lg-2"></i> <span class="d-md-none d-lg-inline">{{wordingSignUp}}</span></a></li>
        
        <li class="st-nav-section st-nav-mobile nav-item">
          <button class="st-root-link navbar-toggler"
                  type="button"
                  @click="navbarToggler()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="st-popup">
            <div class="st-popup-container">
              <a class="st-popup-close-button"
                 @click="navbarToggler()">
                Close
              </a>
              <div class="st-dropdown-content-group">
                <h4 class="text-uppercase regular">Pages</h4>
                <router-link class="regular text-primary"
                             :to="{name: 'candidate'}">
                  <i class="far fa-building icon"></i> Pencari Kerja
                </router-link>
                <router-link class="regular text-success"
                             :to="{name: 'school'}">
                  <i class="far fa-envelope icon"></i> Pusat Karir
                </router-link>
                <router-link class="regular text-warning"
                             :to="{name: 'company'}">
                  <i class="fas fa-hand-holding-usd icon"></i> Perusahaan
                </router-link>
              </div>
              
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="st-dropdown-root">
      <div class="st-dropdown-bg">
        <div class="st-alt-bg"></div>
      </div>
      <div class="st-dropdown-arrow"></div>
      <div class="st-dropdown-container">
        <div class="st-dropdown-section" data-dropdown="blocks">
	  <div class="st-dropdown-content">
	    <div class="st-dropdown-content-group">

	    </div>
	  </div>
	</div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import $ from 'jquery';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Watch } from 'vue-property-decorator';
import { Action, Mutation, State } from 'vuex-class';

import FlagIcon from '@/components/icons/FlagIcon.vue';

import {
  CANDIDAT_SIGNUP, CANDIDAT_SIGNIN,
  SCHOOL_SIGNUP, SCHOOL_SIGNIN,
  COMPANY_SIGNUP, COMPANY_SIGNIN,
} from '@/constants/portal.constant';

@Component({
  components: {
    FlagIcon,
  },
})
export default class NavbarComponent extends Vue {

  /* VUEX */

  // MUTATION
  @Mutation('mutationLocale')
  private mutationLocale: any;

  // STATE
  @State('locale')
  private locale: string;

  /* PROP */

  @Prop({default: false})
  private logoColor: boolean;
  @Prop({default: '#'})
  private loginLink: string;
  @Prop({default: '#'})
  private signupLink: string;
  @Prop({default: 'Daftar'})
  private wordingSignUp: string;
  @Prop({default: true})
  private showAuth: boolean;

  /* INITIALIZATION */

  private candidateSignup: string = CANDIDAT_SIGNUP;
  private candidateSignin: string = CANDIDAT_SIGNIN;

  private schoolSignup: string = SCHOOL_SIGNUP;
  private schoolSignin: string = SCHOOL_SIGNIN;

  private companySignup: string = COMPANY_SIGNUP;
  private companySignin: string = COMPANY_SIGNIN;

  constructor() {
    super();
  }

  /* COMPUTED */

  get flag(): string {
    return this.locale === 'en' ? 'us' : 'id';
  }

  /* LIFECYCLE */

  private created() {
    this.$i18n.locale = this.locale;
    
  }

  /* METHOD */

  private checkMenuActive(menu: string[]): boolean {
    if ((document.getElementById('checkboxNavToggle') as any)) {
      (document.getElementById('checkboxNavToggle') as any).checked = false;
    }
    return menu.includes(String(this.$route.name));
  }

  private changeLanguage(lang: string) {
    this.mutationLocale(lang);
    this.$i18n.locale = lang;
  }
}
</script>
<style lang="scss">
#main-nav {
  a {
    &.router-link-exact-active {
      color: #0083dd;
    }
  }
}
#footer-nav {
  a {
    &.router-link-exact-active {
      color: #5533ff;
    }
  }
}
</style>