<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Career Support">
    <meta property="og:title" content="Platform digital manajemen karir dan pekerjaan untuk pusat karir sekolah dan fresh graduate pencari kerja" />
    <meta property="og:description" content="Kami hadir untuk memfasilitasi dan mempermudah fresh graduate agar dapat membangun dan meraih karir impian lebih cepat #BuildABetterCareer" />
    <meta property="og:image" content="https://www.career.support<%= BASE_URL %>favicon.png" />
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>Career Support</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Carrer Support doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
  </body>
</html>
