<i18n>
{
  "en": {
    "job_detail": "Job Detail",
    "apply_now": "Apply Now!",
    "job_desc": "Job Description",
    "employment_type": "Employment Type",
    "job_category": "Job Category",
    "province": "Province",
    "city": "City",
    "more": "Login to view more details!"
  },
  "id": {
    "job_detail": "Detail Pekerjaan",
    "apply_now": "Daftar Sekarang!",
    "job_desc": "Deskripsi Pekerjaan",
    "employment_type": "Tipe Pekerjaan",
    "job_category": "Kategori Pekerjaan",
    "province": "Provinsi",
    "city": "Kota",
    "more": "Masuk untuk melihat detail informasi!"
  }
}
</i18n>
<template>
  <div class="JobDetail">
    <section class="SectionCard SectionCardOverlapTop">
      <div class="ContainerCompanyLogo">
        <div>
          <img :src="vacancy.detail.company.company_logo"/>
        </div>
      </div>
      <header>
        <h2>{{ getTranslate(vacancy.detail.job_specialization, 'name', 'translation') }}</h2>
        <h4>
          {{ vacancy.detail.company.company_name }}
        </h4>
        <span>
          {{ vacancy.detail.company.industry }} • {{ vacancy.detail.company.city }}
        </span>
        <p v-html="vacancy.detail.company.company_desc"></p>
      </header>
    </section>
    <section class="SectionCard SectionCardDetail">
      <span class="TitleCard TitleWithButton">
        {{ $t('job_detail') }}
        <a :href="candidateSignin">
          <button type="button"
                  id="buttonApply">
            {{ $t('apply_now') }}
          </button>
        </a>
      </span>
      <form class="Content"
            id="contentJobDetail">

        <div>
          <label>{{ $t('job_desc') }}</label>
          <p v-html="vacancy.requirement.job_desc"></p>
        </div>

        <div class="ContainerFit ClearBoth">
          <div class="Grow1 Shrink1">
            <label>{{ $t('employment_type') }}</label>
            <span>{{ vacancy.detail.employment_type.label }}</span>
          </div>
          <div class="Grow1 Shrink1">
            <label>{{ $t('job_category') }}</label>
            <span>{{ getTranslate(vacancy.detail.job_specialization.category, 'name', 'translation') }}</span>
          </div>
        </div>

        <div class="ContainerFit">
          <div class="Grow1 Shrink1">
            <label>{{ $t('province') }}</label>
            <span>{{ vacancy.detail.city[0].province.name }}</span>
          </div>
          <div class="Grow1 Shrink1">
            <label>{{ $t('city') }}</label>
            <span>{{ vacancy.detail.city[0].name }}</span>
          </div>
        </div>

        <a :href="candidateSignin">{{ $t('more') }}</a>
      </form>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Action, Mutation, State } from 'vuex-class';

import { CANDIDAT_SIGNIN } from '@/constants/portal.constant';

@Component
export default class JobDetail extends Vue {

  /* VUEX */

  // ACTION

  @Action('actionSelectJobVacancyById', { namespace: 'job' })
  private actionSelectJobVacancyById: any;

  // MUTATION

  @Mutation('mutationVacancy', { namespace: 'job' })
  private mutationVacancy: any;

  // STATE

  @State('locale')
  private locale: string;
  @State('vacancy', { namespace: 'job' })
  private vacancy: any;

  /* INITIALIZATION */

  private candidateSignin: string = CANDIDAT_SIGNIN;

  constructor() {
    super();
  }

  /* LIFECYCLE */

  private created() {
    this.mutationVacancy(this.$route.params);
    this.actionSelectJobVacancyById();
  }

  /* METHOD */

  private getTranslate(object: any, key: string, key_translation: string) {
    if (this.locale === 'id') {
      return object[key_translation];
    }
    return object[key];
  }
}
</script>

<style lang="sass" scope>

/* IMPORT STYLESHEET */

@import "../../../assets/Styles/import.sass"
</style>
