<i18n>
{
  "en": {
    "page": "Find Your Best Opportunities!",
    "page_desc": "Don’t miss every opportunities in here",
    "job_category": "Job Category",
    "job_category_desc": "Select category",
    "job_title": "Job Title",
    "job_title_desc": "Select job title",
    "search": "Search",
    "info_list": "Found {count} job",
    "posted_on": "Posted {day} days ago"
  },
  "id": {
    "page": "Temukan Kesempatan Terbaikmu!",
    "page_desc": "Jangan lewatkan setiap kesempatan disini",
    "job_category": "Kategori Pekerjaan",
    "job_category_desc": "Pilih Kategori",
    "job_title": "Nama Pekerjaan",
    "job_title_desc": "Pilih Pekerjaan",
    "search": "Cari",
    "info_list": "Terdapat {count} pekerjaan",
    "posted_on": "Dipublikasikan {day} hari lalu"
  }
}
</i18n>
<template>
  <div class="JobList">
    <section class="SectionCard SectionCardOverlapTop">
      <form>
        <legend>
          {{ $t('page') }}
          <p>
            {{ $t('page_desc') }}
          </p>
        </legend>
        <fieldset>
          <div class="ContainerWrap ContainerCenter Center">
            <div class="Grow1 Shrink1">
              <div class="InputShadow">
                <v-select :placeholder="$t('job_category_desc')"
                          :options="arrayCategory"
                          :label="getLabel('name')"
                          v-model="job_search.category"/>
              </div>
            </div>
            <div class="Grow3 Shrink3">
              <div class="InputShadow">
                <v-select :placeholder="$t('job_title_desc')"
                          :options="arraySpecialization"
                          :label="getLabel('name')"
                          v-model="job_search.job_title"/>
              </div>
            </div>
            <div class="Grow1 Shrink1">
              <button type="button"
                      @click="actionSelectJobVacancy()">
                {{ $t('search') }}
              </button> </div>
          </div>
        </fieldset>

        <span class="CountInfo">
          {{ $t('info_list', {count: pagination_vacancy.count}) }}
        </span>

        <section class="SectionCard SectionCardList ContainerFit"
                 v-for="(vacancy, index) in array_job_vacancy"
                 :key="index">

          <div class="ContainerImage Grow0 Shrink0 CursorPointer"
               @click="$router.push({name: 'jobDetail', params: {id: vacancy.id}})">
            <img :src="vacancy.detail.company.company_logo"/>
          </div>
          <div class="Grow1 Shrink1 CursorPointer"
               @click="$router.push({name: 'jobDetail', params: {id: vacancy.id}})">
            <span class="Posted">{{ $t('posted_on', {day: Math.floor((new Date - new Date(vacancy.created)) / (1000 * 60 * 60 * 24)) }) }}</span>
            <h4>{{ getTranslate(vacancy.detail.job_specialization, 'name', 'translation') }}</h4>
            <span class="CompanyName">{{ vacancy.detail.company.company_name }}</span>
            <span v-if="vacancy.detail.city.length > 0">{{ vacancy.detail.city[0].preview }}</span>
          </div>
        </section>

        <pagination-mini-component :count="pagination_vacancy.count"
                                   :url="pagination_vacancy.url"
                                   :onClick="clickPage"/>
      </form>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import PaginationMiniComponent from '@/components/paginations/PaginationMini.vue';
import { Action, Getter, State } from 'vuex-class';

@Component({
  components: {
    PaginationMiniComponent,
  },
})
export default class JobList extends Vue {

  /* VUEX */

  // ACTION

  @Action('actionSelectJobVacancy', { namespace: 'job' })
  private actionSelectJobVacancy: any;
  @Action('actionPaginationVacancy', { namespace: 'job' })
  private actionPaginationVacancy: any;

  // GETTER

  @Getter('arrayCategory', { namespace: 'job' })
  private arrayCategory: any;
  @Getter('arraySpecialization', { namespace: 'job' })
  private arraySpecialization: any;

  // STATE

  @State('locale')
  private locale: string;
  @State('job_search', { namespace: 'job' })
  private job_search: any;
  @State('array_job_vacancy', { namespace: 'job' })
  private array_job_vacancy: any;
  @State('pagination_vacancy', { namespace: 'job' })
  private pagination_vacancy: any;

  /* INITIALIZATION */

  constructor() {
    super();
  }

  /* LIFECYCLE */

  private created() {
    this.actionSelectJobVacancy();
  }

  /* METHOD */

  private clickPage(page: number, url: string) {
    if (url) {
      this.actionPaginationVacancy({url, page});
    } else {
      this.actionSelectJobVacancy();
    }
  }

  private getLabel(label: string): string {
    if (this.locale === 'id') {
      return 'translation';
    }
    return label;
  }

  private getTranslate(object: any, key: string, key_translation: string) {
    if (this.locale === 'id') {
      return object[key_translation];
    }
    return object[key];
  }
}
</script>

<style lang="sass" scope>

/* IMPORT STYLESHEET */

@import "../../../assets/Styles/import.sass"
</style>
