<template>
  <div class="Job">
    <section class="SectionHeader">
      <img src="@/assets/Photo/background_jobsearch.jpg"/>
    </section>
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Job extends Vue {

  /* VUEX */

  /* INITIALIZATION */

  constructor() {
    super();
  }

  /* LIFECYCLE */

  /* METHOD */
}
</script>
