<template>
  	<div class="Abaut">
	  	<main class="position-relative overflow-hidden">
			<section class="section overview">
				<div class="container">
					<div class="row align-items-center gap-y">
						<div class="col-lg-5 mr-auto text-center text-md-left">
							<div class="section-heading">
								<p class="badge badge-success bold">#JadiMudah</p>
								<h2>Tentang Kami</h2>
								<p class="lead text-secondary">Penyedia layanan portal digital manajemen karir dan pekerjaan untuk pusat karir sekolah/ universitas.</p>
							</div>
							<p>Kami menghubungkan 3 aktor yaitu kandidat pencari kerja dengan perusahaan pencari pekerja melalui pusat karir sekolah/ universitas.</p>
						</div>
						<div class="col-lg-6">
							<div class="row gap-y">
								<div class="col-6 col-sm-5 col-md-6 mt-6 ml-lg-auto">
									<div class="card rounded p-2 p-sm-4 shadow text-center text-md-left" data-aos="fade-up">
										<calendar-icon size="2x" class="custom-class stroke-primary"></calendar-icon>
										
										<p class="bold mb-0">Pusat Karir</p>
										<p class="op-7 small" style="line-height:1.5;letter-spacing:1.5px">Membuat situs web pusat karir sekolah dan mengelola data karir siswa.</p>
									</div>
								</div>
								<div class="col-6 col-sm-5 col-md-6 mr-lg-auto">
									<div class="text-contrast bg-info-gradient card rounded p-2 p-sm-4 shadow text-center text-md-left" data-aos="fade-up">
										<bar-chart-icon size="2x" class="custom-class"></bar-chart-icon>
										
										<p class="bold mb-0">Perusahaan</p>
										<p class="op-7 small">Mempublikasikan lowongan magang dan pekerjaan untuk fresh graduate secara gratis dan tidak terbatas.</p>
									</div>
								</div>
								<div class="col-6 col-sm-5 col-md-6 ml-lg-auto">
									<div class="card rounded p-2 p-sm-4 shadow text-center text-md-left" data-aos="fade-up">
										<mail-icon size="2x" class="custom-class stroke-primary"></mail-icon>
										
										<p class="bold mb-0">Pencari Kerja</p>
										<p class="op-7 small">Mengelola data karir secara digital dan mendaftar lowongan pekerjaan & magang.</p>
									</div>
								</div>
								<div class="col-6 col-sm-5 col-md-6 mt-6n mr-lg-auto">
									<div class="card rounded p-2 p-sm-4 shadow text-center text-md-left" data-aos="fade-up">
										<clipboard-icon size="2x" class="custom-class stroke-primary"></clipboard-icon>
										
										<p class="bold mb-0">#JadiMudah</p>
										<p class="op-7 small">Semua #JadiMudah bersama Career Support. Yuk bergabung sekarang dan jadilah yang terbaik.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
	  	</main>
  	</div>
</template>

<script lang="ts">

import $ from 'jquery';
import { Component, Vue } from 'vue-property-decorator';
import {
	BarChartIcon,
	ClipboardIcon,
	MailIcon,
	CalendarIcon
} from 'vue-feather-icons';

@Component({
  components: {
	BarChartIcon,
	ClipboardIcon,
	MailIcon,
	CalendarIcon
  },
})
export default class Landing extends Vue {
  private mounted(){
    $('nav').addClass('dark-link')
  }
}
</script>
