<i18n>
{
  "en": {
    "page": "Reach the Best Potential Talent You Want",
    "page_desc": "We Help Your Company to Find The Best Potential Talent Faster",
    "join_now": "Join Now",
    "form": "Find the Right Partner for You",
    "location": "Location",
    "location_desc": "Select location",
    "school_name": "School Name",
    "school_name_desc": "Type school name",
    "search": "Search",
    "company_partners": "300+ Company Partners",
    "feature": "Lots of Useful Features",
    "feature_desc": "To Help You Reach the Best Potential Talents You Want",
    "high_visibility_job_ads": "High Visibility Job Ads",
    "high_visibility_job_ads_desc": "Maximize the exposure of your vacancy and increases your chances of finding the best candidate",
    "target_school": "Target your School",
    "target_school_desc": "Find the most qualified candidates based on your preferred school. Saving you time and money by avoiding unsuitable candidates.",
    "unlimited_job_posting": "Unlimited Job Posting",
    "unlimited_job_posting_desc": "With Career Support you can publish unlimited job posting",
    "active_job": "Active Jobs",
    "job_posts_today": "Job Posts Today",
    "partners_companies": "Partner Companies",
    "registered_candidates": "Registered Candidates",
    "how_it_work": "How to use Career Support?"
  },
  "id": {
    "page": "Dapatkan Talenta dengan Potensi Terbaik yang Anda Inginkan",
    "page_desc": "Kami membantu Perusahaan Anda untuk Menemukan Talenta Berpotensi Terbaik lebih Cepat",
    "join_now": "Daftar Sekarang",
    "form": "Temukan Partner Terbaik mu",
    "location": "Lokasi",
    "location_desc": "Pilih lokasi",
    "school_name": "Nama Sekolah",
    "school_name_desc": "Tulis nama sekolah",
    "search": "Cari",
    "company_partners": "300+ Rekan Perusahaan",
    "feature": "Banyak Fitur Bermanfaat",
    "feature_desc": "Untuk Membantu Anda Meraih Talenta Potensi Terbaik yang Anda Inginkan",
    "high_visibility_job_ads": "Visibilitas Lowongan Pekerjaan Tinggi",
    "high_visibility_job_ads_desc": "Maksimalkan penayangan lowongan pekerjaan Anda dan tingkatkan peluang untuk menemukan kandidat terbaik",
    "target_school": "Target Sekolah",
    "target_school_desc": "Temukan kandidat yang paling berkualitas sesuai sekolah keinginan Anda. Hemat waktu dan uang Anda dengan menghindari kandidat yang tidak sesuai.",
    "unlimited_job_posting": "Post Lowongan Tidak Terbatas",
    "unlimited_job_posting_desc": "Melalui Career Support Anda dapat mempublikasikan lowongan pekerjan tidak terbatas dan tanpa biaya",
    "active_job": "Pekerjaan Aktif",
    "job_posts_today": "Pekerjaan hari ini",
    "partners_companies": "Perusahaan",
    "registered_candidates": "Kandidat yang Terdaftar",
    "how_it_work": "Bagaimana menggunakan Career Support?"
  }
}
</i18n>
<template>
  <div>
    <header class="section header smart-business-header">
			<div class="shape-wrapper"><img src="@/assets/Theme/DashCore/img/v6/header/bg-shape.svg" class="main-background img-responsive" alt="">
				<div class="shape shape-background shape-top center-xy"></div>
				<div class="shape shape-background shape-right"></div>
			</div>
			<div class="container overflow-hidden">
				<div class="row gap-y">
					<div class="col-md-7">
						<p class="regular small text-uppercase text-secondary">SOLUSI INOVATIF UNTUK MENCARI FRESH GRADUATE!</p>
						<h1 class="extra-bold display-md-3 font-md">Lowongan <span class="d-block light">Kerja & magang</span></h1>
						<p class="lead">Career Support membantu untuk mempertemukan perusahaan khusus dengan PELAJAR & FRESH GRADUATE melalui pusat karir sekolah/universitas.</p>
						<nav class="nav mt-5"><a href="https://company.career.support/signup" class="nav-link mr-3 btn btn btn-rounded btn-outline-info bw-2"><i class="fas fa-tag mr-3"></i> MULAI PASANG LOWONGAN </a><router-link :to="{name:'schoolList'}" class="nav-link btn btn-rounded btn-primary bw-2">Cari Sekolah</router-link></nav>
					</div>
				</div>
			</div>
			<div class="main-shape-wrapper">
				<div data-aos="fade-left" data-aos-delay="300"><img src="@/assets/Theme/DashCore/img/v6/header/main-shape.svg" class="img-responsive main-shape" alt=""> <img src="@/assets/Theme/DashCore/img/v6/header/anim-1.svg" class="anim anim-1 floating" alt=""> <img src="@/assets/Theme/DashCore/img/v6/header/anim-1.svg" class="anim anim-2 floating" alt=""> <img src="@/assets/Theme/DashCore/img/v6/header/anim-1.svg" class="anim anim-3 floating" alt=""></div>
			</div>
		</header>
    	<section class="section features-carousel b-b">
			<div class="container pt-0">
				<div class="swiper-container" data-sw-show-items="4" data-sw-autoplay="3500" data-sw-loop="true" data-sw-nav-arrows=".features-nav" data-sw-breakpoints='{"1024": {"slidesPerView": 4,"spaceBetween": 40},"992": {"slidesPerView": 4,"spaceBetween": 15},"768": {"slidesPerView": 4.5,"spaceBetween": 15},"576": {"slidesPerView": 1.5,"spaceBetween": 10}}'>
					<div class="swiper-wrapper px-1">
						<div class="swiper-slide px-2 px-sm-1">
							<div class="card border-0 shadow">
								<div class="card-body">
									<div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl"><img src="@/assets/Theme/DashCore/img/v6/icons/chat.svg" class="img-responsive" alt=""></div>
									<h4 class="mt-4">Pasang secara<br><span class="bold">Gratis</span></h4>
									<p>Anda dapat memasang lowongan kerja &amp; magang secara GRATIS hanya di Career Support</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide px-2 px-sm-1">
							<div class="card border-0 shadow">
								<div class="card-body">
									<div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl"><img src="@/assets/Theme/DashCore/img/v6/icons/strategy.svg" class="img-responsive" alt=""></div>
									<h4 class="mt-4">Pasang<br><span class="bold">Tak Terbatas</span></h4>
									<p>Manfaatkan kemudahan Kami untuk memasang lowongan kerja &amp; magang tak terbatas</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide px-2 px-sm-1">
							<div class="card border-0 shadow">
								<div class="card-body">
									<div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl"><img src="@/assets/Theme/DashCore/img/v6/icons/money.svg" class="img-responsive" alt=""></div>
									<h4 class="mt-4">Kandidat<br><span class="bold">Berkualitas</span></h4>
									<p>Kandidat yang terdaftar telah mempersiapkan data karir dengan kualitas terbaik</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide px-2 px-sm-1">
							<div class="card border-0 shadow">
								<div class="card-body">
									<div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl"><img src="@/assets/Theme/DashCore/img/v6/icons/user.svg" class="img-responsive" alt=""></div>
									<h4 class="mt-4">Terhubung<br><span class="bold">Pusat Karir</span></h4>
									<p>Anda juga dapat secara otomatis terhubung dengan ribuan pusat karir sekolah</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide px-2 px-sm-1">
							<div class="card border-0 shadow">
								<div class="card-body">
									<div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl"><img src="@/assets/Theme/DashCore/img/v6/icons/worldwide.svg" class="img-responsive" alt=""></div>
									<h4 class="mt-4">Kemudahan<br><span class="bold">Rekrutmen</span></h4>
									<p>Fitur untuk memudahkan Anda dalam menilai dan menyeleksi kandidat secara cepat & mudah</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide px-2 px-sm-1">
							<div class="card border-0 shadow">
								<div class="card-body">
									<div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl"><img src="@/assets/Theme/DashCore/img/v6/icons/like.svg" class="img-responsive" alt=""></div>
									<h4 class="mt-4">Branding<br><span class="bold">Perusahaan</span></h4>
									<p>Lakukan branding untuk perusahaan ke seluruh kandidat dan pusat karir yang terdaftar</p>
								</div>
							</div>
						</div>
						<div class="swiper-slide px-2 px-sm-1">
							<div class="card border-0 shadow">
								<div class="card-body">
									<div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl"><img src="@/assets/Theme/DashCore/img/v6/icons/graph.svg" class="img-responsive" alt=""></div>
									<h4 class="mt-4">Tampilan<br><span class="bold">Menarik</span></h4>
									<p>Career Support merancang tampilan agar membuat pengguna nyaman dan mudah.</p>
								</div>
							</div>
						</div>
            <div class="swiper-slide px-2 px-sm-1">
							<div class="card border-0 shadow">
								<div class="card-body">
									<div class="rounded-circle bg-light p-3 d-flex align-items-center justify-content-center shadow icon-xl"><img src="@/assets/Theme/DashCore/img/v6/icons/graph.svg" class="img-responsive" alt=""></div>
									<h4 class="mt-4">Keamanan<br><span class="bold">Terjamin</span></h4>
									<p>Kami memastikan seluruh data yang Anda miliki aman dan terhindar dari peretas</p>
								</div>
							</div>
						</div>
					</div><!-- Add Arrows -->background
					<div class="text-primary features-nav features-nav-next"><span class="text-uppercase small">Selanjutnya</span> <i class="features-nav-icon fas fa-long-arrow-alt-right"></i></div>
				</div>
			</div>
		</section>
		
    	<section class="section">
			<div class="container">
				<div class="row gap-y align-items-center">
					<div class="col-md-6">
						<div class="section-heading">
							<p class="text-primary bold small text-uppercase">#JADIMUDAH</p>
							<h2 class="bold">Kenapa harus Career Support?</h2>
						</div>
						<p class="regular">Jika Anda sedang mencari calon pekerja khusus untuk magang atau fresh graduate, maka Career Support adalah platform yang tepat untuk perusahaan Anda. Terdapat jutaan pelajar dan fresh graduate dengan kualitas terbaik yang sedang menanti Anda!</p><a href="https://company.career.support/signup" class="btn btn-outline-primary btn-rounded bw-2 mt-4">Pasang Lowongan Sekarang</a>
					</div>
					<div class="col-md-6">
						<div class="animate-bars">
							<ul class="progress-bars whyus-progress-bars progress-horizontal">
								<li><p>Marketing<span>34%</span></p><div class="progress progress-xs" style="width: 100%;"><div class="progress-bar" style="width: 34%;"></div></div></li>
								<li><p>Computer Science<span>28%</span></p><div class="progress progress-xs" style="width: 100%;"><div class="progress-bar" style="width: 28%;"></div></div></li>
								<li><p>Electrical Engineering<span>16%</span></p><div class="progress progress-xs" style="width: 100%;"><div class="progress-bar" style="width: 16%;"></div></div></li>
								<li><p>Finance &amp; Accounting<span>15%</span></p><div class="progress progress-xs" style="width: 100%;"><div class="progress-bar" style="width: 15%;"></div></div></li>
								<li><p>Others<span>7%</span></p><div class="progress progress-xs" style="width: 100%;"><div class="progress-bar" style="width: 7%;"></div></div></li>
							</ul>
            			</div>
					</div>
				</div>
				<div class="row gap-y pt-5">
					<div class="col-6 col-md-3">
						<div class="d-flex align-items-center"><box-icon width="36" height="36" class="stroke-primary mr-2"/> 
						<span class="counter bold text-darker font-md">{{statistic.registeredCandidates}}</span></div>
						<p class="text-secondary m-0">Pencari Kerja</p>
					</div>
					<div class="col-6 col-md-3">
						<div class="d-flex align-items-center"><download-cloud-icon width="36" height="36" class="stroke-primary mr-2"/>
						<span class="counter bold text-darker font-md">{{statistic.registeredSchool}}</span></div>
						<p class="text-secondary m-0">Pusat Karir Sekolah</p>
					</div>
					<div class="col-6 col-md-3">
						<div class="d-flex align-items-center"><sliders-icon width="36" height="36" class="stroke-primary mr-2"/> 
						<span class="counter bold text-darker font-md">{{statistic.partnerCompanies}}</span></div>
						<p class="text-secondary m-0">Perusahaan</p>
					</div>
					<div class="col-6 col-md-3">
						<div class="d-flex align-items-center"><award-icon width="36" height="36" class="stroke-primary mr-2"/> 
						<span class="counter bold text-darker font-md">{{statistic.activeJobs}}</span></div>
						<p class="text-secondary m-0">Lowongan Kerja</p>
					</div>
				</div>
			</div>
		</section>

    	<section class="section gradient gradient-blue-purple">
			<div class="container text-center pb-7 pb-md-0">
				<div class="section-heading">
					<h2 class="bold text-contrast">Kemudahan melakukan rekrutmen</h2>
					<p class="lead text-light">Melalui Career Support, Anda tidak hanya mudah untuk mencari talenta terbaik namun Kami memberikan kemudahan penggunaan untuk melakukan proses rekrutmen secara digital</p>
				</div>
			</div>
		</section>

    	<section class="section mt-9n">
			<div class="container">
				<div class="row gap-y">
					<div class="col-md-6">
						<div class="rounded media bg-contrast shadow-lg p-4">
							<div class="shadow gradient gradient-purple-blue text-contrast rounded-circle mr-3 p-3 icon-xl d-flex align-items-center" data-aos="zoom-in"><i class="far fa-paper-plane fa-2x"></i></div>
							<div class="media-body">
								<h5 class="bold text-capitalize">Mudah Untuk Terhubung</h5>
								<p class="text-secondary mb-0">Hanya dengan beberapa klik saja, Anda dapat memasang lowongan kerja dan terhubung dengan jutaan talenta yang mencari pekerjaan.</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="rounded media bg-contrast shadow-lg p-4">
							<div class="shadow gradient gradient-purple-blue text-contrast rounded-circle mr-3 p-3 icon-xl d-flex align-items-center" data-aos="zoom-in"><i class="far fa-heart fa-2x"></i></div>
							<div class="media-body">
								<h5 class="bold text-capitalize">Mudah Untuk Menilai</h5>
								<p class="text-secondary mb-0">Anda dapat dengan mudah menilai dan melakukan seleksi terhadap setiap talenta yang mendaftar pada lowongan pekerjaan</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    	<section class="section extending-core">
			<div class="shape shape-background top shape-left bg-light"></div>
			<div class="container">
				<div class="row gap-y align-items-center">
					<div class="col-lg-6">
						<div class="section-heading">
							<p class="text-primary bold small text-uppercase">Spesial</p>
							<h2>Platform khusus untuk pelajar &amp; fresh graduate</h2>
							<p class="pt-3">Dengan mendaftarkan perusahaan Anda di Career Support, pada saat itu juga Anda akan secara otomatis terhubung dengan jutaan talenta terbaik dan terhubung dengan ribuan pusat karir sekolah/universitas di Indonesia</p>
						</div><a href="https://company.career.support/signup" class="btn btn-rounded btn-outline-contrast bw-2 bold gradient gradient-purple-blue text-contrast">DAFTAR SEBAGAI PERUSAHAAN</a>
					</div>
					<div class="col-lg-6">
						<div class="icons-wrapper position-relative">
							<div class="floating icon icon-xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 100%; top: 30%;" data-aos="fade-left"><img src="@/assets/Theme/DashCore/img/integration/blossom.svg" class="img-responsive" alt=""></div>
							<div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 60%; top: -10%;" data-aos="fade-left"><img src="@/assets/Theme/DashCore/img/integration/dockbit.svg" class="img-responsive" alt=""></div>
							<div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 25%; top: 0%;" data-aos="fade-left"><img src="@/assets/Theme/DashCore/img/integration/zapier.svg" class="img-responsive" alt=""></div>
							<div class="floating icon icon-2xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 0%; top: 50%;" data-aos="fade-left"><img src="@/assets/Theme/DashCore/img/integration/bitnami.svg" class="img-responsive" alt=""></div>
							<div class="floating icon icon-2xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 23%; top: 70%;" data-aos="fade-left"><img src="@/assets/Theme/DashCore/img/integration/slack.svg" class="img-responsive" alt=""></div>
							<div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 65%; top: 44%;" data-aos="fade-left"><img src="@/assets/Theme/DashCore/img/integration/monero.svg" class="img-responsive" alt=""></div>
							<div class="floating icon icon-xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center" style="left: 95%; top: 83%;" data-aos="fade-left"><img src="@/assets/Theme/DashCore/img/integration/dropbox.svg" class="img-responsive" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</section>
    
    	<section class="section bg-light bottom-right border-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h2><span class="bold">Anda memiliki pertanyaan?</span></h2>
						<p class="lead">Belum yakin dengan Kami yang dapat membantu Anda? </p>
						<p class="text-muted">Ini merupakan jawaban dari berbagai pertanyaan yang sering Kami terima dari rekan-rekan perusahaan ke Tim Career Support</p>
					</div>
					<div class="col-md-8">
						<div class="accordion accordion-clean" id="common-faqs-accordion">
							<div class="card mb-3">
								<b-card-header><b-button v-b-toggle.q1 class="card-title btn" data-toggle="collapse" data-target="#q1"><i class="fas fa-angle-down angle"></i>Apakah saya perlu melakukan pembayaran untuk mendaftar dan  memasang lowongan pekerjaan di Career Support?</b-button></b-card-header>
								<div id="q1" class="collapse show" data-parent="#common-faqs-accordion">
									<div class="card-body">Tidak. Mendaftar dan memasang iklan di Career Support tidak berbayar (GRATIS), sehingga tidak diperlukan pembayaran dalam bentuk apa pun.
									</div>
								</div>
							</div>
							<div class="card mb-3">
								<b-card-header><b-button href="#" class="card-title btn" data-toggle="collapse" data-target="#q2"><i class="fas fa-angle-down angle"></i>Apakah ada persyaratan khusus untuk mendaftar di Career Support?</b-button></b-card-header>
								<div id="q2" class="collapse" data-parent="#common-faqs-accordion">
									<div class="card-body">Tidak ada. Untuk melakukan pendaftaran Anda hanya perlu untuk mengisi data informasi secara lengkap tentang perusahaan Anda dan informasi pribadi Anda (nama lengkap dan jabatan) sebagai Admin yang menjalakan akun perusahaan.</div>
								</div>
							</div>
							<div class="card mb-3">
								<b-card-header><b-button href="#" class="card-title btn" data-toggle="collapse" data-target="#q3"><i class="fas fa-angle-down angle"></i>Berapa lama waktu yang diperlukan untuk mendaftar di Career Support?</b-button></b-card-header>
								<div id="q3" class="collapse" data-parent="#common-faqs-accordion">
									<div class="card-body">Hanya kurang dari 5 menit saja Anda dapat mendaftarkan perusahaan di sini, dengan sistem pendaftaran yang mudah dan sederhana Anda akan cepat membuat akun perusahaan.</div>
								</div>
							</div>
							<div class="card mb-3">
								<b-card-header><b-button href="#" class="card-title btn" data-toggle="collapse" data-target="#q4"><i class="fas fa-angle-down angle"></i>Apakah ada batas maksimal waktu pemasangan lowongan pekerjaan?</b-button></b-card-header>
								<div id="q4" class="collapse" data-parent="#common-faqs-accordion">
									<div class="card-body">Tidak ada. Anda dapat menentukan sendiri durasi waktu pemasangan lowongan pekerjaan sesuai dengan kebutuhan perusahaan Anda.</div>
								</div>
							</div>
              				<div class="card mb-3">
								<b-card-header><b-button href="#" class="card-title btn" data-toggle="collapse" data-target="#q5"><i class="fas fa-angle-down angle"></i>Apa yang membuat Career Support berbeda dengan platform yang lainnya?</b-button></b-card-header>
								<div id="q5" class="collapse" data-parent="#common-faqs-accordion">
									<div class="card-body">Career Support khusus untuk digunakan oleh pelajar yang mencari lowongan magang dan lulusan baru yang mencari pekerjaan. Selain itu, sistem Kami terintegrasi dengan ribuan pusat karir sekolah, sehingga memudahkan perusahaan untuk mencari talenta terbaik lulusan baru. </div>
								</div>
              				</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    	<section class="section b-b bg-light top-left">
			<div class="container pt-5">
				<div class="d-flex align-items-center flex-column flex-md-row">
					<div class="text-center text-md-left">
						<p class="light mb-0 text-primary lead">Siap untuk memasang lowongan?</p>
						<h2 class="mt-0">Hanya butuh waktu 3 menit untuk memulai</h2>
					</div><a href="https://company.career.support/signup" class="btn btn-primary btn-rounded mt-3 mt-md-0 ml-md-auto">MULAI PASANG SEKARANG</a>
				</div>
			</div>
		</section>
  	</div>
</template>

<script lang="ts">
import $ from 'jquery';
import 'jquery.appear';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Action, Getter, State } from 'vuex-class';
import { COMPANY_SIGNUP } from '@/constants/portal.constant';
import {
	BoxIcon, 
	DownloadCloudIcon, 
	SlidersIcon, 
	AwardIcon,
} from 'vue-feather-icons';
import 'bootstrap';
import { StripeMenu, StripeMenuPopup } from '@/functions/stripe-menu.function';
import Swiper from 'swiper';



@Component({
	components: {
		BoxIcon,
		DownloadCloudIcon,
		SlidersIcon,
		AwardIcon,
	},
})
export default class Company extends Vue {

  /* VUEX */

  // ACTION
  @Action('contentLayout')
  private contentLayout: any;

  // GETTER
  @Getter('arrayCity', { namespace: 'misc' })
  private arrayCity: any;

  // STATE
  @State('school_search', { namespace: 'academy' })
  private school_search: any;
  @State('statistic', { namespace: 'misc' })
  private statistic: any;

  /* INITIALIZATION */

  private companySignup: string = COMPANY_SIGNUP;

  constructor() {
    super();
  }

  /* LIFECYCLE */

  private created() {
    this.contentLayout();
    $(document).ready(() => {
      const stripeMenu = new StripeMenu('.st-nav');
      const stripeMenuPopup = new StripeMenuPopup('.st-nav .st-nav-section.st-nav-mobile');

      // SCROLLING NAVIGATION
      // Enable smooth transition animation when scrolling

      $('a.scrollto').on('click', function(event: any) {
        event.preventDefault();

        const scrollAnimationTime = 1200;
        const target = (this as any).hash;

        $('html, body').stop().animate({
          scrollTop: (($(target).offset() as any).top as number) - 45,
        }, scrollAnimationTime, 'easeInOutExpo', () => {
          window.location.hash = target;
        });
      });

      // Swiper Initialization/

      $('.swiper-container').each(function() {
        const $this = $(this);
        const boolData = {
          breakpoints: $this.data('sw-breakpoints'),
          active_selector: $this.data('sw-active-selector'),
          cover_flow: $this.data('sw-coverflow'),
          auto_play: $this.data('sw-autoplay'),
          loop: $this.data('sw-loop'),
          centered: $this.data('sw-centered-slides'),
          pagination: $this.data('sw-pagination'),
          nav_arrows: $this.data('sw-nav-arrows'),
        };

        const breakPoints = boolData.breakpoints || false;
        const auto_play = boolData.auto_play !== undefined ? boolData.auto_play : false;
        const speed = $this.data('sw-speed') || 1100;
        const effect = $this.data('sw-effect') || 'slide';
        const showItems = $this.data('sw-show-items') || 1;
        const loop = boolData.loop !== undefined ? boolData.loop : true;
        const centered = boolData.centered !== undefined ? boolData.centered : true;
        const spaceBetween = $this.data('sw-space-between') || (showItems > 1 ? 20 : 0);
        const scrollItems = $this.data('sw-scroll-items') || 1;
        const navigationElement = $this.data('sw-navigation');
        const navigationActiveClass = $this.data('sw-navigation-active') || 'active';
        const navigationActiveSelector = boolData.active_selector !== undefined ? boolData.active_selector : false;
        const paginationCss = boolData.pagination !== undefined ? boolData.pagination : '.swiper-pagination';
        const navigationCss = boolData.nav_arrows !== undefined ? boolData.nav_arrows : '.swiper-button';

        const coverflow = boolData.cover_flow ? {
          coverflowEffect: $.extend({
            stretch: 0,
            depth: 0,
            modifier: 1,
            rotate: 0,
            slideShadows: false,
          }, boolData.cover_flow),
        } : {};

        const autoplay = auto_play ? {
          autoplay: {
            delay: auto_play,
            disableOnIteration: false,
          },
          speed,
        } : {};

        const pagination: any = {};

        if (paginationCss) {
          pagination.pagination = {
            el: paginationCss,
            clickable: true,
            dynamicBullets: true,
          };
        }

        if (navigationCss) {
          pagination.navigation = {
            nextEl: navigationCss + '-next',
            prevEl: navigationCss + '-prev',
          };
        }

        let events = {};

        if (navigationElement) {
          events = {
            transitionEnd: () => {
              /* tslint:disable */
              if (!navigationElement) return;
              /* tslint:enable */

              const $navigationElement = $(navigationElement);

              if (navigationActiveSelector) {
                  $(
                    navigationActiveSelector + '.' + navigationActiveClass,
                    $navigationElement,
                  ).removeClass(navigationActiveClass);
                  $(
                    '.nav-item:eq(' + swiper.realIndex + ') ' + navigationActiveSelector,
                    $navigationElement,
                  ).addClass(navigationActiveClass);
              } else {
                  $('.' + navigationActiveClass, $navigationElement).removeClass(navigationActiveClass);
                  $('.nav-item:eq(' + swiper.realIndex + ')', $navigationElement).addClass(navigationActiveClass);
              }
            },
          };
        }

        const options = $.extend({
			loop,
			slidesPerGroup: scrollItems,
			spaceBetween,
			centeredSlides: centered,
			breakpoints: breakPoints,
			slidesPerView: showItems,
			parallax: true,
			effect,
        }, pagination, autoplay, coverflow);

        const swiper = new Swiper (this, options);

        for (const e in events) {
			if (e) {
				swiper.on((e as any), (events as any)[e]);
			}
        }

        if (navigationElement) {
          $(navigationElement).on('click', '.nav-item', function(evt) {
            evt.preventDefault();

            const $item = $(this);
            let $activeItem = $item;

            if (navigationActiveSelector) {
              $activeItem = $(navigationActiveSelector, $item);
            }

            if ($activeItem.hasClass(navigationActiveClass)) {
              return false;
            }

            const index = $item.data('step') || $item.index() + 1;
            swiper.slideTo(index);

            if (navigationActiveSelector) {
              $item.siblings().each(function() {
                ($(navigationActiveSelector, this) as any).removeClass(navigationActiveClass);
              });

              $activeItem.addClass(navigationActiveClass);
            } else {
              $item.siblings('.' + navigationActiveClass).removeClass(navigationActiveClass);
              $item.addClass(navigationActiveClass);
            }

            return false;
          });
        }
      });
    });
    $('html, body').animate({
      scrollTop: 0,
    }, 500);
  }

  private mounted() {
    // Counter up
    $('.ItemInformation').each((index: number, item: any) => {
      $(item).appear(() => {
        $(item).prop('Counter', 0).animate({
            Counter: $(item).text(),
          }, {
            duration: 4000,
            easing: 'swing',
            step: (now: any) => {
              $(item).text(Math.ceil(now));
            },
        });
      }, {accX: 0, accY: 0});
    });

  }

  /* METHOD */

}
</script>
