<template>
    <main>
		<!-- ./Page header -->
		<!-- <header class="page header text-contrast overlay alpha-8 image-background cover gradient gradient-purple-blue" :style="{backgroundImage: 'url('+require('@/assets/Theme/DashCore/img/bg/waves.jpg') + ')'}"> -->
		<header class="header section parallax image-background center-bottom cover overlay gradient gradient-purple-navy alpha-8 text-contrast" :style="{backgroundImage: 'url('+require('@/assets/Theme/DashCore/img/bg/grid.jpg')+')'}">
            <div class="divider-shape">
				<!-- waves divider --> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none" class="shape-waves" style="left: 0; transform: rotate3d(0,1,0,180deg);">
					<path class="shape-fill shape-fill-contrast" d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z" /></svg></div>
			<div class="container pb-9" style="">
				<div class="row">
					<div class="col-md-6">
						<h1 class="regular display-4 text-contrast mb-4">Hubungi Kami</h1>
						<p class="lead text-contrast">Hubungi kami dan beri tahu kami apa yang dapat Kami bantu. Isi formulir dan kami akan menghubungi Anda sesegera mungkin.</p>
					</div>
				</div>
			</div>
		</header><!-- ./Contact Us -->
		<section class="section mt-7n">
			<div class="container bring-to-front pt-0">
				<div class="row align-items-center gap-y">
					<div class="col-md-6">
						<div class="shadow bg-contrast p-4 rounded">
							<form action="srv/contact.php" method="post" class="form form-contact" name="form-contact" data-response-message-animation="slide-in-up">
								<div class="form-group">
									<label for="contact_email" class="bold mb-0">Alamat Email Anda</label>
									<small id="emailHelp" class="form-text text-secondary mt-0 mb-2 italic">Kami tidak akan pernah membagikan email Anda dengan orang lain</small> 
									<input v-model="contact_us.sender" type="email" name="Contact[email]" id="contact_email" class="form-control bg-contrast" placeholder="Valid Email" required>
								</div>
								<div class="form-group">
									<label for="contact_email" class="bold">Subjek</label>
									<input v-model="contact_us.subject" type="text" name="Contact[subject]" id="contact_subject" class="form-control bg-contrast" placeholder="Subjek" required >
								</div>
								<div class="form-group">
									<label for="contact_email" class="bold">Sampaikan permasalahan Anda</label> 
									<textarea v-model="contact_us.body" name="Contact[message]" id="contact_message" class="form-control bg-contrast" placeholder="Semakin banyak informasi, semakin mudah bagi kami untuk membantu Anda" rows="8" required ></textarea>
								</div>
								<div class="form-group">
									<button @click="actionSendMail()" id="contact-submit" data-loading-text="Sending..." name="submit" type="button" class="btn btn-primary btn-rounded">Kirim Pesan</button>
								</div>
							</form>
							<div class="response-message">
								<div class="section-heading"><i class="fas fa-check font-lg"></i>
									<p class="font-md m-0">Terima kasih!</p>
									<p class="response">Pesan Anda telah terkirim, kami akan segera menghubungi Anda.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5 ml-md-auto">
						<div class="section-heading">
							<p class="small bold badge badge-info">Mari berkolaborasi</p>
							<h2>Alamat Kami</h2>
						</div>
						<div class="media"><i class="fas fa-map-marker font-l text-primary mr-3"></i>
							<div class="media-body">Jalan Pluit Indah Raya Nomor 34 Jakarta Utara,<span class="d-block">Indonesia</span></div>
						</div>
						<div class="media my-4"><i class="fas fa-phone font-l text-primary mr-3"></i>
							<div class="media-body"><span class="d-block"><a >+6289669016591</a></span> <span class="d-block"><a >+6281263654063</a></span></div>
						</div>
						<div class="media"><i class="fas fa-envelope font-l text-primary mr-3"></i>
							<div class="media-body"><a href="mailto:support@5studios.net">help@career.support</a></div>
						</div>
						<hr class="my-4">
						<nav class="nav justify-content-center justify-content-md-start"><a href="https://www.facebook.com/CareerSupport.id/" target="_blank" class="btn btn-circle btn-sm brand-facebook mr-3"><i class="fab fa-facebook"></i></a> <a href="https://www.instagram.com/careersupport.id/" target="_blank" class="btn btn-circle btn-sm brand-instagram"><i class="fab fa-instagram"></i></a></nav>
					</div>
				</div>
			</div>
		</section><!-- ./Other contact channels -->
		<section class="section">
			<div class="container">
				<div class="row gap-y align-items-center text-center text-lg-left">
					<div class="col-12 col-md-6 py-4 px-5 b-md-r"><i data-feather="dollar-sign" width="36" height="36" class="stroke-darker"></i> <a href="javascript:;" class="mt-4 text-darker d-flex align-items-center">
							<h4 class="mr-3">Kerjasama Pusat Karir Sekolah</h4><i class="fas fa-long-arrow-alt-right"></i>
						</a>
						<p class="mt-4">Membutuhkan bantuan untuk pengelolaan website pusat karir sekolah? Hubungi tim Kami melalui Email <a href="#">school@career.support</a></p>
					</div>
					<div class="col-12 col-md-6 py-4 px-5"><i data-feather="life-buoy" width="36" height="36" class="stroke-darker"></i> <a href="javascript:;" class="mt-4 text-darker d-flex align-items-center">
							<h4 class="mr-3">Kerjasama Perusahaan</h4><i class="fas fa-long-arrow-alt-right"></i>
						</a>
						<p class="mt-4">Terkendala dalam memasang lowongan kerja atau magang? Hubungi tim Kami melalui Email <a href="#">company@career.support</a></p>
					</div>
				</div>
			</div>
		</section>
    </main>
</template>

<script lang="ts">
import $ from 'jquery';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Action ,State} from 'vuex-class';

@Component
export default class ContactUs extends Vue{

    //Action
    @Action('mainLayout')
	private mainLayout : any;
	@Action('actionSendMail' , {namespace: 'misc'})
	private actionSendMail : any;

	@State('contact_us' , {namespace: 'misc'})
	private contact_us : any;

	constructor(){
		super();
	}

    //LifeCycle
    private created(){
        this.mainLayout();
    };

    private mounted(){
        // $('html, body').animate({
        //     scrollTop: 0,
		// }, 500);
		$('nav').removeClass('dark-link')
    };
}
</script>
