<template>
  <main class="overflow-hidden">
    <!-- Integration Heading -->
    <header class="header integrations-header section">
      <div class="shapes-container">
        <div class="shape shape-circle shape-circle-1" data-aos="fade-down" data-aos-delay="200">
          <div></div>
        </div>
        <div class="shape shape-circle shape-circle-2" data-aos="zoom-in" data-aos-delay="300">
          <div></div>
        </div>
        <div class="shape shape-square shape-square-1" data-aos="flip-right" data-aos-delay="400">
          <div></div>
        </div>
        <div class="shape shape-square shape-square-2" data-aos="flip-left" data-aos-delay="400">
          <div></div>
        </div>
        <div class="shape shape-square shape-square-3" data-aos="flip-left" data-aos-delay="200">
          <div></div>
        </div>
        <div class="shape shape-ring shape-ring-1">
          <div></div>
        </div>
        <div class="shape shape-ring shape-ring-2">
          <div></div>
        </div>
        <div class="shape pattern pattern-dots">
          <div></div>
        </div>
        <div class="static-shape background-shape-main"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto text-center">
            <h1 class="bold font-md font-md-lg">
              Platform digital manajemen karir dan pekerjaan untuk pusat karir sekolah dan fresh graduate pencari kerja
            </h1>
            <p class="lead text-muted">
              Kami hadir untuk memfasilitasi dan mempermudah fresh graduate agar dapat membangun dan meraih karir impian lebih cepat  #BuildABetterCareer
            </p>
            <a @click="clickBagaimanaCara()"
               class="btn btn-primary btn-lg btn-rounded bold px-4 mt-4 text-white">
              Bagaimana caranya?
            </a>
          </div>
        </div>
      </div>
      <div class="bubbles-wrap">
        <div class="bubbles-container"></div>
      </div>
    </header>
    <!-- ./How it works -->
    <section id="features" class="section how-it-works">
      <div class="shapes-container">
        <div class="shape shape-ring" data-aos="fade-right">
          <div></div>
        </div>
      </div>
      <div class="container">
        <div class="section-heading text-center">
          <h2 class="bold">Bagaimana Career.Support bekerja?</h2>
          <p class="lead text-secondary">Kami memberikan kemudahan bagi semua pihak agar lebih mudah berinteraksi dan berkolaborasi demi percepatan penyerapan tenaga kerja, dengan cara:</p>
        </div>

        <div class="row gap-y text-center text-md-left">

          <div class="col-md-4 py-4 text-center">
            <div class="shapes-figure shapes-container">
              <div class="shape shape-circle center-x"></div>
            </div>
            <figure class="mockup mb-4">
              <img src="@/assets/Theme/DashCore/img/integration/steps/plan.svg" class="mb-3 image-responsive">
            </figure>
              <h5 class="bold">Pusat Karir Sekolah</h5>
              <p class="text-muted">Membuat web pusat karir sekolah yang terintegrasi secara gratis untuk mengelola data karir siswa</p>
              <a class="btn btn-rounded btn-outline-primary bw-2 position-r1" @click="clickSchool()">
                Selengkapnya
              </a>
          </div>
          <div class="col-md-4 py-4 text-center">
            <div class="shapes-figure shapes-container">
              <div class="shape shape-circle center-x"></div>
            </div>
            <figure class="mockup mb-4">
              <img src="@/assets/Theme/DashCore/img/integration/steps/payment.svg" class="mb-3 image-responsive">
            </figure>
            <h5 class="bold">Pencari Kerja</h5>
            <p class="text-muted">Membangun dan mempersiapkan data karir sejak dini agar lebih mudah meraih pekerjaan impian</p>
            <a class="btn btn-rounded btn-outline-primary bw-2 position-r1"
              @click="clickCandidate()">
              Selengkapnya
            </a>
          </div>
          <div class="col-md-4 py-4 text-center">
            <div class="shapes-figure shapes-container">
              <div class="shape shape-circle center-x"></div>
            </div>
            <figure class="mockup mb-4">
              <img src="@/assets/Theme/DashCore/img/integration/steps/work.svg" class="mb-3 image-responsive">
            </figure>
            <h5 class="bold">Perusahaan</h5>
            <p class="text-muted">Mempublikasikan lowongan pekerjaan khusus fresh graduate tanpa batas secara gratis</p>
            <a class="btn btn-rounded btn-outline-primary bw-2 position-r1"
              @click="clickCompany()">
              Selengkapnya
            </a>
          </div>

        </div>
      </div>
    </section>

    <section class="section built-tech" id="school">
      <div class="container">
        <div class="shapes-container">
          <div class="shape shape-circle" data-aos="fade-up">
            <div></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-7">
            <div class="card shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8 b-md-r">
                    <span class="badge badge-primary badge-pill bold px-4 py-2">Better tech</span>
                    <h2 class="mt-3"><span class="bold">Buat web pusat karir</span><br/>secara gratis disini</h2>
                    <p class="text-muted">Segera buat situs web pusat karir sekolah yang terintegrasi dengan siswa/alumni dan bergabunglah dengan ratusan perusahaan yang sedang mencari pekerja fresh graduate.</p>
                    <figure class="">
                      <img src="@/assets/Theme/DashCore/img/logos/webpack.svg" class="img-responsive mx-auto" alt="">
                    </figure>
                    <router-link class="btn btn-rounded btn-outline-primary bw-2 mr-3"
                                 :to="{name: 'school'}">
                      Daftar sebagai Sekolah
                    </router-link>
                  </div>
                  <div class="col-md-4 d-flex flex-column justify-content-around">
                    <div class="text-center">
                      <figure class="mockup"><img src="@/assets/Theme/DashCore/img/sekolah/logo_landing_smktb.jpg" alt=""></figure>
                    </div>
                    <div class="text-center">
                      <figure class="mockup"><img src="@/assets/Theme/DashCore/img/sekolah/logo_landing_ubb.jpg" alt=""></figure>
                    </div>
                    <div class="text-center">
                      <figure class="mockup"><img src="@/assets/Theme/DashCore/img/sekolah/logo_landing_uii.jpg" alt=""></figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-5">
            <div class="shapes-container">
              <div class="shape shape-ring shape-ring-1" data-aos="fade-up">
                <div></div>
              </div>
            </div>
            <div class="section-heading">
              <figure class="mockup ml-0"><img src="@/assets/Theme/DashCore/img/integration/tech-globe.svg" alt=""></figure>
              <h2 class="my-3 font-md">Bantu siswa dan alumni untuk <span class="bold">meraih karir yang lebih baik</span></h2>
              <p class="text-muted">
                Career.Support menyediakan fitur yang dapat digunakan oleh siswa dan alumni agar dapat mengelola data karir sejak dini dan mempersiapkannya untuk meraih pekerjaan impian
              </p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="media pb-3">
                  <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center mr-3">
                    <activity-icon/>
                  </div>
                  <div class="media-body">
                    <h5>Mudah</h5>
                    <p>Mengelola dan mengatur situs web</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="media pb-3">
                  <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center mr-3">
                    <upload-cloud-icon/>
                  </div>
                  <div class="media-body">
                    <h5>Aman</h5>
                    <p>Data sekolah dan siswa terjamin</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="media pb-3">
                  <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center mr-3">
                    <zap-icon/>
                  </div>
                  <div class="media-body">
                    <h5>Cepat</h5>
                    <p>Data dan informasi lowongan pekerjaan</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="media pb-3">
                  <div class="bg-light p-3 rounded d-flex align-items-center justify-content-center mr-3">
                    <hexagon-icon/>
                  </div>
                  <div class="media-body">
                    <h5>Terpercaya</h5>
                    <p>Menghindari segala penipuan</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- Extend Core -->

    <section class="section extending-core border-top bg-light edge bottom-right" id="company">
      <div class="shapes-container">
        <div class="shape shape-circle">
          <div></div>
        </div>
      </div>
      <div class="container pb-9">
        <div class="row gap-y align-items-center">

          <div class="col-lg-6">
            <div class="section-heading">
              <p class="text-primary bold small text-uppercase">perusahaan</p>
              <h2>Cari talenta fresh graduate</h2>
              <p>Buat akun perusahaan Anda agar bisa mempublikasikan informasi lowongan pekerjaan tanpa batas secara gratis dan dapatkan talenta fresh graduate terbaik</p>
            </div>
            <router-link class="btn btn-rounded btn-outline-primary bw-2 mr-3"
               :to="{name: 'company'}">
              Daftar sebagai Perusahaan
            </router-link>
	        </div>

          <div class="col-lg-6">
            <div class="icons-wrapper position-relative">
              <div class="floating icon icon-xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                   style="left: 100%; top: 30%;"
                   data-aos="fade-left">
                <img src="@/assets/Theme/DashCore/img/perusahaan/jne.svg" class="img-responsive" alt="">
              </div>
	            <div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                   style="left: 60%; top: -10%;"
                   data-aos="fade-left">
                <img src="@/assets/Theme/DashCore/img/perusahaan/hallo_dok.jpg" class="img-responsive rounded-circle" alt="">
              </div>
	            <div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                   style="left: 25%; top: 0%;"
                   data-aos="fade-left">
                <img src="@/assets/Theme/DashCore/img/perusahaan/shopee.svg" class="img-responsive" alt="">
              </div>
	            <div class="floating icon icon-2xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                   style="left: 0%; top: 50%;"
                   data-aos="fade-left">
                <img src="@/assets/Theme/DashCore/img/perusahaan/traveloka.png" class="img-responsive rounded-circle" alt="">
              </div>
	            <div class="floating icon icon-2xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                   style="left: 23%; top: 70%;"
                   data-aos="fade-left">
                <img src="@/assets/Theme/DashCore/img/perusahaan/ruangguru.png" class="img-responsive" alt="">
              </div>
	            <div class="floating icon icon-xxl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                   style="left: 65%; top: 44%;"
                   data-aos="fade-left">
                <img src="@/assets/Theme/DashCore/img/perusahaan/tokopedia.jpg" class="img-responsive rounded-circle" alt="">
              </div>
	            <div class="floating icon icon-xl bg-contrast rounded-circle p-3 shadow m-0 absolute d-flex justify-content-center align-items-center"
                   style="left: 95%; top: 83%;"
                   data-aos="fade-left">
                <img src="@/assets/Theme/DashCore/img/perusahaan/prudential.png" class="img-responsive rounded-circle" alt="">
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="section" id="candidate">
      <div class="container bring-to-front">
        <div class="row align-items-center justify-content-between">
          <div class="col-md-6 order-md-last">
            <div class="mb-5">
              <p class="text-primary bold">Siswa/Alumni Pencari Kerja</p>
              <h2>Kesuksesan Kamu adalah Kesuksesan Kita</h2>
              <p class="lead text-muted">Jika Kamu mau lulus atau baru saja lulus dan sedang mencari informasi lowongan pekerjaan khusus untuk fresh graduate, maka Career.Support pilihan yang tepat.</p>
	          </div>
	          <div class="row">
              <div class="col-md-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-circle badge-primary mt-1 mr-4">
                    <check-icon class="stroke-constrast"/>
                  </div>
                  <p class="text-primary">Manajemen data karir online</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-circle badge-primary mt-1 mr-4">
                    <check-icon class="stroke-constrast"/>
                  </div>
                  <p class="text-primary">Otomatis membuat CV berdesain</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-circle badge-primary mt-1 mr-4">
                    <check-icon class="stroke-constrast"/>
                  </div>
                  <p class="text-primary">Terintegrasi dengan sekolah</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex align-items-center">
                  <div class="badge rounded-circle badge-primary mt-1 mr-4">
                    <check-icon class="stroke-constrast"/>
                  </div>
                  <p class="text-primary">Lowongan kerja khusus fresh graduate</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-5" data-aos="fade-right">
            <div class="card shadow-lg">
              <img src="@/assets/Theme/DashCore/img/landing_page_candidate.png" alt="..." class="card-img-top">
              <div class="card m-3">
                <router-link class="btn btn-rounded btn-primary btn-solid btn-lg text-center"
                             :to="{name: 'candidate'}">
                  Daftar sebagai Pencari Kerja
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section bg-contrast edge bottom-right latest-projects">
      <div class="container bring-to-front pt-0">
        <div class="shadow-lg bg-contrast rounded">
          <div class="bg-contrast rounded-bottom p-4">
            <p class="bold lead my-0">Dokumentasi Kegiatan</p>
            <p class="text-muted my-0">Kegiatan kerja sama, kunjungan serta pengenalan Career Support ke berbagai pihak seperti sekolah, siswa dan perusahaan</p>
          </div>
          <div class="row no-gutters">
            <div class="col-6 col-md-4">
              <div class="project-detail overlay overlay-secondary">
                <a href="javascript:;">
                  <img src="@/assets/Theme/DashCore/img/dokumentasi/1.jpg" alt="">
                  <div class="description bg-dark text-contrast p-1 p-md-2">
                    <p class="bold">Sosialisasi di SMK Taruna Bhakti</p>
                    <p class="text-muted">Memberikan sosialisasi tentang pentingnya membangun data karir sejak dini dan mengenalkan tentang manfaat Career Support</p>
                  </div>
	              </a>
              </div>
	          </div>
            <div class="col-6 col-md-4">
              <div class="project-detail overlay overlay-secondary">
                <a href="javascript:;">
                  <img src="@/assets/Theme/DashCore/img/dokumentasi/2.jpg" alt="">
                  <div class="description bg-dark text-contrast p-1 p-md-2">
                    <p class="bold">Pengenalan Career Support</p>
                    <p class="text-muted">Tim Career Support memberikan penjelasan dan pengenalan tentang tata cara penggunaan fitur yang ada di Career Support </p>
                  </div>
		            </a>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="project-detail overlay overlay-secondary">
                <a href="javascript:;">
                  <img src="@/assets/Theme/DashCore/img/dokumentasi/3.jpg" alt="">
                  <div class="description bg-dark text-contrast p-1 p-md-2">
                    <p class="bold">Sosialisasi di Universitas Bale Bandung</p>
                    <p class="text-muted">Tim Career Support mendapatkan undangan dari Universitas Bale Bandung untuk menjadi narasumber tentang pengembangan karir</p>
                  </div>
		            </a>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="project-detail overlay overlay-secondary">
                <a href="javascript:;">
                  <img src="@/assets/Theme/DashCore/img/dokumentasi/4.jpg" alt="">
                  <div class="description bg-dark text-contrast p-1 p-md-2">
                    <p class="bold">Penyerahan Sertifikat</p>
                    <p class="text-muted">Universitas Bale Bandung memberikan sertifikat penghargaan kepada tim Career Support atas kehadian dalam seminar karir</p>
                  </div>
	              </a>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="project-detail overlay overlay-secondary">
                <a href="javascript:;">
                  <img src="@/assets/Theme/DashCore/img/dokumentasi/7.jpg" alt="">
                  <div class="description bg-dark text-contrast p-1 p-md-2">
                    <p class="bold">Seminar Karir dan Motivasi</p>
                    <p class="text-muted">Peserta seminar tampak antusias dan semangat mendengarkan penjelasan tentang tips membangun karir di era industry 4.0</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-6 col-md-4">
              <div class="project-detail overlay overlay-secondary">
                <a href="javascript:;">
                  <img src="@/assets/Theme/DashCore/img/dokumentasi/6.jpg" alt="">
                  <div class="description bg-dark text-contrast p-1 p-md-2">
                    <p class="bold">Antusiasme Peserta Seminar</p>
                    <p class="text-muted">Foto Bersama dengan beberapa peserta yang termotivasi dengan materi yang dibawakan oleh tim Career Support</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </main>
</template>

<script lang="ts">
import $ from 'jquery';
import 'swiper';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { CANDIDAT_SIGNUP, COMPANY_SIGNUP, SCHOOL_SIGNUP } from '@/constants/portal.constant';

import { Action, State } from 'vuex-class';

import {
  ActivityIcon, HexagonIcon, UploadCloudIcon, ZapIcon,
  CheckIcon, ArrowLeftIcon, ArrowRightIcon,
} from 'vue-feather-icons';

@Component({
  components: {
    ActivityIcon,
    ArrowLeftIcon,
    ArrowRightIcon,
    CheckIcon,
    HexagonIcon,
    UploadCloudIcon,
    ZapIcon,
  },
})
export default class Landing extends Vue {
  /* VUEX */
  // ACTION
  @Action('mainLayout')
  private mainLayout: any;
  // STATE
  @State('statistic', { namespace: 'misc' })
  private statistic: any;

  /* INITIALIZATION */

  private candidateSignup: string = CANDIDAT_SIGNUP;
  private companySignup: string = COMPANY_SIGNUP;
  private schoolSignup: string = SCHOOL_SIGNUP;
  private bubblesEl: any;
  constructor() {
    super();
  }

  /* LIFECYCLE */
  private created() {
    this.mainLayout();
    $('html, body').animate({
      scrollTop: 0,
    }, 500);
  }
  private mounted(){
    $('nav').addClass('dark-link')
  }

  /* METHOD */
  private toggle(id: string) {
    const element = (document.querySelector(id) as any);
    if (element.checked) {
      element.checked = false;
    } else {
      element.checked = true;
    }
  }

  private clickBagaimanaCara() {
    $('html, body').animate({
      scrollTop: ($('#features') as any).offset().top,
    }, 500);
  }

  private clickSchool() {
    $('html, body').animate({
      scrollTop: ($('#school') as any).offset().top,
    }, 500);
  }

  private clickCompany() {
    $('html, body').animate({
      scrollTop: ($('#company') as any).offset().top,
    }, 500);
  }

  private clickCandidate() {
    $('html, body').animate({
      scrollTop: ($('#candidate') as any).offset().top,
    }, 500);
  }
}
</script>

<style lang="scss">

</style>
