<i18n>
{
  "en": {
    "tac_title": "Career Support Terms & Conditions",
    "last_updated": "Last updated on 26 September 2019",
    "tac_desc": "Understanding your rights and responsibilities as a Career.Support user",
    "privacy_title": "Privacy Reminder",
    "privacy_desc": "Protect your personal information by never providing credit card or bank account numbers to prospective employers.",
    "tou_title": "Terms of Use",
    "tou_desc1": "This page states the Terms of Use (\"Terms\") under which you (\"You\") may use the Career.Support Sites and the Services (each as defined below). These Terms include the Career.Support Privacy Policy, which is incorporated into these Terms by reference.",
    "tou_desc2": "These Terms constitute a binding agreement between You and Career.Support or the Career.Support company operating the Web site for the country in which You live or in which business is headquartered (“Career.Support”), and are deemed accepted by You each time that You use or access any Career.Support Site or Career.Support Services. If You do not accept the Terms stated here, do not use the Career.Support Sites and the Career.Support Services.",
    "tou_desc3": "The Career.Support Sites are defined as any Web sites under Career.Support’s control, whether partial or otherwise (including, without limitation, Career.Support.com, and the Web site from which these terms of use were accessed from) and include the Career.Support Services. The Career.Support Services are defined as the applications and services offered by Career.Support, including an on-line service to post and search employment opportunities and including any application accessed through the Facebook Platform and/or any mobile or other interface that allows You to access such application (collectively, “Career.Support Services”). The Career.Support Sites also allow Users to create individual profiles, which may include personal information (”Profiles”), and to make these Profiles, or aspects thereof, public.  In addition, Career.Support may collect information about You from publicly-available websites and may use this information to create a Profile or append it to an existing Profile.",
    "tou_desc4": "Career.Support may revise these Terms at any time by posting an updated version to this Web page. You should visit this page periodically to review the most current Terms because they are binding on You.",
    "tou_desc5": "Users who violate these Terms may have their access and use of the Career.Support Sites suspended or terminated, at Career.Support’s discretion.",
    "tou_desc6": "You must be 13 years of age or older to visit or use any Career.Support Site in any manner, and, if under the age of 18 or the age of majority as that is defined in Your jurisdiction, must use any Career.Support Site under the supervision of a parent, legal guardian, or other responsible adult.",
    "tou_desc7": "You may not use the Career.Support Content or Profiles to determine a consumer's eligibility for: <br>(a) credit or insurance for personal, family, or household purposes; <br>(b) employment; <br>(c) a government license or benefit.",
    "cs_content_title": "1. Use of Career.Support Content",
    "cs_content_desc1": "Career.Support authorizes You, subject to these Terms, to access and use the Career.Support Sites and the Career.Support Content (as defined below) and to download and print a single copy of the content available on or from the Career.Support Sites solely for Your personal, non-commercial use. The contents of the Career.Support Sites, such as designs, text, graphics, images, video, information, logos, button icons, software, audio files and other Career.Support content (collectively, \"Career.Support Content\"), are protected under copyright, trademark and other laws. All Career.Support Content is the property of Career.Support or its licensors. The compilation (meaning the collection, arrangement and assembly) of all content on the Career.Support Sites is the exclusive property of Career.Support and is protected by copyright, trademark, and other laws. Unauthorized use of the Career.Support Content may violate these laws and/or applicable communications regulations and statutes, and is strictly prohibited. You must preserve all copyright, trademarks, service mark and other proprietary notices contained in the original Career.Support Content on any authorized copy You make of the Career.Support Content.",
    "cs_content_desc2": "Any code that Career.Support creates to generate or display any Career.Support Content or the pages making up any Career.Support Site is also protected by Career.Support's copyright and You may not copy or adapt such code.",
    "cs_content_desc3": "You agree not to sell or modify the Career.Support Content or reproduce, display, publicly perform, distribute, or otherwise use the Career.Support Content in any way for any public or commercial purpose, in connection with products or services that are not those of the Career.Support Sites, in any other manner that is likely to cause confusion among consumers, that disparages or discredits Career.Support or its licensors, that dilutes the strength of Career.Support's or its licensor’s property, or that otherwise infringes Career.Support's or its licensor’s intellectual property rights. You further agree to in no other way misuse Career.Support Content. The use of the Career.Support Content on any other application, web site or in a networked computer environment for any purpose is prohibited. Any code that Career.Support creates to generate or display any Career.Support Content or the pages making up any Application or Service is also protected by Career.Support's copyright and you may not copy or adapt such code.",
    "cs_services_title": "2. Use of the Career.Support Services",
    "cs_services_desc1": "The job posting, resume database (“Career.Support Resume Database”) and other features of the Career.Support Sites may be used only by individuals seeking employment and/or career information and by employers seeking employees. In addition, Career.Support Networking and Profiles may be used by individuals for permitted professional and personal networking purposes. Your use of the Career.Support Services is also subject to any other contracts You may have with Career.Support. In the case of any conflict between these Terms and any contract you have with Career.Support, the terms of your contract will prevail. The term “post” as used herein shall mean information that You submit, publish or display on a Career.Support Site.<br>You are responsible for maintaining the confidentiality of Your account, Profile and passwords, as applicable. You may not share Your password or other account access information with any other party, temporarily or permanently, and You shall be responsible for all uses of Your Career.Support account, whether or not authorized by You. You agree to immediately notify Career.Support of any unauthorized use of Your account, Profile, or passwords.",
    "cs_agreenot_title": "All Career.Support Users agree to not:",
    "cs_agreenot_desc": "(a) transmit, post, distribute, store or destroy material, including without limitation Career.Support Content, in violation of any applicable law or regulation, including but not limited to laws or regulations governing the collection, processing, or transfer of personal information, or in breach of Career.Support’s privacy policy;<br>(b) take any action that imposes an unreasonable or disproportionately large load on any Career.Support Site's infrastructure;<br>(c) use any device to navigate or search any Career.Support Site other than the tools available on the Site, generally available third party web browsers, or other tools approved by Career.Support;<br>(d) use any data mining, robots or similar data gathering or extraction methods;<br>(e) violate or attempt to violate the security of any Career.Support Site including attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;<br>(f) forge any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting;<br>(g) reverse engineer or decompile any parts of any Career.Support Site;<br>(h) aggregate, copy or duplicate in any manner any of the Career.Support Content or information available from any Career.Support Site, including expired job postings, other than as permitted by these Terms;<br>(i) frame or link to any Career.Support Content or information available from any Career.Support Site, unless permitted by these Terms;<br>(j) post any content or material that promotes or endorses false or misleading information or illegal activities, or endorses or provides instructional information about illegal activities or other activities prohibited by these Terms, such as making or buying illegal weapons, violating someone's privacy, providing or creating computer viruses or pirating media;<br>(k) post any resume or Profile or apply for any job on behalf of another party;<br>(l) defer any contact from an employer to any agent, agency, or other third party;<br>(m) set more than one copy of the same resume to public at any one time;<br>(n) share with a third party any login credentials to any Career.Support Site;<br>(o) access data not intended for You or logging into a server or account which You are not authorized to access;<br>(p) post or submit to any Career.Support Site any incomplete, false or inaccurate biographical information or information which is not Your own;<br>(q) post content that contains restricted or password-only access pages, or hidden pages or images;<br>(r) solicit passwords or personally identifiable information from other Users;<br>(s) delete or alter any material posted by any other person or entity;<br>(t) harass, incite harassment or advocate harassment of any group, company, or individual;<br>(u) send unsolicited mail or email, make unsolicited phone calls or send unsolicited faxes promoting and/or advertising products or services to any User, or contact any users that have specifically requested not to be contacted by You;<br>(v) attempt to interfere with service to any User, host or network, including, without limitation, via means of submitting a virus to any Career.Support Site, overloading, \"flooding\", \"spamming\", \"mailbombing\" or \"crashing\";<br>(w) promote or endorse an illegal or unauthorized copy of another person's copyrighted work, such by as providing or making available pirated computer programs or links to them, providing or making available information to circumvent manufacture-installed copy-protect devices, or providing or making available pirated music or other media or links to pirated music or other media files; or<br>(x) use the Career.Support Services for any unlawful purpose or any illegal activity, or post or submit any content, resume, or job posting that is defamatory, libelous, implicitly or explicitly offensive, vulgar, obscene, threatening, abusive, hateful, racist, discriminatory, of a menacing character or likely to cause annoyance, inconvenience, embarrassment, anxiety or could cause harassment to any person or include any links to pornographic, indecent or sexually explicit material of any kind, as determined by Career.Support’s discretion.<br><br>Violations of system or network security may result in civil and/or criminal liability. Career.Support will investigate occurrences which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting Users who are involved in such violations.",
    "additional_term_title": "Additional Terms Applicable to Employers",
    "additional_term_desc": "Employers are solely responsible for their postings on Career.Support Sites. Career.Support is not to be considered to be an employer with respect to Your use of any Career.Support Site and Career.Support shall not be responsible for any employment decisions, for whatever reason, made by any entity posting jobs on any Career.Support Site.<br>You understand and acknowledge that if You cancel Your employer account or Your employer account is terminated, all Your account information from Career.Support, including saved resumes, network contacts, and email mailing lists, will be marked as deleted in and may be deleted from Career.Support's databases. Information may continue to be available for some period of time because of delays in propagating such deletion through Career.Support’s web servers.<br>In order to protect our Career.Support Users from commercial advertising or solicitation, Career.Support reserves the right to restrict the number of e-mails which an employer may send to Users to a number which Career.Support deems appropriate in its sole discretion. You shall use the Career.Support Networking and Profiles in accordance with all applicable privacy and data protection laws.",
    "job_posting_title": "Job postings",
    "job_posting_desc": "A Job posting may not contain:<br>(a) any hyperlinks, other than those specifically authorized by Career.Support;<br>(b) misleading, unreadable, or \"hidden\" keywords, repeated keywords or keywords that are irrelevant to the job opportunity being presented, as determined in Career.Support’s reasonable discretion;<br>(c) the names, logos or trademarks of unaffiliated companies other than those of your customer save where expressly agreed by Career.Support;<br>(d) the names of colleges, cities, states, towns or countries that are unrelated to the posting;<br>(e) inaccurate, false, or misleading information; and<br>(f) material or links to material that exploits people in a sexual, violent or other manner, or solicits personal information from anyone under 18.<br>You may not use Your Career.Support job posting, Career.Support Networking, or Profiles to:<br>(a) post jobs in a manner that does not comply with applicable local, national and international laws, including but not limited to laws relating to labor and employment, equal employment opportunity and employment eligibility requirements, data privacy, data access and use, and intellectual property;<br>(b) post jobs that require citizenship of any particular country or lawful permanent residence in a country as a condition of employment, unless otherwise required in order to comply with law, regulations, executive order, or federal, state or local government contract;<br>(c) post jobs that include any screening requirement or criterion in connection with a job posting where such requirement or criterion is not an actual and legal requirement of the posted job;<br>(d) with respect to Profiles, determine a consumer's eligibility for: (i) credit or insurance for person, family, or household purposes; (ii) employment; or (iii) a government license of benefit.<br>(e) post jobs or other advertisements for competitors of Career.Support or post jobs or other content that contains links to any site competitive with Career.Support;<br>(f) sell, promote or advertise products or services;<br>(g) post any franchise, pyramid scheme, \"club membership\", distributorship, multi-level marketing opportunity, or sales representative agency arrangement;<br>(h) post any business opportunity that requires an upfront or periodic payment or requires recruitment of other members, sub-distributors or sub-agents;<br>(i) post any business opportunity that pays commission only unless the posting clearly states that the available job pays commission only and clearly describes the product or service that the job seeker would be selling;<br>(j) promote any opportunity that does not represent bona fide employment which is generally indicated by the employer’s use of IRS forms W-2 or 1099;<br>(k) post jobs on any Career.Support Site for modeling, acting, talent or entertainment agencies or talent scouting positions;<br>(l) advertise sexual services or seek employees for jobs of a sexual nature;<br>(m) request the use of human body parts or the donation of human parts, including, without limitation, reproductive services such as egg donation and surrogacy;<br>(n) endorse a particular political party, political agenda, political position or issue;<br>(o) promote a particular religion;<br>(p) post jobs located in countries subject to economic sanctions of the United States Government; and<br>(q) Except where allowed by applicable law, post jobs which require the applicant to provide information relating to his/her (i) racial or ethnic origin (ii) political beliefs (iii) philosophical or religious beliefs (iv) membership of a trade union (v) physical or mental health (vi) sexual life (vii) the commission of criminal offences or proceedings or (vii) age.<br>Career.Support reserves the right to remove any job posting or content from any Career.Support Site, which in the reasonable exercise of Career.Support’s discretion, does not comply with the above Terms, or if any content is posted that Career.Support believes is not in the best interest of Career.Support.<br>If at any time during Your use of the Career.Support Services, You made a misrepresentation of fact to Career.Support or otherwise misled Career.Support in regards to the nature of Your business activities, Career.Support will have grounds to terminate Your use of the Career.Support Services.",
    "resume_database_title": "Resume Database",
    "resume_database_desc": "Use of the Career.Support Resume Database by Employers<br>You shall use the Career.Support Resume Database as provided in these Terms and in any contract You have with Career.Support. You shall use the Career.Support Resume Database in accordance with all applicable privacy and data protection laws, and You agree You shall not further disclose any of the data from Career.Support Resume Database to any third party, unless You are an authorized recruitment agency, staffing agency, advertising or other agency or using the resume explicitly for employment purposes.<br>You shall take appropriate physical, technical, and administrative measures to protect the data You have obtained from Career.Support Resume Database from loss, misuse, unauthorized access, disclosure, alteration or destruction. You shall not share Resume Database seat-based license login credentials with any other party, nor share Resume Database pay-per-view license login credentials with any party.<br>The Career.Support Resume Database shall not be used:<br>(a) for any purpose other than as an employer seeking employees, including but not limited to advertising promotions, products, or services to any resume holders;<br>(b) to make unsolicited phone calls or faxes or send unsolicited mail, email, or newsletters to resume holders or to contact any individual unless they have agreed to be contacted (where consent is required or, if express consent is not required, who has not informed you that they do not want to be contacted); or<br>(c) to source candidates or to contact job seekers or resume holders in regards to career fairs and business opportunities prohibited by Section 3.<br>In order to ensure a safe and effective experience for all of our customers, Career.Support reserves the right to limit the amount of data (including resume views) that may be accessed by You in any given time period. These limits may be amended in Career.Support’s sole discretion from time to time.",
    "addterms_jobseeker_title": "Additional terms applicable to Job Seekers",
    "addterms_jobseeker_desc": "When You register with any Career.Support Site, You will be asked to create an account and provide Career.Support with certain information including, without limitation, a valid email address (Your \"Information\").<br>Any Profile You submit must be accurate and describe You, an individual person. The Profile requires standard fields to be completed and you may not include in these fields any telephone numbers, street addresses, email addresses or other means of contacting You, other than Your last name and URLs.<br>You acknowledge and agree that You are solely responsible for the form, content and accuracy of any resume or material contained therein placed by You on the Career.Support Sites.<br>Career.Support reserves the right to offer third party services and products to You based on the preferences that You identify in Your registration and at any time thereafter or you have agreed to receive, such offers may be made by Career.Support or by third parties. Please see Career.Support's Privacy Policy, for further details regarding Your Information.<br>You understand and acknowledge that You have no ownership rights in Your account and that if You cancel Your Career.Support account or Your Career.Support account is terminated, all Your account information from Career.Support, including resumes and Profiles will be marked as deleted in and may be deleted from Career.Support's databases and will be removed from any public area of the Career.Support Sites. In addition, third parties may retain saved copies of Your Information.<br>Career.Support reserves the right to delete Your account and all of Your Information after a significant duration of inactivity.",
    "content_submission_title": "User Content and Submissions",
    "content_submission_desc": "You understand that all information, data, text, software, music, sound, photographs, graphics, video, advertisements, messages or other materials submitted, posted or displayed by You on or through a Career.Support Site (\"User Content\") is the sole responsibility of the person from which such User Content originated. Career.Support claims no ownership or control over any User Content. You or a third party licensor, as appropriate, retain all patent, trademark and copyright to any User Content you submit, post or display on or through Career.Support and you are responsible for protecting those rights, as appropriate. By submitting, posting or displaying User Content on or through Career.Support, you grant Career.Support a worldwide, non-exclusive, royalty-free, transferable, sub-licensable license to use, reproduce, adapt, distribute and publish such User Content through Career.Support. In addition, by submitting, posting or displaying User Content which is intended to be available to the general public, you grant Career.Support a worldwide, non-exclusive, royalty-free license to reproduce, adapt, distribute and publish such User Content for the purpose of promoting Career.Support and its services. Career.Support will discontinue this licensed use within a commercially reasonable period after such User Content is removed from Career.Support. Career.Support reserves the right to refuse to accept, post, display or transmit any User Content in its sole discretion<br>You also represent and warrant that You have the right to grant, or that the holder of any rights, including moral rights in such content has completely and effectively waived all such rights and validly and irrevocably granted to You the right to grant, the license stated above. If You post User Content in any public area of any Career.Support Site, You also permit any User to access, display, view, store and reproduce such User Content for personal use. Subject to the foregoing, the owner of such User Content placed on any Career.Support Site retains any and all rights that may exist in such User Content. Career.Support may review and remove any User Content that, in its sole judgment, violates these Terms, violates applicable laws, rules or regulations, is abusive, disruptive, offensive or illegal, or violates the rights of, or harms or threatens the safety of, Users of any Career.Support Site. Career.Support reserves the right to expel Users and prevent their further access to the Career.Support Sites and/or use of Career.Support Services for violating the Terms or applicable laws, rules or regulations. Career.Support may take any action with respect to User Content that it deems necessary or appropriate in its sole discretion if it believes that such User Content could create liability for Career.Support, damage Career.Support’s brand or public image, or cause Career.Support to lose Users or (in whole or in part) the services of its ISPs or other suppliers.<br>Career.Support does not represent or guarantee the truthfulness, accuracy, or reliability of User Content, derivative works from User Content, or any other communications posted by Users nor does Career.Support endorse any opinions expressed by Users. You acknowledge that any reliance on material posted by other Users will be at Your own risk.<br>The following is a partial list of User Content that is prohibited on the Application. The list below is for illustration only and is not a complete list of all prohibited User Content.<br><p class=\"bold\">Content that:</p><br>is implicitly or explicitly offensive, such as User Content that engages in, endorses or promotes racism, bigotry, discrimination, hatred or physical harm of any kind against any group or individual; harasses, incites harassment or advocates harassment of any group or individual; involves the transmission of “junk mail”, “chain letters,” or unsolicited mass mailing, “spamming” or “phishing”; promotes or endorses false or misleading information or illegal activities or conduct that is abusive, threatening, obscene, defamatory or libelous; promotes or endorses an illegal or unauthorized copy of another person's copyrighted work, such as providing or making available pirated computer programs or links to them, providing or making available information to circumvent manufacture-installed copy-protect devices, or providing or making available pirated music or other media or links to pirated music or other media files; contains restricted or password only access pages, or hidden pages or images; displays or links to pornographic, indecent or sexually explicit material of any kind; provides or links to material that exploits people under the age of 18 in a sexual, violent or other manner, or solicits personal information from anyone under 18; or provides instructional information about illegal activities or other activities prohibited by these Terms, including without limitation, making or buying illegal weapons, violating someone's privacy, providing or creating computer viruses or pirating any media; and solicits passwords or personal identifying information from other Users.<br>Any Profile You submit must describe You, an individual person. Examples of inappropriate and prohibited Profiles include, but are not limited to, Profiles that purport to represent an animal, place, inanimate object, fictional character, or real individual that is not You.<br>You may not include, in any User Content submitted to Career.Support Networking, information that may be interpreted as a direct solicitation, advertisement or recruitment for an available job position directed to individuals seeking employment on either a full time or part time basis. In order to protect our Career.Support Community Users from commercial advertising or solicitation, Career.Support reserves the right to restrict the number of e-mails or other messages which a User may send to other Users to a number which Career.Support deems appropriate in its sole discretion.<br>Profiles derived from User Content may also be made available through the Career.Support Sites. Career.Support does not make any representations regarding the accuracy or validity of such derived works or their appropriateness for evaluation by employers. Derived Profiles may differ significantly from User Content.<br>We appreciate hearing from our Users and welcome Your comments regarding our services and the Career.Support Sites. Please be advised, however, that our policy does not permit us to accept or consider creative ideas, suggestions, inventions or materials other than those which we have specifically requested. While we do value Your feedback on our services, please be specific in Your comments regarding our services and do not submit creative ideas, inventions, suggestions, or materials. If, despite our request, You send us creative suggestions, ideas, drawings, concepts, inventions, or other information (collectively the \"Submission\"), the Submission shall be the property of Career.Support. None of the Submission shall be subject to any obligation of confidentiality on our part and we shall not be liable for any use or disclosure of any Submission. Career.Support shall own exclusively all now known or later discovered rights to the Submission and shall be entitled to unrestricted use of the Submission for any purpose whatsoever, commercial or otherwise, without compensation to You or any other person.",
    "policy_termination_title": "Policy Regarding Termination Of Users Who Infringe The Copyright Or Other Intellectual Property Rights Of Others",
    "policy_termination_desc": "Career.Support respects the intellectual property of others, and we ask our Users and content partners to do the same. The unauthorized posting, reproduction, copying, distribution, modification, public display or public performance of copyrighted works constitutes infringement of the copyright owners rights. As a condition to Your use of the Career.Support Sites, You agree not to use any Career.Support Site to infringe the intellectual property rights of others in any way. Career.Support reserves the right to terminate the accounts of any Users, and block access to the Career.Support Sites of any Users who are repeat infringers of the copyrights, or other intellectual property rights, of others. Career.Support reserves the right, in its sole discretion, to take these actions to limit access to the Site and/or terminate the accounts of any time, in our sole discretion Users who infringe any intellectual property rights of others, whether or not there is any repeat infringement, with or without notice, and without any liability to the User who is terminated or to the User whose access is blocked. Notwithstanding the foregoing, in the event that You believe in good faith that a notice of copyright infringement has been wrongly filed against You, please contact Career.Support as set forth in Section 6 above.",
    "liability_title": "Career.Support's Liability",
    "liability_desc": "The Career.Support Sites act as, among other things, venues for (i) employers to post job opportunities and search for and evaluate job candidates and (ii) candidates to post resumes and Profiles and search for and evaluate job opportunities. Career.Support does not screen or censor the listings, including Profiles offered. Career.Support is not involved in, and does not control, the actual transaction between employers and candidates. As a result, Career.Support is not responsible for User Content, the quality, safety or legality of the jobs or resumes posted, the truth or accuracy of the listings, the ability of employers to offer job opportunities to candidates or the ability of candidates to fill job openings and Career.Support makes no representations about any jobs, resumes or User Content on the Career.Support Sites. While Career.Support reserves the right in its sole discretion to remove User Content, job postings, resumes or other material from the Career.Support Sites from time to time, Career.Support does not assume any obligation to do so and to the extent permitted by law, disclaims any liability for failing to take any such action.<br>Because User authentication on the Internet is difficult, Career.Support cannot and does not confirm that each User is who they claim to be. Because we do not and cannot be involved in User-to-User dealings or control the behavior of participants on any Career.Support Site, in the event that You have a dispute with one or more Users, You release Career.Support (and our agents and employees) from claims, demands and damages (actual and consequential and direct and indirect) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes to the fullest extent permitted by law.<br>The Career.Support Sites and the Career.Support Content may contain inaccuracies or typographical errors. Career.Support makes no representations about the accuracy, reliability, completeness, or timeliness of any Career.Support Site or the Career.Support Content. The use of all Career.Support Sites and the Career.Support Content is at Your own risk. Changes are periodically made to Career.Support Sites and may be made at any time. Career.Support cannot guarantee and does not promise any specific results from use of any Career.Support Site. No advice or information, whether oral or written, obtained by a User from Career.Support or through or from any Career.Support Site shall create any warranty not expressly stated herein.<br>Career.Support encourages You to keep a back-up copy of any of Your User Content. To the extent permitted by law, in no event shall Career.Support be liable for the deletion, loss, or unauthorized modification of any User Content.<br>Career.Support does not provide or make any representation as to the quality or nature of any of the third party products or services purchased through any Career.Support Site, or any other representation, warranty or guaranty. Any such undertaking, representation, warranty or guaranty would be furnished solely by the provider of such third party products or services, under the terms agreed to by the provider.<br>If notified of any content or other materials which allegedly do not conform to these Terms, Career.Support may in its sole discretion investigate the allegation and determine whether to remove or request the removal of the content. Career.Support has no liability or responsibility to Users for performance or nonperformance of such activities.",
    "disclaimer_warranty_title": "Disclaimer of Warranty",
    "disclaimer_warranty_desc": "TO THE FULLEST EXTENT POSSIBLE BY LAW, CAREER.SUPPORT DOES NOT WARRANT THAT ANY CAREER.SUPPORT SITE OR ANY CAREER.SUPPORT SERVICES WILL OPERATE ERROR-FREE OR THAT ANY CAREER.SUPPORT SITE AND ITS SERVERS ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL MECHANISMS. IF YOUR USE OF ANY CAREER.SUPPORT SITE OR THE CAREER.SUPPORT CONTENT RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA OR ANY OTHER COSTS, CAREER.SUPPORT IS NOT RESPONSIBLE FOR THOSE COSTS. THE CAREER.SUPPORT SITES AND CAREER.SUPPORT CONTENT ARE PROVIDED ON AN \"AS IS\" BASIS WITHOUT ANY WARRANTIES OF ANY KIND. CAREER.SUPPORT, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE WARRANTY OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE AND NON-INFRINGEMENT. CAREER.SUPPORT MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE CAREER.SUPPORT CONTENT, SERVICES, SOFTWARE, TEXT, GRAPHICS, AND LINKS.",
    "disclaimer_consequential_title": "Disclaimer Of Consequential Damages",
    "disclaimer_consequential_desc": "TO THE FULLEST EXTENT POSSIBLE BY LAW, IN NO EVENT SHALL CAREER.SUPPORT, ITS SUPPLIERS, OR ANY THIRD PARTIES MENTIONED ON ANY CAREER.SUPPORT SITE BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA, LOST EMPLOYMENT OPPORTUNITY OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO USE ANY CAREER.SUPPORT SITE AND THE CAREER.SUPPORT CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT CAREER.SUPPORT IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.",
    "limitation_liability_title": "Limitation of Liability",
    "limitation_liability_desc": "TO THE FULLEST EXTENT POSSIBLE BY LAW, CAREER.SUPPORT'S MAXIMUM LIABILITY ARISING OUT OF OR IN CONNECTION WITH ANY CAREER.SUPPORT SITE OR YOUR USE OF THE CAREER.SUPPORT CONTENT, REGARDLESS OF THE CAUSE OF ACTION (WHETHER IN CONTRACT, TORT, BREACH OF WARRANTY OR OTHERWISE), WILL NOT EXCEED RP 1,000,000.",
    "link_sites_title": "Links to Other Sites",
    "link_sites_desc": "The Career.Support Sites contain links to third party Web sites. These links are provided solely as a convenience to You and not as an endorsement by Career.Support of the contents on such third-party Web sites. Career.Support is not responsible for the content of linked third-party sites and does not make any representations regarding the content or accuracy of materials on such third party Web sites. If You decide to access linked third-party Web sites, You do so at Your own risk.",
    "no_resale_title": "No Resale or Unauthorized Commercial Use",
    "no_resale_desc": "You agree not to resell or assign Your rights or obligations under these Terms. You also agree not to make any unauthorized commercial use of any Career.Support Site.",
    "indemity_title": "Indemnity",
    "indemity_desc": "You agree to defend, indemnify, and hold harmless Career.Support, its affiliates, and their respective officers, directors, employees and agents, from and against any claims, actions or demands, including without limitation reasonable legal and accounting fees, alleging or resulting from (i) any User Content or other material You provide to any Career.Support Site, (ii) Your use of any Career.Support Content, or (iii) Your breach of these Terms. Career.Support shall provide notice to You promptly of any such claim, suit, or proceeding.",
    "addterms_title": "Additional Terms",
    "addterms_desc": "Certain areas of the Career.Support Sites are subject to additional Terms. By using such areas, or any part thereof, You agree to be bound by the additional Terms applicable to such areas. By using any areas of this website or the other ",
    "mobile_services_title": "Mobile Services",
    "mobile_services_desc": "If You use the Career.Support Sites through a mobile device, You agree that information about Your use of the Career.Support Sites through Your mobile device and carrier may be communicated to us, including but not limited to Your mobile carrier, Your mobile device, or Your physical location. In addition, use of the Career.Support Sites through a mobile device may cause data to be displayed on and through Your mobile device. By accessing the Career.Support Sites using a mobile device, You represent that to the extent You import any of Your Career.Support data to Your mobile device that You have authority to share the transferred data with Your mobile carrier or other access provider. In the event You change or deactivate Your mobile account, You must promptly update Your Career.Support account information to ensure that Your messages are not sent to the person that acquires Your old number and failure to do so is Your responsibility. You acknowledge You are responsible for all charges and necessary permissions related to accessing the Career.Support Sites through Your mobile access provider. Therefore, You should check with Your provider to find out if the Career.Support Sites are available and the terms for these services for Your specific mobile devices.<br>By using any downloadable application to enable Your use of the Career.Support Sites, You are explicitly confirming Your acceptance of the terms of the End User License Agreement associated with the Application provided at download or installation, or as may be 5updated from time to time.",
    "term_termination_title": "Term and Termination",
    "term_termination_desc": "These Terms will remain in full force and effect while You are a User of any Career.Support Site. Career.Support reserves the right, at its sole discretion, to pursue all of its legal remedies, including but not limited to removal of Your User Content from the Career.Support Sites and immediate termination of Your registration with or ability to access the Career.Support Sites and/or any other services provided to You by Career.Support, upon any breach by You of these Terms or if Career.Support is unable to verify or authenticate any information You submit to a Career.Support Site registration. Even after You are no longer a User of the Career.Support Sites, certain provisions of these Terms will remain in effect, including Sections 1, 2, 5, 7 through 15, inclusive."
  },
  "id": {
    "tac_title": "Syarat & Ketentuan Career Support",
    "last_updated": "Terakhir diperbaharui pada 26 September 2019 ",
    "tac_desc": "Memahami hak dan tanggung jawab Anda sebagai pengguna Career.Support ",
    "privacy_title": "Pengingat Privasi ",
    "privacy_desc": "Lindungi informasi pribadi Anda dengan tidak pernah memberikan informasi kartu kredit atau nomor rekening bank kepada calon pemberi kerja. ",
    "tou_title": "Syarat Penggunaan",
    "tou_desc1": "Halaman ini menyatakan Ketentuan Penggunaan (\"Ketentuan\") di mana Anda (\"Anda\") dapat menggunakan website dan layanan Career.Support (masing-masing didefinisikan di bawah). Ketentuan ini termasuk Kebijakan Privasi Career.Support yang dimasukkan ke dalam Ketentuan ini dengan referensi.",
    "tou_desc2": "Ketentuan ini merupakan perjanjian yang mengikat antara Anda dan Career.Support atau Perusahaan Career.Support yang mengoperasikan situs Web di negara tempat Anda tinggal atau di mana bisnis berlokasi (\"Career.Support\"), dan dianggap diterima oleh Anda setiap saat Anda menggunakan atau mengakses Situs atau Layanan Career.Support. Jika Anda tidak menerima Ketentuan yang dinyatakan di sini, jangan gunakan Situs dan Layanan Career.Support.",
    "tou_desc3": "Situs Career.Support didefinisikan sebagai situs Web apa pun di bawah kendali Career.Support, baik sebagian atau tidak (termasuk, tanpa batasan, Career.Support.com, dan situs Web dari mana ketentuan penggunaan ini diakses) dan termasuk Layanan Career.Support. Layanan Career.Support didefinisikan sebagai aplikasi dan layanan yang ditawarkan oleh Career.Support, termasuk layanan online untuk mengirim dan mencari peluang kerja dan termasuk aplikasi apa pun yang diakses melalui Platform Facebook dan / atau ponsel atau antarmuka lain yang memungkinkan Anda untuk mengakses aplikasi tersebut (secara kolektif, \"Layanan Career.Support\"). Situs Career,Support juga memungkinkan Pengguna untuk membuat profil individual, yang dapat mencakup informasi pribadi (\"Profil\"), dan untuk membuat Profil ini, atau aspek-aspeknya, publik. Selain itu, Career.Support dapat mengumpulkan informasi tentang Anda dari situs web yang tersedia untuk umum dan dapat menggunakan informasi ini untuk membuat Profil atau menambahkannya ke Profil yang ada.",
    "tou_desc4": "Career.Support dapat merevisi Ketentuan ini kapan saja dengan memposting versi yang diperbarui ke halaman Web ini. Anda harus mengunjungi halaman ini secara berkala untuk meninjau Ketentuan terbaru karena mereka mengikat Anda.",
    "tou_desc5": "Pengguna yang melanggar Ketentuan ini dapat ditangguhkan atau diberhentikan dari akses penggunaan Career.Support atas kebijakan Career.Support.",
    "tou_desc6": "Anda harus berusia 13 tahun atau lebih untuk mengunjungi atau menggunakan Situs Career.Support dengan cara apa pun, dan, jika di bawah usia 18 atau usia mayoritas seperti yang didefinisikan dalam yurisdiksi Anda, Anda harus menggunakan Situs Caree.Support di bawah pengawasan orang tua, wali sah, atau orang dewasa yang bertanggung jawab lainnya.",
    "tou_desc7": "Anda tidak boleh menggunakan konten atau profil Career.Support untuk menentukan kelayakan konsumen dalam hal:<br>(a) kredit atau asuransi untuk keperluan pribadi, keluarga, atau rumah tangga; <br>(b) pekerjaan; atau <br>(c) lisensi atau keuntungan pemerintah.",
    "cs_content_title": "Penggunaan Konten Career.Support",
    "cs_content_desc1": "Career.Support memberi wewenang kepada Anda untuk tunduk pada Ketentuan ini, untuk mengakses dan menggunakan situs Career.Support dan konten Career.Support (sebagaimana didefinisikan di bawah) dan untuk mengunduh dan mencetak satu salinan konten yang tersedia di atau dari Situs Career.Support hanya untuk penggunaan pribadi dan non-komersial Anda. Isi Situs Career.Support, seperti desain, teks, grafik, gambar, video, informasi, logo, ikon tombol, perangkat lunak, file audio dan Konten Career.Support lainnya (secara kolektif disebut \"Konten Career.Support\"), dilindungi oleh hak cipta, merek dagang, dan undang-undang lainnya. Semua Konten Career.Support adalah milik Career.Support atau pemberi lisensinya. Kompilasi (artinya pengumpulan, pengaturan, dan perakitan) semua konten di Career.Support Sites adalah properti eksklusif Career.Support dan dilindungi oleh hak cipta, merek dagang, dan undang-undang lainnya. Penggunaan konten Career.Support secara tidak Sah dapat melanggar undang-undang dan / atau peraturan dan undang-undang komunikasi yang berlaku, dan sangat dilarang. Anda harus menjaga semua hak cipta, merek dagang, merek layanan, dan pemberitahuan hak milik lainnya yang terkandung dalam konten asli Career.Support. pada setiap salinan resmi yang Anda buat dari Konten Career.Support.",
    "cs_content_desc2": "Kode apa pun yang dibuat oleh Career.Support untuk menghasilkan atau menampilkan Konten Career.Support atau halaman yang membentuk Situs Career.Support juga dilindungi oleh hak cipta Career.Support dan Anda tidak boleh menyalin atau mengadaptasi kode tersebut.",
    "cs_content_desc3": "Anda setuju untuk tidak menjual atau memodifikasi Konten Career.Support atau mereproduksi, menampilkan, menunjukan secara publik, mendistribusikan, atau menggunakan Konten Career.Support dengan cara apa pun untuk tujuan publik atau komersial, yang berhubungan dengan produk atau layanan yang bukan milik dari Situs Career.Support, dengan cara lain apa pun yang mungkin menyebabkan kebingungan di antara konsumen, yang meremehkan atau mendiskreditkan Career.Support atau pemberi lisensinya, yang melemahkan kekuatan Career.Support atau properti pemberi lisensinya, atau yang melanggar Karier. Hak kekayaan intelektual pendukung atau pemberi lisensinya. Anda selanjutnya setuju untuk tidak menyalahgunakan Konten Career.Support. Penggunaan Konten Career.Support pada aplikasi lain, situs web atau dalam lingkungan komputer jaringan untuk tujuan apa pun dilarang. Kode apa pun yang dibuat oleh Career.Support untuk menghasilkan atau menampilkan Konten Career.Support atau halaman yang membentuk Aplikasi atau Layanan apa pun juga dilindungi oleh hak cipta Career.Support dan Anda tidak boleh menyalin atau mengadaptasi kode tersebut.",
    "cs_services_title": "Penggunaan Layanan Career.Support",
    "cs_services_desc1": "Publikasi lowongan pekerjaan, basis data resume (\"Database Resume Career.Support) dan fitur lain dari Situs Career.Support hanya dapat digunakan oleh individu yang mencari pekerjaan dan / atau informasi karier dan oleh pengusaha yang mencari karyawan. Selain itu, Jaringan dan Profil Career.Support dapat digunakan oleh individu untuk keperluan profesional dan keperluan jejaring pribadi. Penggunaan Anda atas Layanan Career.Support juga tunduk pada kontrak lain yang mungkin Anda miliki dengan Career.Support. Dalam hal terjadi pertentangan antara Ketentuan ini dan kontrak apa pun yang Anda miliki dengan Career.Support, ketentuan kontrak Anda akan berlaku. Istilah \"posting\" seperti yang digunakan di sini akan berarti informasi yang Anda kirimkan, terbitkan, atau tampilkan di Situs Career.Support.<br>Anda bertanggung jawab untuk menjaga kerahasiaan akun, Profil, dan kata sandi Anda, sebagaimana berlaku. Anda tidak boleh membagikan kata sandi Anda atau informasi akses akun lain dengan pihak lain, sementara atau permanen, dan Anda akan bertanggung jawab atas semua penggunaan akun Career.Support Anda, baik yang dilakukan oleh Anda atau tidak. Anda setuju untuk segera memberi tahu Career.Support setiap penggunaan akun, profil, atau kata sandi Anda tanpa izin.",
    "cs_agreenot_title": "Semua Pengguna Career Support setuju untuk tidak:",
    "cs_agreenot_desc": "(a)  mentransmisikan, memposting, mendistribusikan, menyimpan, atau menghancurkan materi, termasuk tapi tidak terbatas pada Konten Career.Support yang melanggar hukum atau peraturan apa pun yang berlaku, termasuk tetapi tidak terbatas pada hukum atau peraturan yang mengatur pengumpulan, pemrosesan, atau transfer informasi pribadi , atau melanggar kebijakan privasi Career.Support;<br>(b) mengambil tindakan apa pun yang memaksakan beban besar yang tidak masuk akal atau tidak proporsional pada setiap infrastruktur situs Career.Support;<br>(c) menggunakan perangkat apa pun untuk menavigasi atau mencari Situs Career.Support selain alat yang tersedia di Situs browser web pihak ketiga yang tersedia secara umum, atau alat lain yang disetujui oleh Career.Support;<br>(d) menggunakan data mining, robot atau metode pengumpulan atau ekstraksi data yang serupa;<br>(e) melanggar atau berusaha untuk melanggar keamanan Situs Career.Support termasuk mencoba untuk menyelidiki, memindai atau menguji kerentanan suatu sistem atau jaringan atau untuk melanggar langkah-langkah keamanan atau otentikasi tanpa otorisasi yang tepat;<br>(f) memalsukan tajuk paket TCP / IP atau bagian mana pun dari informasi tajuk dalam setiap email atau posting newsgroup;<br>(g) merekayasa balik atau mendekompilasi bagian mana pun dari situs Career.Support<br>(h) mengumpulkan, menyalin, atau menggandakan dengan cara apa pun dari Konten Career.Support atau informasi yang tersedia dari Situs Career.Support apa pun, termasuk posting pekerjaan yang kedaluwarsa, selain sebagaimana diizinkan oleh Ketentuan ini;<br>(i) membingkai atau menautkan ke Konten Career.Support atau informasi yang tersedia dari Situs Career.Support, kecuali diizinkan oleh Ketentuan ini;<br>(j) memposting konten atau materi apa pun yang mempromosikan atau mendukung informasi yang salah atau menyesatkan atau kegiatan ilegal, atau mendukung atau memberikan informasi instruksional tentang kegiatan ilegal atau kegiatan lain yang dilarang oleh Ketentuan ini, seperti membuat atau membeli senjata ilegal, melanggar privasi seseorang, menyediakan atau membuat virus komputer atau media pembajakan;<br>(k) memposting resume atau Profil apa pun atau melamar pekerjaan apa pun atas nama pihak lain;<br>(l) menunda kontak dari majikan ke agen, agen, atau pihak ketiga lainnya;<br>(m) mengatur lebih dari satu salinan resume yang sama untuk umum pada satu waktu;<br>(n) berbagi dengan pihak ketiga kredensial masuk apa pun ke Situs Career.Support apa pun; <br>(o) mengakses data yang tidak dimaksudkan untuk Anda atau masuk ke server atau akun yang tidak diizinkan untuk Anda akses; <br>(p) memposting atau menyerahkan ke Situs Career.Support tentang Situs informasi biografis atau informasi yang tidak lengkap, salah atau tidak akurat yang bukan milik Anda;<br>(q) memposting konten yang berisi halaman akses terbatas atau hanya kata sandi, atau halaman atau gambar tersembunyi;<br>(r) meminta kata sandi atau informasi pribadi dari Pengguna lain;<br>(s) menghapus atau mengubah materi apa pun yang diposting oleh orang atau entitas lain;<br>(t) melecehkan, menghasut pelecehan atau mendukung pelecehan terhadap kelompok, perusahaan, atau individu apa pun;<br>(u) mengirim surat atau email yang tidak diminta, melakukan panggilan telepon yang tidak diminta atau mengirim faks yang tidak diminta mempromosikan dan / atau mengiklankan produk atau layanan kepada Pengguna mana pun, atau menghubungi pengguna yang secara khusus meminta untuk tidak dihubungi oleh Anda;<br>(v)  berupaya untuk mengganggu layanan kepada Pengguna, host atau jaringan apa pun, termasuk, tanpa batasan, dengan cara mengirimkan virus ke Situs Career.Support, kelebihan muatan, \"flooding\", \"spamming\", \"mailbombing\" atau \"crashing\" \";<br>(w) mempromosikan atau mendukung salinan ilegal atau tidak sah dari karya orang lain yang dilindungi hak cipta, seperti dengan menyediakan atau membuat program komputer atau tautan bajakan kepada mereka, menyediakan atau menyediakan informasi untuk menghindari perangkat perlindungan-salinan yang dipasang oleh pabrik, atau menyediakan atau menyediakan musik bajakan atau media lain atau tautan ke musik bajakan atau file media lainnya; atau<br>(x) menggunakan layanan Career.Support untuk tujuan yang melanggar hukum atau kegiatan ilegal, atau memposting atau mengirimkan konten, resume, atau posting pekerjaan yang memfitnah, secara implisit atau eksplisit menyinggung, vulgar, cabul, mengancam, kasar, penuh kebencian , rasis, diskriminatif, dari karakter yang mengancam atau kemungkinan menyebabkan kekesalan, ketidaknyamanan, rasa malu, kecemasan atau dapat menyebabkan pelecehan kepada siapa pun atau termasuk tautan apa pun ke materi pornografi, tidak senonoh, atau eksplisit secara seksual dalam bentuk apa pun, sebagaimana ditentukan oleh kebijakan Career.Support.<br>Pelanggaran keamanan sistem atau jaringan dapat menyebabkan pertanggungjawaban sipil dan / atau pidana. Career.Support akan menyelidiki kejadian yang mungkin melibatkan pelanggaran seperti itu dan mungkin melibatkan, dan bekerja sama dengan, otoritas penegak hukum dalam menuntut Pengguna yang terlibat dalam pelanggaran tersebut.",
    "additional_term_title": "Ketentuan Tambahan Berlaku untuk Pengusaha",
    "additional_term_desc": "Pengusaha bertanggung jawab penuh atas posting mereka di situs Career.Support. Career.Support tidak dianggap sebagai pemberi kerja sehubungan dengan penggunaan Career.Support oleh Anda dan Career.Support tidak akan bertanggung jawab atas keputusan pekerjaan apa pun, karena alasan apa pun, yang dibuat oleh entitas mana pun yang memposting pekerjaan pada Career.Support.<br>Anda memahami dan mengakui bahwa jika Anda membatalkan akun atasan Anda atau akun atasan Anda dihentikan, semua informasi akun Anda dari Career.Support, termasuk resume yang disimpan, kontak jaringan, dan milis email, akan ditandai sebagai dihapus dan dapat dihapus dari Database Career.Support. Informasi dapat terus tersedia untuk beberapa periode waktu karena keterlambatan dalam menyebarkan penghapusan tersebut melalui server web Career.Support.<br>Untuk melindungi pengguna produk Career.Support kami dari  iklan komersial atau ajakan, Career.Support berhak untuk membatasi jumlah email yang dapat dikirim oleh pemberi kerja kepada Pengguna ke nomor yang menurut Career.Support sesuai dengan kebijakannya sendiri. Anda harus menggunakan Jaringan dan Profil Career.Support sesuai dengan semua undang-undang privasi dan perlindungan data yang berlaku.",
    "job_posting_title": "Lowongan Pekerjaan",
    "job_posting_desc": "Lowongan pekerjaan seharusnya tidak mengandung: <br>(a) hyperlink apa pun, selain yang secara khusus diotorisasi oleh Career.Support;<br>(b) kata kunci yang menyesatkan, tidak dapat dibaca, atau \"disembunyikan\", kata kunci berulang atau kata kunci yang tidak relevan dengan peluang kerja yang disajikan, sebagaimana ditentukan dalam kebijaksanaan seharusnya di Career.Support.<br>(c) nama, logo atau merek dagang dari perusahaan yang tidak terafiliasi selain dari pelanggan Anda simpan di tempat yang secara tegas disetujui oleh Career.Support;<br>(d) nama-nama perguruan tinggi, kota, negara bagian, kota atau negara yang tidak terkait dengan posting;<br>(e)  informasi yang tidak akurat, salah, atau menyesatkan; dan<br>(f) materi atau tautan ke materi yang mengeksploitasi orang dengan cara seksual, kekerasan atau lainnya, atau meminta informasi pribadi dari siapa pun yang berusia di bawah 18 tahun.<br>Anda tidak boleh menggunakan lowongan pekerjaan Career.Support Anda, jaringan Career.Support, atau Profil untuk:<br>(a) memposting pekerjaan yang tidak mematuhi hukum lokal, nasional, dan internasional yang berlaku, termasuk tetapi tidak terbatas pada hukum yang berkaitan dengan tenaga kerja dan ketenagakerjaan, kesempatan kerja yang setara dan persyaratan kelayakan kerja, privasi data, akses dan penggunaan data, dan hak milik intelektual;<br>(b) memposting pekerjaan yang mensyaratkan kewarganegaraan dari negara tertentu atau tempat tinggal tetap yang sah di suatu negara sebagai persyaratan kerja, kecuali jika tidak diwajibkan untuk mematuhi hukum, peraturan, perintah eksekutif, atau kontrak pemerintah federal, negara bagian atau lokal;<br>(c) memposting pekerjaan yang mencakup persyaratan penyaringan atau kriteria apa pun sehubungan dengan penempatan pekerjaan di mana persyaratan atau kriteria tersebut bukanlah persyaratan aktual dan hukum dari pekerjaan yang diposkan;<br>(d) sehubungan dengan Profil, menentukan kelayakan konsumen untuk: (i) kredit atau asuransi untuk keperluan orang, keluarga, atau rumah tangga; (ii) pekerjaan; atau (iii) lisensi manfaat pemerintah.<br>(e) memposting lowongan pekerjaan atau iklan lain untuk pesaing Career.Support atau memposting pekerjaan atau konten lain yang berisi tautan ke situs apa pun yang bersaing dengan Career.Support; <br>(f) menjual, mempromosikan, atau mengiklankan produk atau layanan;<br>(g) memposting waralaba, skema piramida, \"keanggotaan klub\", distributor, peluang pemasaran multi-level, atau pengaturan agen perwakilan penjualan;<br>(h) memposting setiap peluang bisnis yang memerlukan pembayaran di muka atau berkala atau membutuhkan rekrutmen anggota lain, sub-distributor atau sub-agen;<br>(i) memposting peluang bisnis apa pun yang hanya membayar komisi kecuali jika posting dengan jelas menyatakan bahwa pekerjaan yang tersedia hanya membayar komisi dan dengan jelas menggambarkan produk atau layanan yang akan dijual oleh pencari kerja;<br>(j) mempromosikan setiap peluang yang tidak mewakili pekerjaan yang bonafid yang umumnya ditunjukkan oleh penggunaan bentuk IRS W-2 atau 1099 oleh majikan;<br>(k) memposting pekerjaan di Situs Career.Support untuk model, akting, bakat atau agensi hiburan atau posisi pencari bakat;<br>(l) mengiklankan layanan seksual atau mencari karyawan untuk pekerjaan yang bersifat seksual;<br>(m)  meminta penggunaan bagian tubuh manusia atau sumbangan bagian tubuh manusia, termasuk, tanpa batasan, layanan reproduksi seperti donasi telur dan surrogacy<br>(n) mendukung partai politik tertentu, agenda politik, posisi atau masalah politik; <br>(o) mempromosikan agama tertentu; <br>(p) pekerjaan sampingan yang berlokasi di negara-negara yang dikenai sanksi ekonomi dari Pemerintah Amerika Serikat; dan <br>(q) kecuali jika diizinkan oleh undang-undang yang berlaku, pekerjaan sampingan yang mengharuskan pelamar untuk memberikan informasi yang berkaitan dengan (i) ras atau etnisnya (ii) keyakinan politik (iii) keyakinan filosofis atau agama (iv) keanggotaan perdagangan persatuan (v) kesehatan fisik atau mental (vi) kehidupan seksual (vii) tindakan kejahatan atau proses pidana atau (vii) usia. <br>Career.Support berhak untuk menghapus lowongan pekerjaan atau konten apa pun dari situs Career.Support, yang dalam pelaksanaan standar Career.Support, tidak mematuhi Ketentuan di atas, atau jika ada konten yang diposting yang diyakini Career.Support bukan terbaik untuk Career.Support.<br>Jika sewaktu-waktu selama Anda menggunakan layanan Career.Support, Anda membuat penyajian fakta yang salah untuk Career.Support atau yang disimpangkan. Terkait dengan sifat kegiatan bisnis Anda, Career.Support akan memiliki alasan untuk menghentikan penggunaan layanan Career.Support Anda.",
    "resume_database_title": "Database Resume",
    "resume_database_desc": "Penggunaan Basis Data resume Career.Support oleh Perusahaan<br>Anda harus menggunakan Database resume Career.Support sebagaimana tercantum dalam Ketentuan ini dan dalam kontrak apa pun yang Anda miliki dengan Career.Support. Anda harus menggunakan Basis Data resume Career.Support sesuai dengan semua undang-undang privasi dan perlindungan data yang berlaku, dan Anda setuju Anda tidak akan mengungkapkan data apa pun dari Basis Data resume Career.Support ke pihak ketiga, kecuali jika Anda adalah agen perekrutan resmi, agen kepegawaian, periklanan atau agensi lain atau menggunakan resume secara eksplisit untuk keperluan pekerjaan.<br>Anda harus mengambil langkah-langkah fisik, teknis, dan administratif yang sesuai untuk melindungi data yang telah Anda peroleh dari Career.Support Basis Data dari kehilangan, penyalahgunaan, akses tidak sah, pengungkapan, perubahan atau perusakan. Anda tidak boleh membagikan kredensial login lisensi berbasis kursi Resume Database dengan pihak lain, atau berbagi Resume Database kredensial login bayar per-view dengan pihak mana pun.<br>Database resume Career.Support tidak akan digunakan:<br>(a) untuk tujuan apa pun selain sebagai pemberi kerja yang mencari karyawan, termasuk tetapi tidak terbatas pada promosi iklan, produk, atau layanan kepada pemegang resume;<br>(b) untuk melakukan panggilan telepon atau faks yang tidak diminta atau mengirim surat, email, atau buletin yang tidak diminta untuk melanjutkan pemegang atau untuk menghubungi individu mana pun kecuali mereka telah setuju untuk dihubungi (di mana persetujuan diperlukan atau, jika persetujuan tegas tidak diperlukan, yang belum memberi tahu Anda bahwa mereka tidak ingin dihubungi); atau<br>(c) untuk mencari kandidat atau untuk menghubungi pencari kerja atau pemegang resume sehubungan dengan pameran karir dan peluang bisnis yang dilarang oleh Bagian 3.Untuk memastikan pengalaman yang aman dan efektif untuk semua pengguna kami, Career.Support berhak untuk membatasi jumlah data (termasuk tampilan resume) yang dapat diakses oleh Anda dalam periode waktu tertentu. Batas-batas ini dapat diubah dalam kebijakan tunggal Career.Support dari waktu ke waktu.",
    "addterms_jobseeker_title": "Ketentuan tambahan yang berlaku untuk Pencari Kerja",
    "addterms_jobseeker_desc": "Ketika Anda mendaftar dengan Situs Career.Support, Anda akan diminta untuk membuat akun dan memberikan Career.Support informasi tertentu termasuk, tanpa batasan, alamat email yang valid (\"Informasi\" Anda).<br>Setiap Profil yang Anda kirimkan harus akurat dan menggambarkan Anda, seorang individu. Profil ini membutuhkan bidang standar yang harus diisi dan Anda tidak boleh memasukkan nomor telepon, alamat jalan, alamat email atau cara lain untuk menghubungi Anda, selain nama belakang dan URL Anda.<br>Anda mengakui dan setuju bahwa Anda bertanggung jawab penuh atas bentuk, konten, dan keakuratan dari resume atau materi yang terkandung di dalamnya yang ditempatkan oleh Anda di Situs Career.Support.<br>Career.Support berhak untuk menawarkan layanan dan produk pihak ketiga kepada Anda berdasarkan preferensi yang Anda identifikasi dalam pendaftaran Anda dan setiap saat sesudahnya atau Anda telah setuju untuk menerima, penawaran tersebut dapat dilakukan oleh Career.Support atau oleh pihak ketiga. Silakan lihat Kebijakan Privasi Career.Support, untuk perincian lebih lanjut mengenai Informasi Anda.<br>Anda memahami dan mengakui bahwa Anda tidak memiliki hak kepemilikan di akun Anda dan bahwa jika Anda membatalkan Akun Career.Support Anda. Akun pendukung dihentikan, semua informasi akun Anda dari Career.Support, termasuk resume dan Profil akan ditandai sebagai dihapus dan dapat dihapus dari database Career.Support dan akan dihapus dari area publik mana pun dari Situs Career.Support. Selain itu, pihak ketiga dapat menyimpan salinan Informasi Anda yang disimpan.<br>Career.Support berhak untuk menghapus akun Anda dan semua Informasi Anda setelah tidak aktif selama beberapa saat.",
    "content_submission_title": "Konten dan Pengajuan Pengguna",
    "content_submission_desc": "Anda memahami bahwa semua informasi, data, teks, perangkat lunak, musik, suara, foto, grafik, video, iklan, pesan atau materi lain yang dikirimkan, diposting atau ditampilkan oleh Anda di atau melalui Situs Career.Support (\"Konten Pengguna\") adalah satu-satunya tanggung jawab orang dari mana Konten Pengguna tersebut berasal. Career.Support tidak mengklaim kepemilikan atau kendali atas Konten Pengguna apa pun. Anda atau pemberi lisensi pihak ketiga, yang sesuai, mempertahankan semua paten, merek dagang, dan hak cipta untuk setiap Konten Pengguna yang Anda kirimkan, posting atau tampilkan pada atau melalui Career.Support dan Anda bertanggung jawab untuk melindungi hak-hak tersebut, sebagaimana mestinya. Dengan mengirimkan, memposting, atau menampilkan Konten Pengguna di atau melalui Career.Support, Anda memberikan Career.Support lisensi sub-lisensi di seluruh dunia, non-eksklusif, bebas royalti, dapat ditransfer, untuk menggunakan, mereproduksi, mengadaptasi, mendistribusikan, dan mempublikasikan Konten Pengguna tersebut melalui Career.Support. Selain itu, dengan mengirimkan, memposting, atau menampilkan Konten Pengguna yang dimaksudkan untuk tersedia bagi masyarakat umum, Anda memberikan Career.Support lisensi di seluruh dunia, non-eksklusif, bebas-royalti untuk mereproduksi, menyesuaikan, mendistribusikan, dan menerbitkan Konten Pengguna tersebut untuk tujuan mempromosikan Career.Support dan layanannya. Career.Support akan menghentikan penggunaan lisensi ini dalam periode yang wajar secara komersial setelah Konten Pengguna tersebut dihapus dari Career.Support. Career.Support berhak menolak untuk menerima, memposting, menampilkan, atau mentransmisikan Konten Pengguna apa pun atas kebijakannya sendiri.<br>Anda juga menyatakan dan menjamin bahwa Anda memiliki hak untuk memberikan, atau memegang hak apa pun, termasuk hak moral dalam konten tersebut telah sepenuhnya dan efektif menghapuskan semua hak tersebut dan secara sah dan tidak dapat dibatalkan memberikan kepada Anda hak untuk memberikan, lisensi dinyatakan. atas. Jika Anda memposting Konten Pengguna di area publik apa pun dari Situs Career.Support, Anda juga mengizinkan Pengguna untuk mengakses, menampilkan, melihat, menyimpan, dan mereproduksi Konten Pengguna tersebut untuk penggunaan pribadi. Tunduk pada hal tersebut di atas, pemilik Konten Pengguna tersebut ditempatkan pada Situs Career.Support memiliki hak apa pun dan semua yang mungkin ada dalam Konten Pengguna tersebut. Career.Support dapat meninjau dan menghapus Konten Pengguna yang dalam penilaiannya sendiri, melanggar Ketentuan ini, melanggar undang-undang, peraturan, atau norma yang berlaku, bersifat melecehkan, mengganggu, menyinggung, atau ilegal, atau melanggar hak, atau membahayakan atau mengancam keselamatan. dari, Pengguna Situs Career.Support. Career.Support berhak mengeluarkan Pengguna dan mencegah akses mereka lebih lanjut ke Situs Career.Support dan / atau penggunaan layanan Career.Support karena melanggar Ketentuan atau hukum, peraturan, atau regulasi yang berlaku. Career.Support dapat mengambil tindakan apa pun sehubungan dengan Konten Pengguna yang dianggap perlu atau sesuai dengan kebijakannya sendiri jika percaya bahwa Konten Pengguna tersebut dapat membuat pertanggungjawaban untuk Career.Support, merusak citra merek Career.Support atau publik, atau menyebabkan pengguna Career.Support hilang atau (seluruhnya atau sebagian) layanan ISP atau pemasok lain.<br>Career.Support tidak mewakili atau menjamin kebenaran, keakuratan, atau keandalan Konten Pengguna, karya turunan dari Konten Pengguna, atau komunikasi lain yang diposting oleh Pengguna dan juga Career.Support tidak mendukung segala pendapat yang diungkapkan oleh Pengguna. Anda mengakui bahwa ketergantungan pada materi yang diposting oleh Pengguna lain akan menjadi risiko Anda sendiri. <br>Berikut ini adalah sebagian daftar Konten Pengguna yang dilarang pada Aplikasi. Daftar di bawah ini hanya untuk ilustrasi dan bukan daftar lengkap dari semua Konten Pengguna yang dilarang. <br><p class=\"bold\">Konten yang:</p> <br>secara implisit atau eksplisit menyinggung, seperti Konten Pengguna yang terlibat, mendukung atau mempromosikan rasisme, kefanatikan, diskriminasi, kebencian atau kerusakan fisik dalam bentuk apa pun terhadap kelompok atau individu apa pun; melecehkan, menghasut pelecehan atau mendukung pelecehan terhadap kelompok atau individu apa pun; melibatkan transmisi \"junk mail\", \"surat berantai\", atau surat massal yang tidak diminta, \"spamming\" atau \"phishing\"; mempromosikan atau mendukung informasi yang salah atau menyesatkan atau kegiatan ilegal atau perilaku yang kasar, mengancam, cabul, memfitnah atau memfitnah; mempromosikan atau mendukung salinan ilegal atau tidak sah dari karya berhak cipta orang lain, seperti menyediakan atau menyediakan program komputer atau tautan bajakan kepada mereka, menyediakan atau membuat informasi yang tersedia untuk menghindari perangkat perlindungan-salinan yang dipasang oleh pabrik, atau menyediakan atau membuat musik bajakan yang tersedia atau media lain atau tautan ke musik bajakan atau file media lainnya; berisi halaman terbatas atau hanya akses kata sandi, atau halaman atau gambar tersembunyi; menampilkan atau menghubungkan ke materi pornografi, tidak senonoh atau eksplisit secara seksual apa pun; menyediakan atau menghubungkan ke materi yang mengeksploitasi orang di bawah usia 18 tahun secara seksual, kekerasan atau cara lain, atau mengumpulkan informasi pribadi dari siapa pun di bawah 18 tahun; atau memberikan informasi instruksional tentang kegiatan ilegal atau kegiatan lain yang dilarang oleh Ketentuan ini, termasuk tanpa batasan, membuat atau membeli senjata ilegal, melanggar privasi seseorang, menyediakan atau membuat virus komputer atau membajak media apa pun; dan mengumpulkan kata sandi atau informasi identitas pribadi dari Pengguna lain. Setiap <br>Profil yang Anda kirimkan harus menggambarkan Anda, seorang individu. Contoh Profil yang tidak pantas dan terlarang termasuk, tetapi tidak terbatas pada, Profil yang dimaksudkan untuk mewakili binatang, tempat, benda mati, karakter fiksi, atau individu nyata yang bukan Anda.<br>Anda tidak boleh memasukkan, dalam Konten Pengguna apa pun yang diajukan ke jaringan Career.Suppor, informasi yang dapat diartikan sebagai ajakan langsung, iklan, atau rekrutmen untuk posisi pekerjaan yang tersedia yang ditujukan kepada individu yang mencari pekerjaan baik secara penuh atau paruh waktu. Untuk melindungi Pengguna Career.Support dari iklan komersial atau ajakan, Career.Support berhak untuk membatasi jumlah email atau pesan lain yang dapat dikirimkan oleh Pengguna ke Pengguna lain ke nomor yang menurut Career.Support dianggap tepat atas kebijakannya sendiri.<br>Profil yang berasal dari Konten Pengguna juga dapat disediakan melalui Situs Career.Support. Career.Support tidak membuat pernyataan apa pun mengenai keakuratan atau validitas karya turunan tersebut atau kesesuaiannya untuk evaluasi oleh pemberi kerja. Profil yang diturunkan mungkin berbeda secara signifikan dari Konten Pengguna.<br>Kami menghargai mendengar dari Pengguna kami dan menyambut komentar Anda tentang layanan kami dan Situs Career.Support. Harap diperhatikan, bagaimanapun, bahwa kebijakan kami tidak mengizinkan kami untuk menerima atau mempertimbangkan ide-ide kreatif, saran, penemuan atau bahan selain dari yang kami minta secara khusus. Meskipun kami menghargai umpan balik Anda pada layanan kami, harap spesifik dalam komentar Anda mengenai layanan kami dan jangan mengirimkan ide-ide kreatif, penemuan, saran, atau materi. Jika, terlepas dari permintaan kami, Anda mengirimi kami saran, ide, gambar, konsep, penemuan, atau informasi lain yang kreatif (secara kolektif disebut \"Pengajuan\"), Pengajuan tersebut akan menjadi milik Career.Support. Tidak satu pun dari Pengajuan akan tunduk pada kewajiban kerahasiaan di pihak kami dan kami tidak akan bertanggung jawab atas penggunaan atau pengungkapan Pengajuan apa pun. Career.Support akan secara eksklusif memiliki semua yang diketahui atau yang kemudian ditemukan haknya atas Pengajuan dan berhak atas penggunaan Pengajuan tanpa batas untuk tujuan apa pun, komersial atau sebaliknya, tanpa kompensasi kepada Anda atau orang lain.",
    "policy_termination_title": "Kebijakan Mengenai Pengakhiran Pengguna Yang Melanggar Hak Cipta Atau Hak Kekayaan Intelektual Lainnya Orang Lain",
    "policy_termination_desc": "Career.Support menghargai properti intelektual orang lain, dan kami meminta Pengguna dan mitra konten kami untuk melakukan hal yang sama. Pengeposan, reproduksi, penyalinan, distribusi, modifikasi, tampilan publik, atau kinerja publik atas karya berhak cipta merupakan pelanggaran terhadap hak pemilik dan hak cipta. Sebagai syarat untuk Anda menggunakan Situs Career.Support, Anda setuju untuk tidak menggunakan Situs Career.Support untuk melanggar hak kekayaan intelektual orang lain dengan cara apa pun. Career.Support berhak untuk menghentikan akun Pengguna mana pun, dan memblokir akses ke Situs Career.Support setiap Pengguna yang berulang kali melanggar hak cipta, atau hak kekayaan intelektual lainnya, dari orang lain. Career.Support berhak, atas kebijakannya sendiri, untuk mengambil tindakan ini untuk membatasi akses ke Situs dan / atau menghentikan akun setiap saat, atas kebijakan kami sendiri Pengguna yang melanggar hak kekayaan intelektual orang lain, baik ada atau tidak ada adalah setiap pelanggaran berulang, dengan atau tanpa pemberitahuan, dan tanpa kewajiban apa pun kepada Pengguna yang diakhiri atau kepada Pengguna yang aksesnya diblokir. Terlepas dari hal tersebut di atas, dalam hal Anda percaya dengan itikad baik bahwa pemberitahuan pelanggaran hak cipta telah diajukan secara keliru terhadap Anda, silakan hubungi Career.Support sebagaimana tercantum dalam Bagian 6 di atas.",
    "liability_title": "Pertanggungjawaban Career.Support",
    "liability_desc": "Situs Career.Support bertindak sebagai, antara lain, tempat untuk (i) pengusaha untuk memposting peluang kerja dan mencari dan mengevaluasi kandidat pekerjaan dan (ii) kandidat untuk mengirim resume dan Profil dan mencari serta mengevaluasi peluang kerja. Career.Support tidak menyaring atau menyensor daftar, termasuk Profil yang ditawarkan. Career.Support tidak terlibat dalam, dan tidak mengontrol, transaksi aktual antara pengusaha dan kandidat. Akibatnya, Career.Support tidak bertanggung jawab atas Konten Pengguna, kualitas, keamanan atau legalitas pekerjaan atau resume yang diposting, kebenaran atau keakuratan daftar, kemampuan pengusaha untuk menawarkan peluang kerja kepada kandidat atau kemampuan kandidat untuk mengisi lowongan pekerjaan dan Career.Support tidak membuat pernyataan tentang pekerjaan apa pun, resume atau Konten Pengguna di Situs Career.Support. Sementara Career.Support berhak atas kebijakannya sendiri untuk menghapus Konten Pengguna, posting pekerjaan, resume atau materi lainnya dari Career.Support Sites dari waktu ke waktu, Career.Support tidak memikul kewajiban apa pun untuk melakukannya dan sejauh diizinkan oleh hukum, melepaskan tanggung jawab atas kegagalan untuk mengambil tindakan semacam itu.<br>Karena otentikasi Pengguna di Internet sulit, Career.Support tidak dapat dan tidak mengkonfirmasi bahwa setiap Pengguna adalah yang mereka klaim. Karena kami tidak dan tidak dapat terlibat dalam transaksi Pengguna-ke-Pengguna atau mengendalikan perilaku peserta di Situs Career.Support, dalam hal Anda memiliki perselisihan dengan satu atau lebih Pengguna, Anda melepaskan Career.Support (dan kami agen dan karyawan) dari klaim, tuntutan, dan kerusakan (aktual dan konsekuensial serta langsung dan tidak langsung) dari segala jenis dan sifat, diketahui dan tidak diketahui, dicurigai dan tidak diduga, diungkapkan dan tidak diungkapkan, timbul dari atau dengan cara apa pun yang terkait dengan perselisihan tersebut dengan sejauh yang diizinkan oleh hukum.<br>Situs Career.Support dan Konten Career.Support dapat berisi ketidakakuratan atau kesalahan ketik. Career.Support tidak membuat pernyataan tentang keakuratan, keandalan, kelengkapan, atau ketepatan waktu dari setiap Situs atau Konten Career.Support. Penggunaan semua Situs Career.Support dan Konten Career.Support adalah risiko Anda sendiri. Perubahan dilakukan secara berkala ke Situs Career.Support dan dapat dilakukan kapan saja. Career.Support tidak dapat menjamin dan tidak menjanjikan hasil spesifik dari penggunaan Situs Career.Support. Tidak ada saran atau informasi, baik lisan maupun tulisan, yang diperoleh Pengguna dari Career.Support atau melalui atau dari Situs Career.Support akan membuat garansi apa pun yang tidak secara tegas dinyatakan di sini.<br>Career.Support mendorong Anda untuk menyimpan salinan cadangan dari Konten Pengguna Anda. Sejauh diizinkan oleh undang-undang, Career.Support tidak akan bertanggung jawab atas penghapusan, kehilangan, atau modifikasi tanpa izin dari Konten Pengguna.<br>Career.Support tidak menyediakan atau membuat pernyataan apa pun mengenai kualitas atau sifat dari produk atau layanan pihak ketiga mana pun yang dibeli melalui Situs Career.Support, atau representasi, garansi, atau jaminan apa pun lainnya. Segala bentuk usaha, perwakilan, garansi atau jaminan akan diberikan sepenuhnya oleh penyedia produk atau layanan pihak ketiga tersebut, berdasarkan ketentuan yang disepakati oleh penyedia.<br>Jika diberitahukan tentang konten atau materi lain yang diduga tidak sesuai dengan Ketentuan ini, Career.Support dapat dengan kebijaksanaannya sendiri menyelidiki dugaan tersebut dan menentukan apakah akan menghapus atau meminta penghapusan konten. Career.Support tidak memiliki tanggung jawab kepada Pengguna untuk kinerja yang buruk dari kegiatan tersebut.",
    "disclaimer_warranty_title": "Penafian Jaminan",
    "disclaimer_warranty_desc": "SEJAUH MUNGKIN OLEH UNDANG-UNDANG, CAREER.SUPPORT TIDAK MENJAMIN BAHWA SITUS CAREER.SUPPORT ATAU CAREER.SUPPORT AKAN BEROPERASI BEBAS DARI KESALAHAN ATAU BAHWA SITUS CAREER.SUPPORT DAN SERVERNYA BEBAS DARI VIRUS KOMPUTER ATAU MEKANISME BERBAHAYA LAINNYA. JIKA ANDA MENGGUNAKAN SITUS CAREER.SUPPORT ATAU KONTEN CAREER.SUPPORT MENGAKIBATKAN PERLUNYA SERVIS ATAU PENGGANTIAN PERALATAN ATAU DATA ATAU BIAYA LAINNYA, CAREER.SUPPORT TIDAK BERTANGGUNG JAWAB ATAS BIAYA-BIAYA TERSEBUT. KONTEN CAREER.SUPPORT DAN KONTEN CAREER.SUP DISEDIAKAN BERDASARKAN \"APA ADANYA\" TANPA JAMINAN APA PUN. CAREER.SUPPORT, SEJAUH YANG DIIZINKAN OLEH HUKUM, MENAFIKAN SEMUA JAMINAN, BAIK TERSURAT MAUPUN TERSIRAT, TERMASUK JAMINAN DAPAT DIPERJUALBELIKAN, KESESUAIAN UNTUK TUJUAN TERTENTU DAN NON-PELANGGARAN. CAREER.SUPPORT TIDAK MEMBERIKAN JAMINAN TENTANG KEAKURATAN, KEANDALAN, KELENGKAPAN, ATAU KETEPATAN WAKTU DARI CAREER.SUPPORT KONTEN, LAYANAN, PERANGKAT LUNAK, TEKS, GRAFIK, DAN TAUTAN.",
    "disclaimer_consequential_title": "Penafian Kerusakan Akibat",
    "disclaimer_consequential_desc": "SEJAUH MUNGKIN OLEH HUKUM, DALAM KEADAAN APA PUN TIDAK AKAN CAREER.SUPPORT, PEMASOKNYA, ATAU PIHAK KETIGA MANA PUN YANG DISEBUTKAN DALAM SITUS CAREER.SUPPORT BERTANGGUNG JAWAB ATAS SEGALA KERUSAKAN APA PUN (TERMASUK, TANPA BATASAN, KERUSAKAN INSIDENTAL DAN KONSEKUENSIAL, KEHILANGAN LABA, ATAU KERUSAKAN YANG DISEBABKAN OLEH DATA YANG HILANG, KEHILANGAN KESEMPATAN KERJA ATAU GANGGUAN BISNIS) YANG DIHASILKAN DARI PENGGUNAAN ATAU KETIDAKMAMPUAN UNTUK MENGGUNAKAN SITUS KARIER.SUPPORT DAN KONTEN KARIER.SUPPORT, BAIK BERDASARKAN GARANSI, KONTRAK, KESALAHAN, ATAU TEORI HUKUM LAINNYA, DAN APAKAH KARIER ATAU TIDAK. DIBERITAHUKAN TENTANG KEMUNGKINAN KERUSAKAN TERSEBUT.",
    "limitation_liability_title": "Batasan Tanggung Jawab",
    "limitation_liability_desc": "SEJAUH MUNGKIN OLEH HUKUM, KEWAJIBAN MAKSIMUM CAREER.SUPPORT YANG TIMBUL DARI ATAU SEHUBUNGAN DENGAN CAREER.SUPPORT SITUS ATAU PENGGUNAAN ANDA DARI KONTEN CAREER.SUPPORT, TERLEPAS DARI PENYEBAB TINDAKAN (BAIK DALAM KONTRAK, KESALAHAN, PELANGGARAN DARI GARANSI ATAU SEBALIKNYA), TIDAK AKAN MELEBIHI RP 1.000.000.",
    "link_sites_title": "Tautan Link Lain",
    "link_sites_desc": "Situs Career.Support berisi tautan ke situs Web pihak ketiga. Tautan ini disediakan semata-mata untuk kenyamanan Anda dan bukan sebagai dukungan konten pihak ketiga oleh Career.Support. Career.Support tidak bertanggung jawab atas konten situs pihak ketiga yang tertaut dan tidak membuat pernyataan apa pun mengenai konten atau keakuratan materi di situs web pihak ketiga tersebut. Jika Anda memutuskan untuk mengakses situs Web pihak ketiga yang tertaut, Anda melakukannya dengan risiko Anda sendiri. ",
    "no_resale_title": "Tidak Dapat Dijual Kembali atau Penggunaan Komersial yang Tidak Sah",
    "no_resale_desc": "Anda setuju untuk tidak menjual kembali atau mengalihkan hak atau kewajiban Anda berdasarkan Ketentuan ini. Anda juga setuju untuk tidak membuat penggunaan komersial yang tidak sah dari Situs Career.Support.",
    "indemity_title": "Ganti Rugi.",
    "indemity_desc": "Anda setuju untuk mempertahankan, mengganti rugi, dan mempertahankan Career.Support yang tidak berbahaya. Dukungan, afiliasinya, dan masing-masing pejabat, direktur, karyawan, dan agen mereka, dari dan terhadap segala klaim, tindakan, atau tuntutan, termasuk tanpa batasan biaya hukum dan akuntansi yang wajar, menuduh atau menghasilkan dari (i) Konten Pengguna atau materi lain yang Anda berikan ke Situs Career.Support, (ii) Penggunaan situs dan konten Career.Support, atau (iii) pelanggaran Anda terhadap Ketentuan ini, Career.Support akan memberikan pemberitahuan kepada Anda segera atas klaim, tuntutan, atau proses tersebut. ",
    "addterms_title": "Ketentuan Tambahan.",
    "addterms_desc": "beberapa bidang situs Career.Support tunduk pada Ketentuan tambahan. Dengan menggunakan area tersebut, atau bagiannya, Anda setuju untuk terikat oleh Ketentuan tambahan yang berlaku untuk area tersebut. Dengan menggunakan area mana pun dari situs web Career.Support ini atau yang lainnya. ",
    "mobile_services_title": "Layanan Seluler",
    "mobile_services_desc": "Jika Anda menggunakan Situs Career.Support melalui perangkat seluler, Anda setuju bahwa informasi tentang penggunaan Career.Support di Situs perangkat seluler Anda dan operator Anda dapat disampaikan kepada kami, termasuk tetapi tidak terbatas pada operator seluler Anda, perangkat seluler Anda , atau lokasi fisik Anda. Selain itu, penggunaan Situs Career.Support melalui perangkat seluler dapat menyebabkan data ditampilkan di dan melalui perangkat seluler Anda. Dengan mengakses Situs Career.Support menggunakan perangkat seluler, Anda menyatakan bahwa sepanjang Anda mengimpor salah satu dari Career.Support data ke perangkat seluler Anda bahwa Anda memiliki wewenang untuk berbagi data yang ditransfer dengan operator seluler Anda atau penyedia akses lainnya. Jika Anda mengubah atau menonaktifkan akun seluler Anda, Anda harus segera memperbarui informasi akun Career.Support untuk memastikan bahwa pesan Anda tidak dikirim kepada orang yang memperoleh nomor lama Anda dan kegagalan melakukannya adalah tanggung jawab Anda. Anda mengakui bahwa Anda bertanggung jawab atas semua biaya dan izin yang diperlukan terkait dengan mengakses Situs Career.Support melalui penyedia akses seluler Anda. Oleh karena itu, Anda harus memeriksa dengan penyedia Anda untuk mengetahui apakah Situs Career.Support tersedia untuk layanan ini untuk perangkat seluler spesifik Anda.<br>Dengan menggunakan aplikasi apa pun yang dapat diunduh untuk memungkinkan Anda menggunakan Situs Career.Support, Anda secara eksplisit mengonfirmasi penerimaan Anda terhadap ketentuan Perjanjian Lisensi Pengguna Akhir yang terkait dengan Aplikasi yang disediakan saat unduhan atau pemasangan, atau sebagaimana dapat diupgrade dari waktu ke waktu.",
    "term_termination_title": "Ketentuan dan Pengakhiran",
    "term_termination_desc": "Ketentuan ini akan tetap berlaku penuh dan berlaku ketika Anda adalah Pengguna dari Situs Career.Support. Career.Support berhak, atas kebijakannya sendiri, untuk mengejar semua pemulihan hukumnya, termasuk tetapi tidak terbatas pada penghapusan Konten Pengguna Anda dari Situs Career.Support dan penghentian segera pendaftaran Anda dengan atau kemampuan untuk mengakses Situs Career.Support dan / atau layanan lain yang disediakan untuk Anda oleh Career.Support, atas pelanggaran apa pun oleh Anda terhadap Ketentuan ini atau jika Career.Support tidak dapat memverifikasi atau mengautentikasi informasi apa pun yang Anda serahkan ke pendaftaran Situs Career.Support. Bahkan setelah Anda bukan lagi Pengguna Situs Career.Support, ketentuan tertentu dari Ketentuan ini akan tetap berlaku, termasuk Bagian 1, 2, 5, 7 hingga 15, inklusif."
  }
}
</i18n>

<template>
  <div>
    <section class="section terms">
      <div class="container pt-md-9">
        <h1>{{$t('tac_title')}}</h1>
        <p class="text-secondary small bold">{{$t('last_updated')}}</p>
        <hr class="my-4" />
        <p>{{$t('tac_desc')}}</p>
        <h3>{{$t('privacy_title')}}</h3>
        <p>{{$t('privacy_desc')}}</p>
        <h3>{{$t('tou_title')}}</h3>
        <p>{{$t('tou_desc1')}}</p>
        <p>{{$t('tou_desc2')}}</p>
        <p>{{$t('tou_desc3')}}</p>
        <p>{{$t('tou_desc4')}}</p>
        <p>{{$t('tou_desc5')}}</p>
        <p>{{$t('tou_desc6')}}</p>
        <p v-html="$t('tou_desc7')"></p>
        <h3>1. {{$t('cs_content_title')}}</h3>
        <p v-html="$t('cs_content_desc1')"></p>
        <p v-html="$t('cs_content_desc2')"></p>
        <p v-html="$t('cs_content_desc3')"></p>
        <h3>2. {{$t('cs_services_title')}}</h3>
        <p v-html="$t('cs_services_desc1')"></p>
        <h5>{{$t('cs_agreenot_title')}}</h5>
        <p v-html="$t('cs_agreenot_desc')"></p>
        <h3>3. {{$t('additional_term_title')}}</h3>
        <p v-html="$t('additional_term_desc')"></p>
        <h5>{{$t('job_posting_title')}}</h5>
        <p v-html="$t('job_posting_desc')"></p>
        <h5>{{$t('resume_database_title')}}</h5>
        <p v-html="$t('resume_database_desc')"></p>
        <h3>4. {{$t('addterms_jobseeker_title')}}</h3>
        <p v-html="$t('addterms_jobseeker_desc')"></p>
        <h3>5. {{$t('content_submission_title')}}</h3>
        <p v-html="$t('content_submission_desc')"></p>
        <h3>6. {{$t('policy_termination_title')}}</h3>
        <p v-html="$t('policy_termination_desc')"></p>
        <h3>7. {{$t('liability_title')}}</h3>
        <p v-html="$t('liability_desc')"></p>
        <h3>8. {{$t('disclaimer_warranty_title')}}</h3>
        <p v-html="$t('disclaimer_warranty_desc')"></p>
        <h3>9. {{$t('disclaimer_consequential_title')}}</h3>
        <p v-html="$t('disclaimer_consequential_desc')"></p>
        <h3>10. {{$t('limitation_liability_title')}}</h3>
        <p v-html="$t('limitation_liability_desc')"></p>
        <h3>11. {{$t('link_sites_title')}}</h3>
        <p v-html="$t('link_sites_desc')"></p>
        <h3>12. {{$t('no_resale_title')}}</h3>
        <p v-html="$t('no_resale_desc')"></p>
        <h3>13. {{$t('indemity_title')}}</h3>
        <p v-html="$t('indemity_desc')"></p>
        <h3>14. {{$t('addterms_title')}}</h3>
        <p v-html="$t('addterms_desc')"></p>
        <h3>15. {{$t('mobile_services_title')}}</h3>
        <p v-html="$t('mobile_services_desc')"></p>
        <h3>16. {{$t('term_termination_title')}}</h3>
        <p v-html="$t('term_termination_desc')"></p>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Action } from 'vuex-class';

export default class TermAndCondition extends Vue {

  // Action
  @Action('mainLayout')
  private mainLayout: any;

  // LifeCycle
  private created() {
    this.mainLayout();
  }

}
</script>
