<i18n>
{
  "en": {
    "page": "School Search",
    "page_desc": "Find the right partner for you",
    "location_desc": "Select location",
    "school_name_desc": "Type school name",
    "info_list": "We have {count} school partner for you",
    "total_candidate": "Total candidate",
    "search": "Search"
  },
  "id": {
    "page": "Cari Sekolah",
    "page_desc": "Temukan partner terbaik mu",
    "location_desc": "Pilih lokasi",
    "school_name_desc": "Tulis nama sekolah",
    "info_list": "Kami memiliki {count} sekolah rekanan untuk Anda",
    "total_candidate": "Total Kandidat",
    "search": "Cari"
  }
}
</i18n>
<template>
  <div class="SchoolList">
    <section class="SectionCard SectionCardOverlapTop">
      <form>
        <legend>
          {{ $t('page') }}
          <p>
            {{ $t('page_desc') }}
          </p>
        </legend>
        <fieldset>
          <div class="ContainerFit ContainerCenter Center">
            <div class="Grow1 Shrink1">
              <div class="InputShadow">
                <v-select v-model="school_search.city"
                  :placeholder="$t('location_desc')"
                  :options="arrayCity"
                  label="name"/>
              </div>
            </div>
            <div class="Grow3 Shrink3">
              <div class="InputShadow">
                <input type="text"
                    v-model="school_search.school_name"
                    :placeholder="$t('school_name_desc')"/>
              </div>
            </div>
            <div class="Grow1 Shrink1">
              <button type="button"
                      @click="actionSelectAcademyList()">
                {{ $t('search') }}
              </button>
            </div>
          </div>
        </fieldset>

        <span class="CountInfo">
          {{ $t('info_list', {count: pagination_academy.count}) }}
        </span>

        <section class="SectionCard SectionCardList ContainerFit"
            v-for="(academy, index) in array_academy"
            :key="index"
            @click="clickSchool(academy)">
          <div class="ContainerImage Grow0 Shrink0">
            <img :src="academy.logo"/>
          </div>
          <div class="Grow1 Shrink1">
            <h4 v-if="academy">{{ academy.name }}</h4>
            <span class="CompanyName" v-if="academy.school_type">
              {{ academy.school_type.name }}
            </span>
            <span v-if="academy.city">{{ academy.city.name }}, {{ academy.city.province.name }}</span>
          </div>
        </section>

        <pagination-mini-component :count="pagination_academy.count"
                                   :url="pagination_academy.url"
                                   :onClick="clickPage"/>
      </form>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import PaginationMiniComponent from '@/components/paginations/PaginationMini.vue';
import { Action, Getter, State } from 'vuex-class';

@Component({
  components: {
    PaginationMiniComponent,
  },
})
export default class SchoolList extends Vue {

  /* VUEX */

  // ACTION
  @Action('actionSelectAcademyList', { namespace: 'academy' })
  private actionSelectAcademyList: any;
  @Action('actionPaginationAcademyList', { namespace: 'academy' })
  private actionPaginationAcademyList: any;
  @Action('contentLayout')
  private contentLayout: any;

  // GETTER
  @Getter('arrayCity', { namespace: 'misc' })
  private arrayCity: any;

  // STATE
  @State('school_search', { namespace: 'academy'})
  private school_search: any;
  @State('array_academy', { namespace: 'academy'})
  private array_academy: any;
  @State('pagination_academy', { namespace: 'academy' })
  private pagination_academy: any;

  /* INITIALIZATION */

  constructor() {
    super();
  }

  /* LIFECYCLE */

  private created() {
    this.contentLayout();
    this.actionSelectAcademyList();
  }

  /* METHOD */

  private clickSchool(academy: any) {
    const url = `https://${academy.subdomain}.career.support`;
    const win = window.open(url, '_blank');
    (win as unknown as any).focus();
  }

  private clickPage(page: number, url: string) {
    if (url) {
      this.actionPaginationAcademyList({url, page});
    } else {
      this.actionSelectAcademyList();
    }
  }

}
</script>

<style lang="sass" scope>

/* IMPORT STYLESHEET */

@import "../../../assets/Styles/import.sass"
</style>
