<template>
  <div class="PaginationMini">
    <button class="ButtonPagination"
            type="button"
            v-show="isShowPrevious"
            @click="onFirst()">
      &lt;&lt;
    </button>
    <button class="ButtonPagination"
            type="button"
            v-show="isShowPrevious"
            @click="onPrevious()">
      &lt;
    </button>
    <ul>
      <li v-for="(page, index) in allPage"
          v-show="isShow(page)"
          :key="index">
        <button :class="[page === activePage ? 'Active' : '']"
                type="button"
                @click="clickPage(page, url)">
          {{ page }}
        </button>
      </li>
    </ul>
    <button class="ButtonPagination"
            type="button"
            @click="onNext()">
      &gt;
    </button>
    <button class="ButtonPagination"
            type="button"
            @click="onLast()">
      &gt;&gt;
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';

@Component
export default class PaginationMiniComponent extends Vue {
  private activePage: number = 1;

  @Prop({default: 0})
  private count: number;
  @Prop({default: ''})
  private url: string;
  @Prop({default: 10})
  private pageSize: number;
  @Prop({default: (page: number, url: string) => {
    //
  }})
  private onClick: (page: number, url: string) => void;

  constructor() {
    super();
  }

  /* COMPUTED */

  private get allPage() {
    let total = Math.ceil(this.count / this.pageSize);
    total = total ? total : 1;
    return Array.from(Array(total), (x, index) => index + 1);
  }

  private get isShowPrevious() {
    if (this.activePage >= 4) {
      return true;
    }
    return false;
  }

  /* METHOD */

  private clickPage(page: number) {
    this.activePage = page;
    this.onClick(this.activePage, this.url);
  }

  private onLast() {
    this.activePage = this.allPage[this.allPage.length - 1];
    this.onClick(this.activePage, this.url);
  }

  private onNext() {
    this.activePage = this.activePage < this.allPage[this.allPage.length - 1] ? this.activePage + 1 : this.activePage;
    this.onClick(this.activePage, this.url);
  }

  private onPrevious() {
    this.activePage = this.activePage > this.allPage[0] ? this.activePage - 1 : this.activePage;
    this.onClick(this.activePage, this.url);
  }

  private onFirst() {
    this.activePage = this.allPage[0];
    this.onClick(this.activePage, this.url);
  }

  private isShow(page: number) {
    const minPage = this.activePage - 2;
    const maxPage = this.activePage + 2;

    if (this.activePage >= 4) {
      if (page < minPage) {
        return false;
      }

      if (page > maxPage) {
        return false;
      }
    } else {
      if (page > 4) {
        return false;
      }
    }

    return true;
  }
}
</script>
