<template>
  <i class="flag-icon" :class="'flag-icon-'+name"></i>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component
export default class FlagIcon extends Vue {
  @Prop() private name: string;

  constructor() {
    super();
  }
}
</script>

<style lang="sass">
@import url('../../assets/Library/flag-icon-css/flag-icon.min.css')
</style>
