<template>
  <div id="app"
       v-bind:is="layout"
       :logoColor="logoColor">
  </div>
</template>

<script lang="ts">
import $ from 'jquery';
import { Component, Vue, Watch } from 'vue-property-decorator';
import Content from '@/layouts/Content.vue';
import Main from '@/layouts/Main.vue';

import { Action, State } from 'vuex-class';

@Component({
  components: {
    'content-layout': Content,
    'main-layout': Main,
  },
})
export default class App extends Vue {

  /* VUEX */

  // STATE
  @State('layout')
  private layout: string;
  @State('locale')
  private locale: string;

  /* INITIALIZATION */

  private logoColor: boolean = false;

  constructor() {
    super();
  }

  /* WATCHER */

  @Watch('locale')
  private onLocaleChanged() {
    this.$i18n.locale = this.locale;
  }

  /* LIFECYCLE */

  private created() {
    this.$i18n.locale = this.locale;

    const vm = this;

    // For content layout
    $(window).off('scroll').on('scroll', () => {
      const scroll: number = ($(window).scrollTop() as number);
      if (scroll > 72) {
        $('header#navbar').addClass('Fixed');
        vm.logoColor = true;
      }
      if (scroll <= 72) {
        $('header#navbar').removeClass('Fixed');
        vm.logoColor = false;
      }
    });
  }
}
</script>
