@media only screen and (max-width: 920px)
  div.MainLanding, div.ContentLanding
    header#navbar
      padding-top: 10px
      div.ContainerNavigation
        input[type=checkbox]:checked + nav.Navigation
          display: block
        img#logo
          display: block !important
        nav.Navigation
          position: fixed
          z-index: 4
          top: 80px
          right: 20px
          width: 160px !important
          height: auto
          padding: 10px
          display: none
          border-radius: 8px
          background-color: #fff
          +box-shadow(0px 0px 15px 2px rgba(0, 0, 0, 0.6))
          ul
            text-align: right
            display: block !important
            li
              margin-top: 10px !important
              margin-bottom: 10px !important
              display: block !important
              font-size: 1em
              label, a
                color: #404146
        div#navToggle
          display: block
        li#signUp
          border: 1px solid #4682c6
          label
            color: #4682c6
        li#signIn
          background-color: #4682c6
          label
            color: #fff
    header#navbar.Fixed
      padding-top: 0px
  div.MainLanding
    section.SectionBanner
      margin-top: 0 !important
      // img
        // display: none
      div.ContainerBanner
        margin-top: 20px !important
        span
          display: block
  div.ContentLanding
    nav.Navigation
      div.Popup
        right: 170px !important
        +box-shadow(0px 0px 15px 2px rgba(0, 0, 0, 0.6))
        ul
          li
            a
              font-size: 0.8em
    div.Job
      section.SectionHeader
        img
          height: 100%
    div.JobList, div.JobDetail
      section.SectionCard
        margin-right: 40px
        margin-left: 40px
      section.SectionCardOverlapTop
        margin-top: -60px
    div.JobDetail
      div.ContainerCompanyLogo
        width: 120px
        height: 120px
        div
          width: 100px
          height: 100px
          img
            width: 80px
            height: 80px
    section.SectionBanner
      div.ContainerBanner
        margin-right: 100px
        margin-left: 100px
        padding-top: 50px
        span#textBanner, span.TextBanner
          font-size: 2.5em
    section.SectionForm
      margin-right: 80px !important
      margin-left: 80px !important
      div.v-select
        min-width: 150px
    span#textHeaderFeature, span.HeaderWork
      font-size: 1.8em
    section.SectionFeature
      div.ContainerFeature
        flex-direction: column
    section.SectionInformation
      div.ContainerInformation
        span.TitleInformation
          font-size: 1.1em
        span.ItemInformation
          font-size: 3em
