input[type="text"], input[type="password"], input[type="email"], input[type="link"], input[type="number"], input[type="date"], select, textarea
  padding: 0.2rem 0.75rem
  width: 100%
  height: 48px
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: #495057
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: 0.25rem

  &:focus
    outline: none

input[type="search"]
  color: #495057

textarea
  height: 100%


button#buttonJoin
  padding-top: $general_space_small
  padding-bottom: $general_space_small

button#buttonSearch
  margin-top: 25px
  margin-bottom: 0
  padding-top: 15px
  padding-bottom: 15px
  width: 100%

button#buttonApply
  margin: 0
  padding: 10px 25px 10px 25px


.ButtonWidthAuto
  width: auto

.FormPeriod
  height: 48px


/* START - VueTel custom */

.vue-tel-input
  height: 48px
  border-radius: 0.25rem !important
  border: 1px solid #ced4da !important

/* END - VueTel custom */

/* START - vSelect */


div.v-select, div.vue-tel-input
  width: 100%

.vs--searchable .vs__dropdown-toggle
  height: 48px
  border: 1px solid #ced4da

/* END - vSelect */

.DatepickerInline
  margin-bottom: 5px
  display: inline-block

  div
    display: inline-block

    input
      padding-left: 10px
      padding-right: 10px
      border-radius: 0.25rem !important
      border: 1px solid #ced4da !important

.vdp-datepicker
  input
    padding: 8px
    border: 1px solid rgba(60,60,60,.26)
    border-radius: 4px

.tag-custom > .input-tag
  background-color: #c9cac9 !important
  border-radius: 10px !important
  border: 1px solid #c9cac9 !important
  color: #383838 !important
  padding: 4px 8px !important

.tag-custom > .input-tag .remove
  color: #f50000 !important

.tag-custom > .input-tag .remove > span
  margin: 0 5px !important

.v-select .selected-tag .close span:hover
  color: red

.InputSlider
  width: calc(100% - 25px) !important
  display: inline-block !important

/* FAQ SEARCH */

section.SectionSearch
  input[type=text]
    border: 1px solid blue

/* FILE INPUT */

.FileInput
  border: 1px solid #ced4da
  border-radius: 4px
  label
    margin: 0
  span
    margin-left: $general_space_small
    font-size: 1em
    color: #c5bcbc
  input[type=file]
    display: none
  input[type=button]
    margin: $general_space_tiny
    padding: 9px 15px
    font-size: 1rem
    border-radius: 4px
