@media only screen and (max-width: 660px)
  div.MainLanding
    div.Landing
      margin-right: 20px
      margin-left: 20px
      section.SectionCard
        margin-right: 0
        margin-left: 0
      section.SectionBanner
        img
          width: 250px
        div.ContainerBanner
          margin-bottom: 0px
          span
            font-size: 1.5em
          p
            font-size: 1.3em
      section.SectionContent
        margin-top: 60px
  div.ContentLanding
    section.SectionBanner
      div.ContainerBanner
        margin-right: 50px
        margin-left: 50px
        span#textBanner
          margin-top: 50px
    section.SectionForm
      margin-right: 50px !important
      margin-left: 50px !important
    section.SectionCompanyList, section.SectionInformation, section.SectionFeature, section.SectionWork
      padding-left: 15px
      padding-right: 15px
    section.SectionCompanyList
      margin-bottom: 0
      div.ContainerCompanyList
        div.ContainerListLogo
          margin-top: 20px
          margin-bottom: 20px
        img
          max-width: 220px
    section.SectionInformation
      div.ContainerInformation
        flex-direction: column
        padding-top: 20px
        padding-bottom: 20px
    section.SectionFeature
      padding-top: 20px
      padding-bottom: 20px
      div.ContainerFeature
        margin-top: 35px
        margin-right: 20px
        margin-left: 20px
        img
          width: 100px
          height: 100px
        div.ContainerDescriptionFeature
          margin: 0
          padding: 0
          margin-bottom: 25px
          p
            max-width: unset
    section.SectionWork
      span.HeaderWork
        padding: 0px
      img#infographic
        max-width: unset
