a
  color: #007bff
  text-decoration: none
  background-color: transparent
  &:hover
    text-decoration: underline

button#buttonShowMore
  padding-top: 15px
  padding-bottom: 15px

.Link
  position: relative
  padding: $general_space_little
  color: #4681c2

.LinkDownload
  display: flex
  margin-left: auto
  margin-right: $general_space_little
  align-items: center
  justify-content: flex-end

button, input[type="button"], input[type="submit"]
  margin: 10px 5px
  padding: 10px 50px 10px 50px
  border: none
  border-radius: $radius_button_general !important
  color: #fff
  background-color: #4682c6

  &:hover
    cursor: pointer
    cursor: hand

  &:focus
    outline: none

.ButtonExportTransparent
  margin-left: 10px
  margin-right: 10px
  padding: 0
  width: 50px
  height: 50px

#buttonCreateTransparent, #buttonDeleteCloseTransparent, #buttonDeleteOpenTransparent, #buttonRepostTransparent, .ButtonEditTransparent, .ButtonCrossTransparent
  margin-left: 10px
  margin-right: 10px
  padding: 0
  width: 50px
  height: 50px
  float: right

.ButtonApproveTransparent, .ButtonCrossTransparent
  height: 100%

#buttonCreate
  width: auto
  padding-left: calc(30px + 15px)
  padding-right: 15px
  padding-top: 8px
  padding-bottom: 8px

.ModalClose
  position: absolute
  right: 0
  margin-top: $general_space_small
  margin-right: $general_space_small
  width: 28px
  height: 28px
  content: url('~/assets/Icon/Garnet/icon_Cross.svg')
  cursor: pointer
  cursor: hand
