/* @charset "utf-8"; */
/* CSS Document */


// IMPORT
@import form-initialization-general


/* TYPEFACE */

/* PRIMARY */

@font-face
  font-family: $familyprimary_primary
  src: url($url_font_resource + $url_font_primary + $url_familyprimary_primary + '.eot?#iefix') format('embedded-opentype'), url($url_font_resource + $url_font_primary + $url_familyprimary_primary + '.woff2') format('woff2'), url($url_font_resource + $url_font_primary + $url_familyprimary_primary + '.ttf') format('truetype'), url($url_font_resource + $url_font_primary + $url_familyprimary_primary + '.svg') format('svg')
  font-weight: normal
  font-style: normal


@font-face
	font-family: $familyprimary_secondary
	src: url($url_font_resource + $url_font_primary + $url_familyprimary_secondary + '.eot?#iefix') format('embedded-opentype'), url($url_font_resource + $url_font_primary + $url_familyprimary_secondary + '.woff2') format('woff2'), url($url_font_resource + $url_font_primary + $url_familyprimary_secondary + '.ttf') format('truetype'), url($url_font_resource + $url_font_primary + $url_familyprimary_secondary + '.svg') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: $familyprimary_tertiary
	src: url($url_font_resource + $url_font_primary + $url_familyprimary_tertiary + '.eot?#iefix') format('embedded-opentype'), url($url_font_resource + $url_font_primary + $url_familyprimary_tertiary + '.woff2') format('woff2'), url($url_font_resource + $url_font_primary + $url_familyprimary_tertiary + '.ttf') format('truetype'), url($url_font_resource + $url_font_primary + $url_familyprimary_tertiary + '.svg') format('svg')
	font-weight: normal
  font-style: normal

@font-face
	font-family: $familyprimary_quaternary
	src: url($url_font_resource + $url_font_primary + $url_familyprimary_quarternary + '.eot?#iefix') format('embedded-opentype'), url($url_font_resource + $url_font_primary + $url_familyprimary_quarternary + '.woff2') format('woff2'), url($url_font_resource + $url_font_primary + $url_familyprimary_quarternary + '.ttf') format('truetype'), url($url_font_resource + $url_font_primary + $url_familyprimary_quarternary + '.svg') format('svg')
	font-weight: normal
  font-style: normal


/* SECONDARY */
/* cyrillic */
@font-face
  font-family: $url_familysecondary_primary
  font-style: normal
  font-weight: 400
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v8/iJWKBXyIfDnIV7nFrXyi0A.woff2) format('woff2')
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

/* hebrew */
@font-face
  font-family: $url_familysecondary_primary
  font-style: normal
  font-weight: 400
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v8/iJWKBXyIfDnIV7nDrXyi0A.woff2) format('woff2')
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F

/* latin-ext */
@font-face
  font-family: $url_familysecondary_primary
  font-style: normal
  font-weight: 400
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v8/iJWKBXyIfDnIV7nPrXyi0A.woff2) format('woff2')
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: $url_familysecondary_primary
  font-style: normal
  font-weight: 400
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v8/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD



/* SETUP */

img
	border: none

label
	cursor: pointer
	cursor: hand

input[type=button]
	cursor: pointer
	cursor: hand

input[type=submit]
	cursor: pointer
	cursor: hand

input[type=reset]
	cursor: pointer
	cursor: hand

*
	+transition(all, 0.25s, ease-out)

/**
	transition-property: position, margin, width, height, padding, background-color, opacity, border
	-ms-transition-property: position, margin, width, height, padding, background-color, opacity, border
	-moz-transition-property: position, margin, width, height, padding, background-color, opacity, border
	-o-transition-property: position, margin, width, height, padding, background-color, opacity, border
	-webkit-transition-property: position, margin, width, height, padding, background-color, opacity, border
	transition-duration: 0.75s
	-ms-transition-duration: 0.75s
	-moz-transition-duration: 0.75s
	-o-transition-duration: 0.75s
	-webkit-transition-duration: 0.75s
	transition-movement: ease-out
	-ms-transition-movement: ease-out
	-moz-transition-movement: ease-out
	-o-transition-movement: ease-out
	-webkit-transition-movement: ease-out*/

/* body
        +transition(all, 0, linear) */

*, :after, :before
  box-sizing: border-box


/* NEUTRALIZE */

h1, h2, h3, h4, h5, h6, p, mark, ol, ul, li
	margin: auto
	padding: auto
  font-weight: inherit
  color: inherit
	text-decoration: inherit
  text-transform: inherit


/* SEMANTIC ELEMENTS */

body
    position: relative
    margin: 0px
    padding: 0px

form
  fieldset
    min-width: 0
    padding: 0
    margin: 0
    border: 0

// CONDITIONER

/* FLEX */

.ContainerFit, .ContainerLeft, .ContainerRight, .ContainerWrap
	display: flex
	align-content: stretch
	align-items: stretch
.ContainerFit, .ContainerLeft, .ContainerRight, .ContainerTop
	flex-wrap: nowrap
.ContainerWrap
	flex-wrap: wrap
.ContainerTop
  display: flex
  align-content: stretch
  align-items: flex-start
.ContainerBottom
  align-items: flex-end

[class*='Grow']
  flex-basis: 100px
.Grow0
  flex-grow: 0
.Grow1
	flex-grow: 1
.Grow2
	flex-grow: 2
.Grow3
	flex-grow: 3
.Grow4
	flex-grow: 4
.Grow5
	flex-grow: 5
.Shrink0
	flex-shrink: 0
.Shrink1
	flex-shrink: 1
.Shrink2
	flex-shrink: 2
.Shrink3
	flex-shrink: 3
.Shrink4
	flex-shrink: 4
.Shrink5
	flex-shrink: 5
.ContainerFit
	justify-content: space-between
.ContainerLeft
  justify-content: flex-start
.ContainerRight
  justify-content: flex-end
.ContainerCenterRight
  justify-content: flex-end
  align-items: center
.ContainerCenterLeft
  justify-content: flex-start
  align-items: center
.ContainerCenter
  justify-content: center
  align-content: center
  align-items: center
.Vertical
	flex-direction: column
.Horizontal
	flex-direction: row

/* SIZE */

.Wrap
	min-width: auto !important
	width: auto !important
	max-width: auto !important
.Tiny
	min-width: $size_width_tiny
	width: $size_width_tiny
.Short
	min-width: $size_width_short
	width: $size_width_short
.Small
	min-width: $size_width_medium * 0.75
	width: $size_width_medium * 0.75
.Medium
	min-width: $size_width_medium
	width: $size_width_medium
.Long
	min-width: $size_width_long
	width: $size_width_long
.Full
	min-width: $size_width_full
	width: $size_width_full

.TinyFix
	width: $size_width_short
	max-width: $size_width_short
.ShortFix
	width: $size_width_short
	max-width: $size_width_short
.SmallFix
	width: $size_width_medium * 0.75
	max-width: $size_width_medium * 0.75
.MediumFix
	width: $size_width_medium
	max-width: $size_width_medium
.LongFix
	width: $size_width_long
	max-width: $size_width_long
.FullFix
	width: $size_width_full
	max-width: $size_width_full

.WrapAsTable
	display: table

.FloatRight
	float: right
	margin-left: $general_space_medium
.FloatLeft
	float: left
	margin-right: $general_space_medium

/* ALIGNEMNT */

.Center
	text-align: center
.Left
	text-align: left
.Right
	text-align: right
.Justify
	text-align: justify
.Top
	vertical-align: top
.Middle
	vertical-align: middle
.Bottom
	vertical-align: bottom


/* DISPLAY */

.Inline
	display: inline

.Relative
	position: relative

.Column
	margin-right: $general_space_medium

.Column:last-of-type
	margin-right: 0px


/* SPACE */

.Padding
	margin: $general_space_tiny

.IndentFirst
	margin-left: $general_space_small

.Margin
  margin: $general_space_tiny

.MarginLabelContact
  margin-top: $general_space_little
  margin-bottom: $general_space_little

.PaddingLeftLarge
	padding-left: $general_space_large

.MarginTopMedium
  margin-top: $general_space_medium

.MarginTopMultipleHuge
  margin-top: $general_space_huge * 2 !important

.MarginRightHuge
	margin-right: $general_space_huge !important

.MarginBottomMedium
  margin-bottom: $general_space_medium

.MarginLeftMedium
  margin-left: $general_space_medium

.MarginLeftFortyMedium
  margin-left: $general_space_medium * 4

.Underline
	text-decoration: underline

.MarginEdgeEmpty
	margin-top: 0px !important
	margin-bottom: 0px !important

/* POSITIONER */

.PositionerRight
	float: right
	vertical-align: top

.PositionerLeft
	float: left
	vertical-align: top

.PositionerCenterHorizontal
	position: relative
	margin: auto

.PositionerCenterVertical
    margin: 0
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

/* CONDITION */

.Hide
	display: none

.Show
	display: block

.TableScroll
  overflow: auto

.DisplayBlock
  display: block

.ClearBoth
  clear: both


// ANIMATION

@keyframes rotateHourglass
	0%
		+rotateZ(0deg)
	40%
		+rotateZ(180deg)
	60%
		+rotateZ(180deg)
	100%
    +rotateZ(360deg)

