/* MAIN LANDING */

div.MainLanding
  section.SectionBanner
    span
      font-size: 2em
    p
      font-size: 1.6em
  section.SectionCard
    span.Header
      font-size: 1.8em
    span.HeaderPartner
      font-size: 1.2em
  section.SectionCompany
    span.Item
      font-size: 3em

/* NAVIGATION */

nav.Navigation
  ul
    li
      font-size: $fontsize_link_navigationbutton
      &:hover, &.Active
        font-weight: $fontweight_tertiary
  div.Popup#popupLanguage
    font-size: 0.6em
    font-weight: normal
    ul
      li
        &:hover, &.Active
          font-weight: normal
  div.Popup
    ul
      li
        a
          font-size: 0.6em
          font-weight: normal

section.SectionCardList
  span
    font-size: 0.95em


/* SPAN */

span#textBanner, span.TextBanner
  font-size: 2.8em

span.DescriptionBanner
  font-size: 2em

span#textCompanyList
  font-size: 1.9em

span#textHeaderFeature
  font-size: 2.2em
  font-weight: $fontweight_primary

span.HeaderFeature
  font-size: 1.5em
  font-weight: $fontweight_primary

span.TitleInformation
  font-size: 1.2em

span.ItemInformation
  font-size: 4em
  font-weight: $fontweight_primary

span.HeaderWork
  font-size: 2.5em
  font-weight: $fontweight_primary

section.SectionCardList
  span.TotalCandidate
    font-size: 1.5em
    font-weight: $fontweight_primary

/* BUTTON */

button#buttonJoin
  font-size: 1.8em
  font-weight: normal

button, input[type="button"], input[type="submit"]
  font-size: $fontsize_button_general
  font-weight: $fontweight_tertiary

/* FORM */

form
  legend
    font-size: $fontsize_legend_general
    font-weight: $fontweight_tertiary
    p
      font-size: $fontsize_paragraph_legend
      font-weight: normal
  label
    font-size: $fontsize_label_general
  span
    font-size: $fontsize_span_form


header.HeaderCard
  font-size: $fontsize_header_job_detail
  font-weight: $fontweight_secondary
  p
    font-size: $fontsize_paragraph_general
    font-weight: normal

.TitleCard
  font-size: $fontsize_span_title_card
  font-weight: $fontweight_primary

section.SectionHeader
  h2
    font-size: $fontsize_header_h2
    font-weight: $fontweight_secondary

section.SectionTab
  nav
    ul
      li
        font-size: 24px
        font-weight: 500

/* SECTION CARDLIST */

section.SectionCardList
  h4
    font-size: $fontsize_header_h4
    font-weight: $fontweight_secondary
  span.CompanyName, span.SchoolName, span#countryName, span.Position
    font-size: $fontsize_span_job_company_name
    font-weight: $fontweight_primary
  label
    font-size: $fontsize_label_general
    font-weight: $fontweight_primary


/* JOB DETAIL AND COMPANY PROFILE */

.JobDetail
  header
    font-size: unset
    font-weight: normal
    h2
      font-size: $fontsize_header_h2
      font-weight: $fontweight_primary
    h4
      font-size: $fontsize_header_h4
      font-weight: normal
  .Content
    p
      font-size: $fontsize_paragraph_general
      font-weight: normal
    a
      font-size: 1.2em
      font-weight: normal


/* PAGINATION */
.PaginationMini
  .ButtonPagination
    font-family: inherit
    font-size: normal

/* FAQ LIST */

.FAQList
  div.ContainerFAQ
    div
      section.SectionFAQItem
        label
          font-size: $fontsize_label_faq_item
          font-weight: $fontweight_tertiary

/* MISCELLANEUS */

.CountInfo
  font-size: $fontsize_span_job_count_info
  font-weight: $fontweight_secondary

.NotFound
  font-size: $fontsize_span_not_found
  font-weight: $fontweight_primary
  text-align: center

/* PROPERTIES */

.Badge
  font-size: $fontsize_span_badge
  font-weight: $fontweight_primary

.Badge, .UploadProgress
  i
    font-size: 1.2em
    font-weight: normal
    font-style: normal

.NewsDetail
  article
    h1
      font-size: 2em
    h2
      font-size: 1.5em
    h3
      font-size: 1.17em
    h4
      font-size: 1.12em
    h5
      font-size: .83em
    h6
      font-size: .75em

