@import form-setup

div.MainLanding
  // position: relative
  // width: 100%
  // height: 100%
  // overflow-y: auto
  img#backgroundImage
    position: fixed
    width: 100%
    height: 100%
    object-fit: cover
  header#navbar
    position: relative
    padding-top: 40px
    div.ContainerNavigation
      margin-left: 20px
      margin-right: 20px
  header#navbar.Fixed
    position: fixed
    padding-top: 0px
  div.Landing
    position: relative
    overflow: hidden
    section.SectionBanner
      margin-top: 40px
      text-align: center
      img
        width: 350px
      div.ContainerBanner
        margin-top: 0
        margin-bottom: 0
        display: block
        max-width: 100%
        p
          max-width: 650px
    section.SectionCard
      img.ImageCircle
        position: absolute
        border-radius: 50%
        width: 390px
        top: -30px
      ul
        margin: 0
        padding: 0
        padding-left: 15px
      span.Header
        display: block
        margin-bottom: 10px
      span.HeaderPartner
        display: block
        margin-top: 20px
    div.ContainerPartner
      margin-top: $general_space_medium
    section.SectionCandidate, section.SectionCompany
      img.ImageCircle
        left: -40px
    section.SectionSchool
      section.SectionCard
        img.ImageCircle
          right: -40px
    section.SectionCandidate, section.SectionSchool, section.SectionCompany
      position: relative
      margin-top: 100px
      margin-bottom: 100px
      div.ContainerLearnMore
        display: flex
        flex-direction: column
        justify-content: center
        button
          padding: 10px
      img
        position: relative
        width: 80px
    section.SectionCandidate
      section.SectionCard
        div.ContainerCandidate
          margin-left: 225px
    section.SectionSchool
      section.SectionCard
        div.ContainerSchool
          margin-right: 200px
    section.SectionCompany
      section.SectionCard
        div.ContainerCompany
          margin-left: 225px
        span.Item
          display: block
    section.SectionContent
      margin-top: 80px
      div.ContainerContent
        padding: 10px
        border-radius: 8px
        ul
          margin: 0
          padding: 0
          list-style: none
          li
            margin-top: 10px
            margin-bottom: 10px
            border-radius: 5px
            &:first-child
              margin-top: 0px
            &:last-child
              margin-bottom: 0px
            label
              padding: 10px
              img.ArrowRight
                float: right
                display: inline-block
                width: 40px
                height: 40px
            input[type=radio]
              display: none
            input[type=radio]:checked+div.Content
              display: flex
            div.Content
              display: none
              padding: 10px
              padding-top: 60px
              img
                max-width: 500px
              div.Grow1
                &:first-child
                  margin-right: 15px
                &:last-child
                  margin-left: 15px
                  button
                    max-width: 220px
                    margin: 25px auto
                    display: block
                  p
                    margin-top: 50px

/* NAVIGATION */
header#navbar
  position: absolute
  width: 100%
  height: 60px
  padding-top: 15px
  z-index: 1
  div.ContainerNavigation
    li#signUp, li#signIn
      border-radius: 8px
      padding: 5px 20px 5px 20px
    li#signUp
      border: 1px solid #fff
    li#signIn
      background-color: #fff
      label
        color: #7c7c7c
  input[type=checkbox]
    display: none
  &.Fixed
    padding-top: 0
    position: fixed
    top: 0
    z-index: 4
    div.ContainerNavigation
      li#signUp
        border: 1px solid #4682c6
        label
          color: #4682c6
      li#signIn
        background-color: #4682c6
        label
          color: #fff
  img
    display: inline-block
    max-width: 200px
  div.ContainerNavigation
    margin-right: $general_space_medium
    margin-left: $general_space_medium
    div#navToggle
      button
        margin: 0
        padding: 0
        background-color: transparent
        float: right
        img
          width: 48px
          height: 48px
    nav.Navigation
      width: 100%
      ul
        margin: 0 10px 0 auto
        padding: 0
        height: 100%
        display: flex
        align-items: center
        align-content: center
        justify-content: flex-end
        li
          margin: 0px 15px 0px 15px
          height: 100%
          display: inline-block
          list-style-type: none
          a
            text-decoration: none
          & input:checked ~ div.Popup
            display: block
          div#popupSignup
            right: 195px
          div#popupSignin
            right: 100px
          div#popupLanguage
            right: 60px
            width: 150px
            ul
              li
                padding: 5px
                color: #7c7c7c
          div.Popup
            position: absolute
            top: 70px
            width: 200px
            height: auto
            display: none
            border-width: 1px
            border-style: solid
            border-radius: 8px
            ul
              width: 100%
              margin: 0 !important
              max-width: 100% !important
              display: block
              li
                margin: 0px
                display: block
                cursor: pointer
                cursor: hand
                &:hover, &.Active
                  background-color: #eee
                  color: #009efb
                &:first-child
                  border-top-right-radius: 8px
                  border-top-left-radius: 8px
                &:last-child
                  border-bottom-right-radius: 8px
                  border-bottom-left-radius: 8px
                a
                  padding: $general_space_small
                  border-bottom-width: 0
                span
                  padding: 0
                  display: inline-block
                div.ContainerFit
                  padding: 15px
                  img
                    max-width: 100px
              li#navigationProfile
                a
                  padding: 5px 10px 5px 10px
                  border-radius: 12px
          input
            display: none
          span
            padding: $general_space_small
            height: 100%
            display: block
            *
              vertical-align: middle
            img
              width: 35px
              height: 35px
              border-radius: 50%

div.Candidate, div.Company, div.School
  section.SectionBanner
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    width: 100%
    height: auto
    div#shapeTriangle
      width: 100%
      height: 85px
      background-color: #fff
      clip-path: polygon(0 100%,100% 100%,100% 0,100% 0)
    div.ContainerBanner
      margin-right: 150px
      margin-left: 150px
      padding-top: 100px
      padding-bottom: 100px
      span
        display: block
      span#textBanner
        margin-top: 80px
        margin-bottom: 20px
      span.TextBanner
        &:first-child
          margin-top: 80px
      span.DescriptionBanner
        margin-bottom: 20px

div.Candidate
  section.SectionBanner
    background-image: url('~/assets/Photo/header_candidate.jpg')

div.Company
  section.SectionBanner
    background-image: url('~/assets/Photo/header_company.jpg')

div.School
  section.SectionBanner
    background-image: url('~/assets/Photo/background_school.jpg')

div.ContainerListLogo
  margin-top: $general_space_large
  margin-right: $general_space_large * 2
  margin-left: $general_space_large * 2
  margin-bottom: $general_space_little
  div
    margin-top: $general_space_medium
    margin-right: $general_space_large * 2
    margin-left: $general_space_large * 2
    margin-bottom: $general_space_medium
    img
      max-width: 152px

div.ContainerFeature
  margin-top: $general_space_medium
  margin-right: $general_space_large * 2
  margin-left: $general_space_large * 2
  align-items: stretch
  div.ContainerIcon
    img
      width: 150px
      height: 150px
  div.Grow1
    margin-left: $general_space_medium
    margin-right: $general_space_medium
    div.ContainerDescriptionFeature
      margin-top: $general_space_medium
      margin-bottom: $general_space_small
      padding-top: $general_space_medium
      span.HeaderFeature
        margin-bottom: $general_space_small
        display: inline-block
      p
        max-width: 500px

div.ContainerInformation
  margin-bottom: $general_space_large
  padding-top: 64px
  padding-bottom: 64px
  span.TitleInformation
    margin-bottom: $general_space_small
  span
    display: block
    text-align: center

div.ContainerWork
  margin-top: $general_space_large
  margin-bottom: $general_space_large

section.SectionForm
  position: relative
  margin-top: -150px !important

section.SectionCard
  margin-top: $general_space_medium
  margin-right: $general_space_large * 4
  margin-bottom: $general_space_medium
  margin-left: $general_space_large * 4
  padding: $general_space_medium
  border-radius: 8px
  +box-shadow(0px 0px 30px 1px rgba(0,0,0,0.10))
  span.TitleCard
    padding: $general_space_small
    padding-left: 25px
    display: block
    border-bottom-width: 1px
    border-bottom-style: solid

section.SectionCardList
  margin-left: 0 !important
  margin-right: 0 !important
  cursor: pointer
  cursor: hand
  span
    display: block
  span.Posted
    display: inline-block
    float: right
  div.ContainerImage
    margin-right: $general_space_little
    img
      margin: $general_space_little
      max-width: 100px
      max-height: 100px
      object-fit: contain
  div.ContainerTotalCandidate
    display: flex
    flex-direction: column
    float: right
    text-align: right
    justify-content: center

section.SectionCompanyList
  margin-top: $general_space_large
  margin-bottom: $general_space_medium
  padding-top: $general_space_large
  padding-right: 20px
  padding-left: 20px
  padding-bottom: $general_space_little
  text-align: center

section.SectionFeature
  padding-top: $general_space_medium
  padding-bottom: $general_space_medium
  span#textHeaderFeature
    padding-top: $general_space_large
    display: block

section.SectionInformation
  background-color: transparent
  background-image: url('~/assets/Photo/background_stats.jpg')
  background-size: cover
  background-repeat: no-repeat
  div.ContainerInformation
    width: 100%

section.SectionWork
  padding-bottom: $general_space_medium
  span.HeaderWork
    padding-top: $general_space_large
  span
    display: block
  span.HeaderWork
    margin-bottom: $general_space_thin
  img#infographic
    margin-top: 25px
    max-width: 45%

section.SectionHeader
  img
    width: 100%

div.Job, div.School
  button
    padding: 15px 50px 15px 50px
  .vs--searchable .vs__dropdown-toggle, input[type=text]
    border: none
  div.InputShadow
    border-radius: 8px
    background-color: #fff
    +box-shadow(0px 0px 15px 2px rgba(0,0,0,0.10))

  section.SectionCardOverlapTop
    position: relative
    margin-top: -80px
  section.SectionCard
    margin-right: $general_space_large * 2
    margin-left: $general_space_large * 2

form
  fieldset
    margin-top: $general_space_medium
    div.Grow1, div.Grow3
      margin-right: $general_space_small
      margin-left: $general_space_small
      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0


span.CountInfo
  display: block
  margin-top: $general_space_large

/* PAGINATION */
.PaginationMini
  margin: 20px auto
  padding: 0 10px
  max-width: 350px
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  .ButtonPagination
    margin-left: 5px
    margin-right: 5px
    padding: 0
    width: 30px
    border-width: 1px
    border-style: solid
    border-radius: 5px
    cursor: pointer
    cursor: hand
  ul
    margin: 0
    padding: 0
    width: 100px
    display: flex
    flex-grow: 1
    flex-shrink: 1
    flex-direction: row
    align-items: center
    justify-content: space-around
    vertical-align: middle
    list-style-type: none
    li
      button
        margin-left: 5px
        margin-right: 5px
        padding: 3px 10px 5px 10px
        width: 30px
        max-height: 30px
        border-width: 1px
        border-style: solid
        border-radius: 5px
        cursor: pointer
        cursor: hand
        &:hover, &.Active
          border: none

div.JobDetail
  header
    margin-top: $general_space_medium
    position: relative
    text-align: center
    span
      display: block
      &:nth-child(3)
        margin-top: $general_space_small
    p
      margin-top: $general_space_medium
      text-align: left
  section.SectionCardDetail
    padding: 0
    span.TitleWithButton
      display: flex
      justify-content: space-between
      align-items: center
    form.Content
      padding: $general_space_medium
      label
        display: block
    form#contentJobDetail
      div
        margin-bottom: $general_space_little
      a
        cursor: pointer
        cursor: hand

/* COMPANY LOGO */

.ContainerCompanyLogo
  position: relative
  top: calc(-200px / 2)
  bottom: calc(-200px / 2)
  margin: 0 auto
  margin-bottom: calc(-200px / 2)
  padding: 8px
  width: 160px
  height: 160px
  border-width: 2px
  border-style: solid
  border-radius: 50%
  input
    display: none
  div
    padding: 10px
    border-radius: 50%
    width: 140px
    height: 140px
    img
      width: 120px
      height: 120px
      border-radius: 50%

footer
  padding: $general_space_small
  text-align: center
