/* SCROOL BAR */

html, body
  color: #7c7c7c
  ::-webkit-scrollbar-thumb
    background-color: darkgrey
    outline-color: slategrey
  ::-moz-scrollbar-thumb
    background-color: darkgrey
    outline-color: slategrey
  ::-o-scrollbar-thumb
    background-color: darkgrey
    outline-color: slategrey
  ::-ms-scrollbar-thumb
    background-color: darkgrey
    outline-color: slategrey

// body
//   background-color: blue

div.MainLanding
  // background-image: linear-gradient(#fff 50%, #4782c3)
  header#navbar
    a
      color: #4681c3
  section.SectionBanner
    color: #4681c3
  div.ContainerLearnMore
      button
        background-color: #ec1966
  section.SectionCard
    +box-shadow(0px 0px 10px 1px rgba(70, 129, 195, 0.42))
    color: #4681c3
  section.SectionContent
    div.ContainerContent
      background-color: #d0d4dd8a
      ul
        li
          color: #4682c4
          background-color: #d0d4dd
          div.Content
            background-color: #fff
            p
              color: #4682c4

/* NAVIGATION */
header
  background-color: transparent
  label
    margin-bottom: 0
  a, label
    color: #fff
  &.Fixed
    background-color: #fff
    +box-shadow(0px 0px 10px 1px rgba(0,0,0,0.3))
    a, label
      color: #7c7c7c
  div.Popup
    background-color: #fff
    border-color: #eee
    ul
      li
        &:hover
          a
            color: #27aaff
        a
          color: #7c7c7c

span#textBanner, span.TextBanner
  color: #fff

span.DescriptionBanner
  color: #fff

button#buttonJoin
  background-color: #fff
  color: #27aaff

button#buttonSearch, button#buttonShowMore
  background-color: #584cff
  background-image: linear-gradient(90deg, #584cff, #3198ff)

section.SectionFeature
  background-color: #f5f5f5

section.SectionWork, section.SectionInformation
  background-color: #fff

section.SectionCard, section.SectionCompanyList
  background-color: #fff
  span.TitleCard
    border-bottom-color: #e3e3e3

div.ContainerInformation
  color: #fff

/* COMPANY LOGO */

.ContainerCompanyLogo
  background-color: #f0f0f0
  border-color: #ed1966
  div
    background-color: #fff
  #uploadImage
    &:hover
      background-color: #847979

/* PAGINATION */

.PaginationMini
  .ButtonPagination
    background-color: #fff
    color: #8c8c8c
    border-color: #666767
  ul
    li
      button
        background-color: #fff
        color: #8c8c8c
        border-color: #666767
        &:hover, &.Active
          background-color: #4682c6
          color: #fff

footer
  background-color: #4682c6
  color: #fff
