@media only screen and (max-width: 1100px)
  div.MainLanding
    section.SectionCard
      margin-left: 50px
      margin-right: 50px
      span.Header
        margin-top: 20px
      div.ContainerCandidate, div.ContainerSchool, div.ContainerCompany
        margin-left: 0 !important
        margin-right: 0 !important
        div.ContainerLearnMore
          align-items: center
    section.SectionCandidate, section.SectionSchool, section.SectionCompany
      margin-top: 150px !important
      margin-bottom: 150px !important
    img.ImageCircle
      position: relative !important
      top: 0 !important
      left: 0 !important
      right: 0 !important
      margin-top: -125px
      margin-right: auto
      margin-left: auto
      display: block
      width: 250px !important
      height: 250px
    div.ContainerPartner
      flex-direction: column
