#buttonCreateTransparent
  background-color: transparent
  background-image: url('~/assets/Icon/Shapphire/icon_Create.svg')
  background-repeat: no-repeat
  background-position: left 5px center
  background-size: 50px 50px

#buttonRepostTransparent
  background-color: transparent
  background-image: url('~/assets/Icon/Shapphire/icon_Repost.svg')
  background-repeat: no-repeat
  background-position: left 5px center
  background-size: 50px 50px

.ButtonEditTransparent
  background-color: transparent
  background-image: url('~/assets/Icon/Shapphire/icon_Edit.svg')
  background-repeat: no-repeat
  background-position: left 5px center
  background-size: 50px 50px

.ButtonCrossTransparent
  background-color: transparent
  background-image: url('~/assets/Icon/Garnet/icon_Cross.svg')
  background-repeat: no-repeat
  background-position: left 0px center
  background-size: 50px 20px

.ButtonApproveTransparent
  background-color: transparent
  background-image: url('~/assets/Icon/Shapphire/icon_CheckList_(no_border).svg')
  background-repeat: no-repeat
  background-position: left 5px center
  background-size: 50px 50px

.ButtonExportTransparent
  background-color: transparent
  background-image: url('~/assets/Icon/Shapphire/icon_Export.svg')
  background-repeat: no-repeat
  background-position: left 5px center
  background-size: 38px 38px

.ButtonFlagTransparent
  padding: 0
  width: 20px
  height: 20px
  background-color: transparent
  background-image: url('~/assets/Icon/Shapphire/icon_Flag.svg')
  background-repeat: no-repeat
  background-position: left 5px center

.ButtonDownloadTransparent
  padding: 0
  width: 38px
  height: 38px
  background-color: transparent
  background-image: url('~/assets/Icon/Shapphire/icon_Download.svg')
  background-repeat: no-repeat
  background-position: left 5px center

#buttonDeleteOpenTransparent
  background-color: transparent
  background-image: url('~/assets/Icon/Garnet/icon_DeleteOpen.svg')
  background-repeat: no-repeat
  background-position: left 5px center
  background-size: 50px 50px

#buttonDeleteCloseTransparent
  background-color: transparent
  background-image: url('~/assets/Icon/Garnet/icon_DeleteClose.svg')
  background-repeat: no-repeat
  background-position: left 5px center
  background-size: 50px 50px

#buttonCreate
  background-color: #1275af
  border: none
  border-radius: 8px
  background-image: url('~/assets/Icon/Shapphire/icon_Create.svg')
  background-repeat: no-repeat
  background-position: left 5px center
  background-size: 30px 30px

#domainCheckInput
  background-image: url('~/assets/Icon/Shapphire/icon_RegistrationCross.svg')
  background-repeat: no-repeat
  background-position: right 10px center
  background-size: 20px 20px

#domainCheckInput.Valid
  background-image: url('~/assets/Icon/Shapphire/icon_RegistrationChecklist.svg')

.ArrowDown
  width: 0px
  height: 0px
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-top: 10px solid blue

.FAQ

  .ContainerCategory

    &:hover, &.Active
      img
        content: url('~/assets/Icon/Sullivan/icon_Person.svg')

    img
      content: url('~/assets/Icon/Shapphire/icon_Person.svg')
      width: 100px
      height: 100px

.CandidateDetail
  #candidateProfile
    ul#contact
      #phone, #email
        width: 48px
        height: 48px
      #phone
        content: url('~/assets/Icon/Garnet/icon_HandPhone.svg')
      #email
        content: url('~/assets/Icon/Garnet/icon_Email.svg')
