.ContentLanding
  font-family: $familyprimary_primary


button, input[type="button"], input[type="submit"], .btn, .action
  font-family: $familyprimary_tertiary


div.MainLanding
  section.SectionBanner
    span
      font-family: $familyprimary_tertiary
  section.SectionContent
    label
      font-family: $familyprimary_secondary

nav.Navigation
  div
    ul
      li
        a
          font-family: $familyprimary_tertiary

.UpgradeAccount
  .SectionCard
    h3
      font-family: $familyprimary_secondary
    span
      font-family: $familyprimary_tertiary

div.MainLanding
  section.SectionCompany
    span.Item
      font-family: $familyprimary_tertiary
  section.SectionCard
    span.Header
      font-family: $familyprimary_tertiary
    span.HeaderPartner
      font-family: $familyprimary_secondary
