input, optgroup, select, textarea
  font-family: $familysecondary_primary

.btn-pagination
  font-family: $familysecondary_primary

/* FAQ */

.FAQ
  .FAQArrow
    font-family: $familysecondary_primary

/* DASHBOARD */

.Dashboard
  .SectionSuccessStories
    .ButtonSuccessStories
      font-family: $familysecondary_primary

/* PAGINATION */

.PaginationMini
  font-family: $familysecondary_primary

/* PROPERTIES */

.Badge, .UploadProgress
  i
    font-family: $familysecondary_primary
