// Mixins

=transition($property, $duration, $movement)
	transition: ($property) ($duration) ($movement)
	-ms-transition: ($property) ($duration) ($movement)
	-moz-transition: ($property) ($duration) ($movement)
	-o-transition: ($property) ($duration) ($movement)
	-webkit-transition: ($property) ($duration) ($movement)

=transform($transform)
  transform: $transform
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform
  -o-transform: $transform

=transform-origin($transform-origin)
  transform-origin: $transform-origin
  -webkit-transform-origin: $transform-origin
  -moz-transform-origin: $transform-origin
  -ms-transform-origin: $transform-origin
  -o-transform-origin: $transform-origin

=box-shadow($box-shadow)
  box-shadow: $box-shadow
  -webkit-box-shadow: $box-shadow
  -moz-box-shadow: $box-shadow
  -ms-box-shadow: $box-shadow
  -o-box-shadow: $box-shadow

=rotateX($rotateX)
	transform: rotateX($rotateX)
	-ms-transform: rotateX($rotateX)
	-moz-transform: rotateX($rotateX)
	-o-transform: rotateX($rotateX)
	-webkit-transform: rotateX($rotateX)

=rotateY($rotateY)
	transform: rotateY($rotateY)
	-ms-transform: rotateY($rotateY)
	-moz-transform: rotateY($rotateY)
	-o-transform: rotateY($rotateY)
	-webkit-transform: rotateY($rotateY)

=rotateZ($rotateZ)
	transform: rotateZ($rotateZ)
	-ms-transform: rotateZ($rotateZ)
	-moz-transform: rotateZ($rotateZ)
	-o-transform: rotateZ($rotateZ)
	-webkit-transform: rotateZ($rotateZ)
