.ql-container
  box-sizing: border-box
  font-family: Helvetica, Arial, sans-serif
  font-size: 13px
  height: 100%
  margin: 0px
  position: relative
  &.ql-disabled .ql-tooltip
    visibility: hidden
  &:not(.ql-disabled) li
    &[data-list=checked] > .ql-ui, &[data-list=unchecked] > .ql-ui
      cursor: pointer

.ql-clipboard
  left: -100000px
  height: 1px
  overflow-y: hidden
  position: absolute
  top: 50%
  p
    margin: 0
    padding: 0

.ql-editor
  box-sizing: border-box
  counter-reset: list-0
  line-height: 1.42
  height: 100%
  outline: none
  overflow-y: auto
  padding: 12px 15px
  tab-size: 4
  -moz-tab-size: 4
  text-align: left
  white-space: pre-wrap
  word-wrap: break-word
  > *
    cursor: text
  p, ol, pre, blockquote, h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0
  p, h1, h2, h3, h4, h5, h6
    counter-reset: list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
  table
    border-collapse: collapse
  td
    border: 1px solid #000
    padding: 2px 5px
  ol
    padding-left: 1.5em
  li
    list-style-type: none
    padding-left: 1.5em
    position: relative
    > .ql-ui:before
      display: inline-block
      margin-left: -1.5em
      margin-right: 0.3em
      text-align: right
      white-space: nowrap
      width: 1.2em
    &[data-list=checked] > .ql-ui, &[data-list=unchecked] > .ql-ui
      color: #777
    &[data-list=bullet] > .ql-ui:before
      content: '\2022'
    &[data-list=checked] > .ql-ui:before
      content: '\2611'
    &[data-list=unchecked] > .ql-ui:before
      content: '\2610'
    &[data-list=ordered]
      counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
      counter-increment: list-0
      > .ql-ui:before
        content: counter(list-0, decimal) ". "
      &.ql-indent-1
        counter-increment: list-1
        > .ql-ui:before
          content: counter(list-1, lower-alpha) ". "
        counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
      &.ql-indent-2
        counter-increment: list-2
        > .ql-ui:before
          content: counter(list-2, lower-roman) ". "
        counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9
      &.ql-indent-3
        counter-increment: list-3
        > .ql-ui:before
          content: counter(list-3, decimal) ". "
        counter-reset: list-4 list-5 list-6 list-7 list-8 list-9
      &.ql-indent-4
        counter-increment: list-4
        > .ql-ui:before
          content: counter(list-4, lower-alpha) ". "
        counter-reset: list-5 list-6 list-7 list-8 list-9
      &.ql-indent-5
        counter-increment: list-5
        > .ql-ui:before
          content: counter(list-5, lower-roman) ". "
        counter-reset: list-6 list-7 list-8 list-9
      &.ql-indent-6
        counter-increment: list-6
        > .ql-ui:before
          content: counter(list-6, decimal) ". "
        counter-reset: list-7 list-8 list-9
      &.ql-indent-7
        counter-increment: list-7
        > .ql-ui:before
          content: counter(list-7, lower-alpha) ". "
        counter-reset: list-8 list-9
      &.ql-indent-8
        counter-increment: list-8
        > .ql-ui:before
          content: counter(list-8, lower-roman) ". "
        counter-reset: list-9
      &.ql-indent-9
        counter-increment: list-9
        > .ql-ui:before
          content: counter(list-9, decimal) ". "
  .ql-indent-1:not(.ql-direction-rtl)
    padding-left: 3em
  li.ql-indent-1:not(.ql-direction-rtl)
    padding-left: 4.5em
  .ql-indent-1.ql-direction-rtl.ql-align-right
    padding-right: 3em
  li.ql-indent-1.ql-direction-rtl.ql-align-right
    padding-right: 4.5em
  .ql-indent-2:not(.ql-direction-rtl)
    padding-left: 6em
  li.ql-indent-2:not(.ql-direction-rtl)
    padding-left: 7.5em
  .ql-indent-2.ql-direction-rtl.ql-align-right
    padding-right: 6em
  li.ql-indent-2.ql-direction-rtl.ql-align-right
    padding-right: 7.5em
  .ql-indent-3:not(.ql-direction-rtl)
    padding-left: 9em
  li.ql-indent-3:not(.ql-direction-rtl)
    padding-left: 10.5em
  .ql-indent-3.ql-direction-rtl.ql-align-right
    padding-right: 9em
  li.ql-indent-3.ql-direction-rtl.ql-align-right
    padding-right: 10.5em
  .ql-indent-4:not(.ql-direction-rtl)
    padding-left: 12em
  li.ql-indent-4:not(.ql-direction-rtl)
    padding-left: 13.5em
  .ql-indent-4.ql-direction-rtl.ql-align-right
    padding-right: 12em
  li.ql-indent-4.ql-direction-rtl.ql-align-right
    padding-right: 13.5em
  .ql-indent-5:not(.ql-direction-rtl)
    padding-left: 15em
  li.ql-indent-5:not(.ql-direction-rtl)
    padding-left: 16.5em
  .ql-indent-5.ql-direction-rtl.ql-align-right
    padding-right: 15em
  li.ql-indent-5.ql-direction-rtl.ql-align-right
    padding-right: 16.5em
  .ql-indent-6:not(.ql-direction-rtl)
    padding-left: 18em
  li.ql-indent-6:not(.ql-direction-rtl)
    padding-left: 19.5em
  .ql-indent-6.ql-direction-rtl.ql-align-right
    padding-right: 18em
  li.ql-indent-6.ql-direction-rtl.ql-align-right
    padding-right: 19.5em
  .ql-indent-7:not(.ql-direction-rtl)
    padding-left: 21em
  li.ql-indent-7:not(.ql-direction-rtl)
    padding-left: 22.5em
  .ql-indent-7.ql-direction-rtl.ql-align-right
    padding-right: 21em
  li.ql-indent-7.ql-direction-rtl.ql-align-right
    padding-right: 22.5em
  .ql-indent-8:not(.ql-direction-rtl)
    padding-left: 24em
  li.ql-indent-8:not(.ql-direction-rtl)
    padding-left: 25.5em
  .ql-indent-8.ql-direction-rtl.ql-align-right
    padding-right: 24em
  li.ql-indent-8.ql-direction-rtl.ql-align-right
    padding-right: 25.5em
  .ql-indent-9:not(.ql-direction-rtl)
    padding-left: 27em
  li.ql-indent-9:not(.ql-direction-rtl)
    padding-left: 28.5em
  .ql-indent-9.ql-direction-rtl.ql-align-right
    padding-right: 27em
  li
    &.ql-indent-9.ql-direction-rtl.ql-align-right
      padding-right: 28.5em
    &.ql-direction-rtl
      padding-right: 1.5em
      > .ql-ui:before
        margin-left: 0.3em
        margin-right: -1.5em
        text-align: left
  table
    table-layout: fixed
    width: 100%
    td
      outline: none
  .ql-code-block-container
    font-family: monospace
  .ql-video
    display: block
    max-width: 100%
    &.ql-align-center
      margin: 0 auto
    &.ql-align-right
      margin: 0 0 0 auto
  .ql-bg-black
    background-color: #000
  .ql-bg-red
    background-color: #e60000
  .ql-bg-orange
    background-color: #f90
  .ql-bg-yellow
    background-color: #ff0
  .ql-bg-green
    background-color: #008a00
  .ql-bg-blue
    background-color: #06c
  .ql-bg-purple
    background-color: #93f
  .ql-color-white
    color: #fff
  .ql-color-red
    color: #e60000
  .ql-color-orange
    color: #f90
  .ql-color-yellow
    color: #ff0
  .ql-color-green
    color: #008a00
  .ql-color-blue
    color: #06c
  .ql-color-purple
    color: #93f
  .ql-font-serif
    font-family: Georgia, Times New Roman, serif
  .ql-font-monospace
    font-family: Monaco, Courier New, monospace
  .ql-size-small
    font-size: 0.75em
  .ql-size-large
    font-size: 1.5em
  .ql-size-huge
    font-size: 2.5em
  .ql-direction-rtl
    direction: rtl
    text-align: inherit
  .ql-align-center
    text-align: center
  .ql-align-justify
    text-align: justify
  .ql-align-right
    text-align: right
  .ql-ui
    position: absolute
  &.ql-blank::before
    color: rgba(0, 0, 0, 0.6)
    content: attr(data-placeholder)
    font-style: italic
    left: 15px
    pointer-events: none
    position: absolute
    right: 15px
