<template>
  <div class="MainLanding">
    <navbar-component/>
    <router-view/>
    <footer-component />
  </div>
</template>

<script lang="ts">
import $ from 'jquery';
import Swiper from 'swiper';
import { Component, Vue, Prop } from 'vue-property-decorator';
import NavbarComponent from '@/components/layouts/main/Navbar.vue';
import FooterComponent from '@/components/layouts/content/Footer.vue';
import { bubbles, Bubbles } from '@/functions/stripe-bubbles.function';
import { StripeMenu, StripeMenuPopup } from '@/functions/stripe-menu.function';

@Component({
  components: {
    NavbarComponent,
    FooterComponent,
  },
})
export default class Main extends Vue {

  /* PROP */

  @Prop({default: false})
  private logoColor: boolean;


  /* INITIALIZATION */

  private bubblesEl: any;

  constructor() {
    super();
  }

  /* LIFECYCLE */

  private created() {
    $(document).ready(() => {
      const stripeMenu = new StripeMenu('.st-nav');
      const stripeMenuPopup = new StripeMenuPopup('.st-nav .st-nav-section.st-nav-mobile');
      this.navbarSticky();
      $(window).on('scroll', this.navbarSticky);

      // SCROLLING NAVIGATION
      // Enable smooth transition animation when scrolling

      $('a.scrollto').on('click', function(event: any) {
        event.preventDefault();

        const scrollAnimationTime = 1200;
        const target = (this as any).hash;

        $('html, body').stop().animate({
          scrollTop: (($(target).offset() as any).top as number) - 45,
        }, scrollAnimationTime, 'easeInOutExpo', () => {
          window.location.hash = target;
        });
      });

      const bubblesEl = document.querySelector('.bubbles-container');
      this.bubblesEl = new Bubbles(bubbles, (bubblesEl as any));

      // Swiper Initialization/

      $('.swiper-container').each(function() {
        const $this = $(this);
        const boolData = {
          breakpoints: $this.data('sw-breakpoints'),
          active_selector: $this.data('sw-active-selector'),
          cover_flow: $this.data('sw-coverflow'),
          auto_play: $this.data('sw-autoplay'),
          loop: $this.data('sw-loop'),
          centered: $this.data('sw-centered-slides'),
          pagination: $this.data('sw-pagination'),
          nav_arrows: $this.data('sw-nav-arrows'),
        };

        const breakPoints = boolData.breakpoints || false;
        const auto_play = boolData.auto_play !== undefined ? boolData.auto_play : false;
        const speed = $this.data('sw-speed') || 1100;
        const effect = $this.data('sw-effect') || 'slide';
        const showItems = $this.data('sw-show-items') || 1;
        const loop = boolData.loop !== undefined ? boolData.loop : true;
        const centered = boolData.centered !== undefined ? boolData.centered : true;
        const spaceBetween = $this.data('sw-space-between') || (showItems > 1 ? 20 : 0);
        const scrollItems = $this.data('sw-scroll-items') || 1;
        const navigationElement = $this.data('sw-navigation');
        const navigationActiveClass = $this.data('sw-navigation-active') || 'active';
        const navigationActiveSelector = boolData.active_selector !== undefined ? boolData.active_selector : false;
        const paginationCss = boolData.pagination !== undefined ? boolData.pagination : '.swiper-pagination';
        const navigationCss = boolData.nav_arrows !== undefined ? boolData.nav_arrows : '.swiper-button';

        const coverflow = boolData.cover_flow ? {
          coverflowEffect: $.extend({
            stretch: 0,
            depth: 0,
            modifier: 1,
            rotate: 0,
            slideShadows: false,
          }, boolData.cover_flow),
        } : {};

        const autoplay = auto_play ? {
          autoplay: {
            delay: auto_play,
            disableOnIteration: false,
          },
          speed,
        } : {};

        const pagination: any = {};

        if (paginationCss) {
          pagination.pagination = {
            el: paginationCss,
            clickable: true,
            dynamicBullets: true,
          };
        }

        if (navigationCss) {
          pagination.navigation = {
            nextEl: navigationCss + '-next',
            prevEl: navigationCss + '-prev',
          };
        }

        let events = {};

        if (navigationElement) {
          events = {
            transitionEnd: () => {
              /* tslint:disable */
              if (!navigationElement) return;
              /* tslint:enable */

              const $navigationElement = $(navigationElement);

              if (navigationActiveSelector) {
                  $(
                    navigationActiveSelector + '.' + navigationActiveClass,
                    $navigationElement,
                  ).removeClass(navigationActiveClass);
                  $(
                    '.nav-item:eq(' + swiper.realIndex + ') ' + navigationActiveSelector,
                    $navigationElement,
                  ).addClass(navigationActiveClass);
              } else {
                  $('.' + navigationActiveClass, $navigationElement).removeClass(navigationActiveClass);
                  $('.nav-item:eq(' + swiper.realIndex + ')', $navigationElement).addClass(navigationActiveClass);
              }
            },
          };
        }

        const options = $.extend({
          loop,
          slidesPerGroup: scrollItems,
          spaceBetween,
          centeredSlides: centered,
          breakpoints: breakPoints,
          slidesPerView: showItems,
          parallax: true,
          effect,
        }, pagination, autoplay, coverflow);

        const swiper = new Swiper (this, options);

        for (const e in events) {
          if (e) {
            swiper.on((e as any), (events as any)[e]);
          }
        }

        if (navigationElement) {
          $(navigationElement).on('click', '.nav-item', function(evt) {
            evt.preventDefault();

            const $item = $(this);
            let $activeItem = $item;

            if (navigationActiveSelector) {
              $activeItem = $(navigationActiveSelector, $item);
            }

            if ($activeItem.hasClass(navigationActiveClass)) {
              return false;
            }

            const index = $item.data('step') || $item.index() + 1;
            swiper.slideTo(index);

            if (navigationActiveSelector) {
              $item.siblings().each(function() {
                ($(navigationActiveSelector, this) as any).removeClass(navigationActiveClass);
              });

              $activeItem.addClass(navigationActiveClass);
            } else {
              $item.siblings('.' + navigationActiveClass).removeClass(navigationActiveClass);
              $item.addClass(navigationActiveClass);
            }

            return false;
          });
        }
      });
    });
  }

  /* METHOD */

  // private navbarSticky() {
  //   // navbar reference
  //   const $navbar = $('.main-nav');
  //   const stickyPoint = 90;
  //   if (($(window).scrollTop() as number) >= stickyPoint) {
  //     $navbar.addClass('navbar-sticky');
  //   } else {
  //     $navbar.removeClass('navbar-sticky');
  //   }
  // }

  private navbarToggler() {
    const $navbar = $('.main-nav');
    $navbar.toggleClass('navbar-expanded');
  }

}
</script>

<style lang="sass">
@import "../assets/Theme/DashCore/css/all.css"
@import "../assets/Theme/DashCore/css/aos.css"
@import "../assets/Theme/DashCore/css/cookieconsent.min.css"
@import "../assets/Theme/DashCore/css/magnific-popup.css"
@import "../assets/Theme/DashCore/css/odometer-theme-minimal.css"
@import "../assets/Theme/DashCore/css/prism-okaidia.css"
@import "../assets/Theme/DashCore/css/simplebar.css"
@import "../assets/Theme/DashCore/css/smart_wizard.css"
@import "../assets/Theme/DashCore/css/smart_wizard_theme_arrows.css"
@import "../assets/Theme/DashCore/css/smart_wizard_theme_circles.css"
@import "../assets/Theme/DashCore/css/smart_wizard_theme_dots.css"
@import "../assets/Theme/DashCore/css/swiper.css"
@import "../assets/Theme/DashCore/css/theme.css"
@import "../assets/Theme/DashCore/css/custom.css"
</style>
